[2015-05-21 13:56] romankarl commented on #343
Almost. The second point is a supplement to #333.

[2015-05-21 14:34] anjackson commented on #334
Okay, sorry for the continuing silly questions from me - where are you getting the license links from? These are emails returned from the website owners?

Also, did the UI throw any errors while you were creating and sending the requests?

[2015-05-21 14:37] nicolabingham commented on #334
@anjackson no problem. @dorotawalker can confirm this - we are getting the links in emails forwarded to us from website owners. Not sure about the error when creating/sending requests but I don't think we get any.

[2015-05-21 14:53] dorotawalker commented on #334
I haven't seen any errors when sending requests, but for some records the status doesn't change, so they are 'Queued' instead of 'Pending'.

[2015-05-21 15:40] anjackson commented on #334
The status shown on the Crawl Permissions tab of the Target, right? For some reason, that comes from a separate part of the database than the actual status of the crawl permission request.

I've been working on improving the UI and the logging, and I think we might have to push out a minor bugfix release and wait for it to happen again so we can try to work out what's happening.

[2015-05-21 21:59] anjackson commented on #334
I've changed the UI so that Archivist can reset the Target License Status in cases where it's gone awry completely. See 04668c8

[2015-05-21 22:37] anjackson opened #344 "Allow Archivist to reset license status"
To help deal with #334, we add the ability to reset the license status so Archivist can correct when things go wrong.

[2015-05-21 22:38] anjackson commented on #334
Okay, moving this back to following bugfix release, as we need an intermediate release to allow us to debug. See #344

[2015-05-21 22:42] anjackson commented on #322
Cannot reproduce this. Has it been fixed, @romankarl?

[2015-05-22 06:39] romankarl commented on #322
Yes, it has beed fixed the same day I reported it (8ce781cee36c74baa3047f620b6b0dd08b38efe2).

[2015-05-22 06:40] #322 closed

[2015-05-22 09:48] anjackson commented on #339
Can't reproduce this on local dev. Will await @GilHoggarth's work on making /actdev/ more realistic before attempting to continue.

[2015-05-22 10:23] dorotawalker commented on #334
Today's permissions:

https://www.webarchive.org.uk/act/targets/15452 went through without any problems;

https://www.webarchive.org.uk/act/targets/19273 problems with the link https://www.webarchive.org.uk/act/ukwa/licenseform/4c10f3e9-ee00-42ad-92ad-165fae8af73f  -    Execution exception[[ActException: CrawlPermission Not Found found for token: 4c10f3e9-ee00-42ad-92ad-165fae8af73f]]

[2015-05-22 10:41] anjackson commented on #334
Argh, right I think I've got it.

Please don't edit any Targets right now.

It seems that editing a Target after a Crawl Permission has been sent out causes the Crawl Permission to get lost - disconnected from the Target.  After this, it will then get deleted! This is very bad.

[2015-05-22 10:43] nicolabingham commented on #334
@anjackson thanks. Should I send a message to all W3ACT users telling them not to edit Targets, or is it just permissions we have to stop?

[2015-05-22 10:43] dorotawalker commented on #334
Ok, thanks Andy.

[2015-05-22 10:43] anjackson commented on #334
Do not edit targets. Permissions can be sent, but editing targets will wipe them out.

[2015-05-22 10:45] nicolabingham commented on #334
@anjackson Ok, does this mean we can't edit any aspect of Targets?

[2015-05-22 10:45] anjackson commented on #334
Yes, if they have a crawl permission underway.

[2015-05-22 10:47] nicolabingham commented on #334
@anjackson OK, I will communicate this to the W3ACT users. Just to clarify: creating Targets at the moment is ok, but editing (changing a Target after saving it) is to be stopped for the time being. How long should we keep off editing Targets for?

[2015-05-22 10:49] anjackson commented on #334
It will be at least a few working days.

[2015-05-22 11:29] anjackson commented on #334
Okay, going to split the lost-crawl-permissions off into a separate ticket for 1.0.3, and we'll leave this open on 1.0.4 in case the other class of problem (mysteriously changed licence URL rather than lost license URL) reappears.

[2015-05-22 11:33] anjackson commented on #334
Note that this bug means that we are going to have to check for GRANTED licences that have lost their crawl permissions and either try to re-created them from backups, or go back to the website owners again, as we currently have no records that verify the licenses were given to us.

[2015-05-22 11:34] anjackson opened #345 "Updating a Target causes crawl permissions to be lost and deleted"
Some objects are not in the Target web form, and these seem to get lost when the Target data is updated. For example, as seen in #334, if you make a crawl permission and then later edit the Target, the crawl permission list is replaced with an empty list. The framework notices this and then 'helpfully' deletes the corresponding permissions.

I have worked around this, here: https://github.com/ukwa

[2015-05-22 12:00] GilHoggarth commented on #345
Assigned to Reporter for testing on actdev. When testing successful, please add the label "1 - Ready" to this ticket.

[2015-05-22 12:00] GilHoggarth commented on #332
Assigned to Reporter for testing on actdev. When testing successful, please add the label "1 - Ready" to this ticket.

[2015-05-22 12:00] GilHoggarth commented on #344
Assigned to Reporter for testing on actdev. When testing successful, please add the label "1 - Ready" to this ticket.

[2015-05-22 12:01] GilHoggarth commented on #328
Assigned to Reporter for testing on actdev. When testing successful, please add the label "1 - Ready" to this ticket.

[2015-05-22 12:01] GilHoggarth commented on #340
Assigned to Reporter for testing on actdev. When testing successful, please add the label "1 - Ready" to this ticket.

[2015-05-22 12:01] GilHoggarth commented on #335
Assigned to Reporter for testing on actdev. When testing successful, please add the label "1 - Ready" to this ticket.

[2015-05-22 12:02] GilHoggarth commented on #325
Assigned to Reporter for testing on actdev. When testing successful, please add the label "1 - Ready" to this ticket.

[2015-05-22 12:03] GilHoggarth commented on #329
Assigned to Reporter for testing on actdev. When testing successful, please add the label "1 - Ready" to this ticket.

[2015-05-22 12:03] GilHoggarth commented on #341
Assigned to Reporter for testing on actdev. When testing successful, please add the label "1 - Ready" to this ticket.

[2015-05-22 13:01] nicolabingham commented on #328
@GilHoggarth The check box is available in an existing Target record but is not available in a new Target record. In the new Target record the robots.txt field still appears as a text input box, it should be available as a check box here also.

[2015-05-22 13:07] nicolabingham commented on #328
@GilHoggarth I just created another Target record. On completing the first Overview tab of the Target record and then hitting save, the robots.txt check box is available in the Crawl Policy Tab. It is a bit annoying to have to save the record then open it up again to bring up the check box. Is it possible to make the check box available without saving the record?

[2015-05-22 13:07] anjackson commented on #345
Okay on actdev. @romankarl suggested another child item that needed to be fixed.

[2015-05-22 13:08] anjackson commented on #345
Added, okay to go ahead now.

[2015-05-22 13:09] GilHoggarth commented on #328
Assigned back to 'developer' for further work.

[2015-05-22 13:18] anjackson opened #346 "Refactor Target editing code to make it more stable and maintainable"
Problems with Target editing code:

1. Form/data object re-use lead to #345 and #334
2. Separate edit and new forms with massive reproduction of code, over and above the heavy near-reproduction of code between edit and view.

[2015-05-22 13:22] anjackson commented on #328
Updated. I didn't realise the 'edit' and 'new' code for Targets was separate. Massive duplication of fiddly template logic. Logging as #346 for future attention.

@GilHoggarth - please redeploy latest changes to /actdev/ for testing.

[2015-05-22 13:22] nicolabingham commented on #332
I tried to add an additional seed (https://supporters.labour.org.uk/) to Target record, http://www.webarchive.org.uk/actdev/targets/5101. I still get the error message "Seed URL already associated with another Target http://www.webarchive.org.uk/actdev/targets/5101". The error is referencing the Target that I am trying to add the seed to.

[2015-05-22 13:29] nicolabingham commented on #332
I cannot add a description to this target http://www.webarchive.org.uk/actdev/targets/22226. When adding a description (Description field, Metadata tab) and saving I get the error message "Seed URL already associated with another Target http://www.webarchive.org.uk/actdev/targets/22226"

[2015-05-22 13:40] anjackson commented on #339
I'll test this first.

[2015-05-22 13:52] anjackson commented on #339
Works for me.

[2015-05-22 13:54] anjackson commented on #328
Looks good to me. Over to Nicola.

[2015-05-22 14:06] anjackson commented on #332
Running a re-deploy to test.

[2015-05-22 14:13] anjackson commented on #332
okay, I think that's fixed now.

[2015-05-22 15:38] nicolabingham commented on #328
This works in a new Target now.

[2015-05-22 15:42] nicolabingham commented on #332
Tested again. Am able to save the Targets tested above.

[2015-05-22 15:42] GilHoggarth commented on #335
Checking this issue again on actdev01 shows just 2 listings for this mmdb file. From reading the lsof manpage I believe these 2 represent the data handle for the mmdb in memory and the data handle of the directory file. Thus this looks fixed on actdev01.

[2015-05-22 15:46] nicolabingham commented on #339
Works on /actdev/

[2015-05-26 09:18] PsypherPunk commented on #340
Working on /actdev.

[2015-05-26 09:19] anjackson opened #347 "Sanity check for missing crawl permission data"
Bug #345 caused data to be lost wrt crawl permissions. Is it possible to add a check that looks at all licensed material and finds those that are lacking a crawl permission.

[2015-05-26 09:46] PsypherPunk commented on #341
Going to need a little more information here. The `licenseStatus` and `field_license` are still seeminly blank—what _should_ be appearing in the export?

[2015-05-26 09:47] PsypherPunk commented on #329
Information showing under the `nominating_organisation` field.

[2015-05-26 09:48] PsypherPunk commented on #325
Verified on /actdev.

[2015-05-26 10:02] anjackson commented on #341
e.g. http://www.webarchive.org.uk/actdev/api/targets/2998 - see crawl_permission field and the licence beneath.

[2015-05-26 10:40] anjackson commented on #334
To confirm, once 1.0.3 is released, we should go back to using W3ACT as normal, and keep an eye on things in case there is another bug.

[2015-05-26 11:38] anjackson opened #348 "Consider adding 'highlights' to the data model"
We have a common case where users want to add specific URLs to collections on targets we already know about. This is particularly common for news sites.

In these case, adding full Targets for each seems rather heavyweight. We could instead find an elegant way of adding just (URL, Time-range, Collection). These might behave like Instances, rather than Targets, but where the Instance data is not re

[2015-05-26 12:58] anjackson commented on #319
Also, the license form supplies a 'Date' field, the purpose of which should be clarified. This is presumably the 'signing' date.

[2015-05-27 09:27] anjackson commented on #347
Works: https://www.webarchive.org.uk/act/reports/consistencyChecks

[2015-05-27 09:27] #347 closed

[2015-05-27 09:29] anjackson commented on #344
Looks good.

[2015-05-27 09:30] #344 closed

[2015-05-27 09:34] anjackson commented on #345
Edited [my own Target](https://www.webarchive.org.uk/act/targets/4031) and it's all good.

[2015-05-27 09:34] #345 closed

[2015-05-27 09:40] nicolabingham commented on #332
Tested again. Is fixed now.

[2015-05-27 09:40] #332 closed

[2015-05-27 09:42] GilHoggarth commented on #335
I believe this issue appears mainly under significant load so this is difficult to test. However, whilst the WA team are testing the v1.0.3 release, the mmdb file is only held open in memory twice (which is the expected number.) Closing.

[2015-05-27 09:42] #335 closed

[2015-05-27 09:43] PsypherPunk commented on #341
Confirmed working in live.

[2015-05-27 09:43] #341 closed

[2015-05-27 09:45] nicolabingham commented on #328
Tested on live for both new and existing targets. This is fixed now.

[2015-05-27 09:45] #328 closed

[2015-05-27 09:45] PsypherPunk opened #349 "Better Validation for Target Titles"
It appears to be possible to create Targets with seemingly blank titles (e.g. [this one](https://www.webarchive.org.uk/act/targets/26535)). It looks like the title is actually a single space character; whether created by the web interface or the API, we need to make sure that mandatory fields are better validated to avoid this.

[2015-05-27 09:47] PsypherPunk commented on #340
Confirmed working in live.

[2015-05-27 09:47] #340 closed

[2015-05-27 09:48] PsypherPunk commented on #329
Confirmed working in live.

[2015-05-27 09:48] #329 closed

[2015-05-27 09:48] PsypherPunk commented on #325
Confirmed working in live.

[2015-05-27 09:48] #325 closed

[2015-05-27 10:03] nicolabingham commented on #339
Working on live

[2015-05-27 10:03] #339 closed

[2015-05-27 10:59] anjackson commented on #331
So, the logic here is that the Controller should go and talked to a web service to find our what's been crawled. For the Open UK Web Archive, it looks like this:

http://www.webarchive.org.uk/wayback/archive/xmlquery.jsp?url=http://www.bl.uk/

which tells how often a given page has been archived, or

http://www.webarchive.org.uk/wayback/archive/xmlquery.jsp?type=prefixquery&url=http://www.bl.uk/

[2015-05-27 11:02] anjackson commented on #331
Note that the Wayback location is in the dev config, but is now correct! https://github.com/ukwa/w3act/blob/master/conf/dev.conf#L48 should read:

    application.wayback.query.url="http://www.webarchive.org.uk/wayback/archive/xmlquery.jsp?url="

[2015-05-27 12:44] PsypherPunk commented on #293
Confirmed working on live.

[2015-05-27 12:44] #293 closed

[2015-05-27 13:24] PsypherPunk commented on #331
Similarly, can the "Crawled URL(s)" (3rd column in the screenshot above) be implemented? It currently shows as zero for everything.

Also, is the parenthetical 's' really necessary?

[2015-05-27 13:26] anjackson commented on #331
It depends. Yes, if we have X pendant(s) around.

[2015-05-27 14:19] dorotawalker commented on #334
I've just sent a couple of permission requests and one came back with an error:

![error message](https://cloud.githubusercontent.com/assets/12541602/7838241/bf4f3bf6-0483-11e5-9399-671c64618bb3.jpg)

[2015-05-27 14:41] dorotawalker commented on #334
That's for the record https://www.webarchive.org.uk/act/targets/2993.

[2015-05-27 14:42] dorotawalker commented on #334
Also we to have the Green Party in the OUKWA, but the permission is not in ACT https://www.webarchive.org.uk/act/targets/3061
http://www.webarchive.org.uk/ukwa/target/108088/source/search

[2015-05-27 14:43] anjackson opened #350 "Errors noticed in live logs of 1.0.3 release"
First, column misconfiguration, it seems:

[code]

Second, a loop:

[code]

Thirds, a complication (as reported in #334):

[code]

[2015-05-27 14:45] anjackson commented on #334
Do we also have a separate issue here, where Targets owned by BL and imported from WCT do not have any kind of license set up correctly?

[2015-05-27 14:49] nicolabingham commented on #334
@dorotawalker do we have a licence for the Green Party on WCT/ SPT? some sites on display in the Open UKWA were archived under a n&t basis.

[2015-05-27 14:53] nicolabingham commented on #334
regarding the Green Party licence issue, it looks like we have permission for http://www.greenparty.org.uk/ (migrated from WCT) but the Target in W3ACT has additional seeds for which I think we don't have licences, for: https://www.greenparty.org.uk/ and http://greenparty.org.uk/,

[2015-05-27 14:54] dorotawalker commented on #334
There is a licence in STP ID 143878 and it was Migrated From Access Database and there is a record in WCT ID 108088.
What's n&t :)?

[2015-05-27 14:54] nicolabingham commented on #334
@dorotawalker, sorry, "notice and takedown"

[2015-05-27 14:59] anjackson commented on #334
So, I don't actually know if _any_ of the data imported form WCT/SPT has the License field set correctly. It may well only be the content that's had permissions processed through ACT that have been set up right.

[2015-05-27 15:25] anjackson commented on #334
Okay, going to roll out a fix for the exception Dorota noticed, as 1.0.4.

[2015-05-27 15:28] anjackson opened #351 "Add consistency check for empty start dates"
Add a scan to the consistency check report that looks for empty or silly start dates.

Continuation of #242

[2015-05-27 15:29] anjackson commented on #242
Fixed, and moving future work to a new ticket.

[2015-05-27 15:29] #242 closed

[2015-05-27 15:31] anjackson commented on #277
I think this has all been lost following upgrade of OpenWayback. Pushing back to future release.

[2015-05-27 15:34] anjackson commented on #321
Issue of importing ACT collection data is an internal issue logged in TRAC as 2475. The functionality is now in place, I believe.

[2015-05-27 15:34] #321 closed

[2015-05-27 16:26] #350 closed

[2015-05-28 07:31] PsypherPunk commented on #277
Changes rolled out to w3act's OpenWayback installation (changes in the `wayback-qa` subdirectory of the `waybacks` project).

[2015-05-28 07:31] #277 closed

[2015-05-28 14:25] PsypherPunk opened #352 "Problems with Start-date?"
Jennie has reported that when attempting to set a start-date at to 28th May 2015 at 16:00 the system is saving the time as 15:00.

Looking in the export both the `StartDate` fields are showing 15:00:

    crawlStartDateText: "28-05-2015 15:00",
    crawlStartDateISO: "2015-05-28T15:00:00Z"

If the system's converting it to UTC that should be fine but it's causing confusion when being displayed bac

[2015-05-29 16:27] anjackson opened #353 "Use link rel=up header to help catch gov.uk Documents"
In alphagov/whitehall#2202 the GDSTeam where kind enough to add an additional feature that will help us tie PDF (or other) resources to their landing pages. This is likely to be more robust than our current backtracking mechanism (although that will still be required in order to associate documents with series titles via Watched Targets, for now).

This ticket does not strictly apply to this codeb

[2015-06-03 10:37] anjackson commented on #353
@PsypherPunk Please let Jennie know when these changes are available for testing.

[2015-06-03 12:39] niladreeb commented on #331
The Target Look Up tab is enhanced. Now there are two tabs "Crawled URL(s)" and "Crawl Number" which gives the value of total no of URLs crawled and the exact number that specific URL is crawled respectively. On click of the numbers the respective www.webarchive.org site is opened.

Implemented this for the open UK web archive.

[2015-06-03 12:49] anjackson opened #354 "Ensure API/code is sufficient to allow full import of data"
We need to import all Targets, Collections, and Permissions from WCT and SPT. I'd like to import the audit trail from SPT too, if possible.

This relates to this internal milestone: http://tickets.wa.bl.uk/trac/milestone/Decommission%20WCT/SPT

[2015-06-03 13:01] anjackson commented on #300
Closing this in that case.

[2015-06-03 13:01] #300 closed

[2015-06-03 13:02] anjackson opened #355 "Expert Users able to edit robots.txt settings"
From #244, Expert_Users should be able to edit robots.txt settings.

[2015-06-03 13:02] #244 closed

[2015-06-03 13:17] anjackson commented on #331
Looks pretty good. I suggest you change the 'Crawl Number' to 'Crawled Instances', and modify the method names from show and show1 to match, e.g. getTotalCrawledUrls and getTotalCrawledInstances.

[2015-06-03 13:33] anjackson opened #356 "Review inherited permissions system"
We have mis-attributed permissions from Twitter accounts (see #334) and erroneous inheritance behaviours (see #333 and '343). The permission inheritance system need to be reviewed and any erroneously assigned permissions should be revoked.

Additional requirements:

* When editing a target that has a unlicensed parent, the UI should encourage the license to be sought at the parent level.
* When pe

[2015-06-03 14:44] niladreeb commented on #331
Its done

[2015-06-03 15:35] anjackson commented on #343
Says something along the lines of 'no need to apply for a license because...', like the Twitter ones (e.g. https://www.webarchive.org.uk/act/targets/16194#licensing).

[2015-06-03 15:40] anjackson commented on #356
Okay, so this was really rather a mess. Code was inheriting licenses based on things like QA Status and URL length (the latter being why the Twitter ones are messed up).

The actual License field appears only to be updated when the parent license is submitted, which is obviously nonsense, as new children may be added later. So that code has been removed. Other 'higher' or 'lower' licences code was

[2015-06-04 09:16] niladreeb opened #357 "Exceptions when viewing and editing instances"
When we go to the instance list of a target, it gives the option of viewing and editing the instance. As per the standard if we try to view or save the instance without setting the value, it should show 'None', but the page is giving Null Pointer Exception.

[2015-06-04 09:36] anjackson commented on #331
Looks good. There is one more piece of functionality that was implemented on the old system that I think we should include now. Underneath the search bar, but above the result table, it would be good to show the Wayback results for the query URL.  The idea is that, even if we don't have that precise URL in a Target already, you still get to see what holdings we have in Wayback.

A simple horizonta

[2015-06-04 10:03] niladreeb commented on #357
The error was happening because of the qaIssue tag in the view.scala html page. The Null check condition was erroneous. Now its solved.

[2015-06-04 13:35] niladreeb commented on #331
The new piece of functionality is implemented. Now below the search bar, 'Crawled Instances: X and Crawled URL(s): Y' are shown for the searched URLs even if the URL is not in a Target.

[2015-06-04 14:17] anjackson commented on #331
Minor tweaks - Crawled instances should point at the wayback/*/URL page not the prefix query.  The table columns have the opposite problem, so the Crawled URL(s) column should point to the prefix query.

Also, consider centring the new block, and not showing it at all if there is no URL query.

[2015-06-04 16:37] niladreeb commented on #331
Tweaks implemented and code pushed in git

[2015-06-05 09:48] niladreeb commented on #355
Fixed. The permission to edit the Robots.txt setting is now available to expert_users.

[2015-06-05 10:42] niladreeb commented on #311
@anjackson Added the bookmarklet to the footer of the lookup page. Let me know if further enhancements are required.

[2015-06-05 10:57] anjackson commented on #356
So, I've made some headway, adding a new slightly over-simplistic system for inheriting licenses, in commit d4ece25.

[2015-06-05 11:02] anjackson commented on #356
I'm going to hand this over to @niladreeb to see if we can some up with some decent tests for this. I'd like tests at two levels:

1 - at a mocked-up database level, I'd like a test that looks for an inherited license before and after adding licensed 'parent' to a DB.
2 - ideally, I'd like a browser-based test that actually adds Targets and checks the state makes sense.

(2) might be too much for

[2015-06-05 11:26] anjackson commented on #356
Note also that when editing a target that has a unlicensed parent, the UI should encourage the license to be sought at the parent level.

[2015-06-05 11:28] anjackson commented on #356
There were some errors in my code, but I just pushed 66e1645 and I think it works okay now. Ready for test code.

[2015-06-05 15:44] niladreeb commented on #356
@anjackson--- Tested on browser level and got some issues. Attached the doc file in slack

[2015-06-06 09:42] anjackson commented on #356
So, these tests have illustrated the following problems with the current implementation:

* No distinction between inheritance of NPLD or permissions-based licensing. This means 'children' of NPLD-scoped targets can't have additional licenses granted.
* 'child'-'parent' relationship determined only on the basis of whether the child URL starts with the exact same URL as the parent. i.e. http://exam

[2015-06-06 11:12] anjackson commented on #356
Okay, so 1f5bd2d should resolve the first point, although it a very repetitive (low-performance) implementation. Next step would be to improve it to be computed once and re-used in the template.

[2015-06-09 23:12] anjackson opened #358 "Upgrade jruby-whois to 3.5.9(.2)"
Improvements and bugfixes in the underlying library mean we should upgrade, and Do It Right (i.e. via Maven, and remove the old lib stuff and any CLI scripts.

Note that this also means moving the ```isUK``` logic out of the library and into here. See ukwa/jruby-whois#2

[2015-06-10 10:55] anjackson commented on #356
Right, I just updated the code, and it now does two things differently:

1. It relies on the database cached output of the various checks rather than re-running e.g. whois over and over.
2. It lower-cases and strips any "www." out before comparing domains under the 'starts with prefix' rule.

Does not support 'any subdomain' scoping, if we ever use that.

Note also that the scoping code is, frankl

[2015-06-10 11:04] anjackson commented on #244
Superceded by #355

[2015-06-10 14:02] niladreeb commented on #356
Yes andy in the present code there are lot of functions to get the scope checked, so for the unit test I've used one of them. But whenever I'm trying to access methods from the java classes with enum return type like "Scope.java" it is giving authentication error

[2015-06-11 15:51] niladreeb commented on #356
Implemented a JUnit test to check the license inheritance.

[2015-06-12 22:08] anjackson commented on #356
Right, there were LOTS of mistakes in the old scoping code. I've reduced the duplicated logic, and fixed things like the whois stuff (which I don't think has ever worked). I've also extended @niladreeb's test class with a few more tests, especially the 'inheriting from subdomain scope' rule which I've just implemented.

[2015-06-12 22:19] anjackson commented on #356
And now (fa23571) reviewed the exports and ensured inherited (fast) methods are used.

[2015-06-13 21:13] anjackson commented on #333
I've updated the code to ensure that the green (+) turns up when there is an inherited license.

[2015-06-13 21:14] anjackson commented on #343
I've updated the code to ensure that the green (+) turns up when there is an inherited license. I've also modified the crawl feeds to take inherited licenses into account.

[2015-06-13 21:15] anjackson commented on #356
I think the main problems are covered and we can move towards testing now.

[2015-06-13 21:19] anjackson commented on #351
Consistency check is now in place. I also need to add a button that fixes missing start dates, setting them to the date the LD regulations came into effect.

[2015-06-13 21:20] anjackson commented on #354
This should work now, so we can review this on actdev.

[2015-06-13 21:31] anjackson commented on #318
Okay, so, it turns out the system has only one license set up and hard-coded into the licence forms. Hence, it can't show a different form for the different cases. This should hopefully not be too difficult to change, although this depends on how radical the license form needs to change for each case.

[2015-06-13 21:40] anjackson commented on #330
This is unfortunately a bit fiddly. If we exclude 'nevercrawl' from the list, then someone other than 'archivist' could overwrite it accidentally when editing other properties (because the select list does not really handle this case).

The ideal solution would be to pull if into a separate data field, but that means changing the data model, which I'm loath to do at this point. Alternatively, the

[2015-06-15 08:01] PsypherPunk commented on #330
Did we suggest changing the name of the `nevercrawl` frequency to something like `blocked`? If it's better named it might mitigate some of the misuse cases.

[2015-06-15 08:04] nicolabingham commented on #330
Yes, that would make things clearer from the user's perspective.

[2015-06-15 09:39] anjackson opened #359 "Can all users access QA Wayback?"

[2015-06-15 12:01] niladreeb commented on #359
As per the code expert_users , users and viewers don't have the permission to access QA Wayback. In general admin can give the all_qa_actions permission to everyone, but the role tab is invisible for them. So need to edit the role tab permission setting

[2015-06-15 12:12] anjackson commented on #359
Which code? I can't see a hook in WaybackController that prevents access like that.

[2015-06-15 12:14] niladreeb commented on #359
Sorry for the mistake. I meant to say, they can access the Wayback but those roles don't have the all_qa_actions permission.

[2015-06-15 12:17] niladreeb commented on #359
So do we need to change the access permission?

[2015-06-15 12:25] anjackson commented on #359
So, only users who are members of organisations 1,2,3,4,5,6 should be able to get content via WaybackController.wayback(url) - Others should get an access denied error  that explains that only LDL staff can access the QA Wayback instance.

[2015-06-15 12:33] PsypherPunk commented on #354
Just looking at the [routes](https://github.com/ukwa/w3act/blob/master/conf/routes) file: there's

[2015-06-15 12:40] anjackson opened #360 "Properly support multiple licenses"
Basic support for multiple licenses was covered in #318, but we need to review in and make sure any and all relevant text is presented for each license.

Note that this refers to making it possible to add new licenses to the code, rather than through the GUI as in #338.

[2015-06-15 12:41] anjackson commented on #318
For 1.0.5, we'll ensure this is essentially working, but review again in the next release.

[2015-06-15 14:08] nicolabingham opened #361 "Unable to edit Collection Title"
I'm not sure if this been reported or not but I am unable to edit a collection title in live W3ACT.
I tried to edit this Collection in W3ACT https://www.webarchive.org.uk/act/collections/449
I tried to edit the title from 'Venues' to 'Venues and festivals' but the edit is not saved. Also the revision log I entered has not been saved.

[2015-06-15 14:27] anjackson commented on #334
So, there have been extensive changes to the permissions system, see #356, #333, #343. I think the changes we need are now implemented, so we'll see how the testing goes and then decide what to do next.

[2015-06-15 15:59] anjackson commented on #354
I think the subjects tree is fixed and in-place already?

[2015-06-15 16:02] anjackson commented on #361
Verified in local testing - editing collections does not work.

[2015-06-16 10:47] niladreeb commented on #361
It is now working fine. The issue was in the http method of routes file.

[2015-06-16 12:55] GilHoggarth commented on #361
We’re now doing release testing on https://www.webarchive.org.uk/actstage!
Please test that the implementation of this ticket works correctly on /actstage – if it does, please label this ticket as “1 – Ready” and remove the “implemented” label.

[2015-06-16 12:55] GilHoggarth commented on #351
We’re now doing release testing on https://www.webarchive.org.uk/actstage!
Please test that the implementation of this ticket works correctly on /actstage – if it does, please label this ticket as “1 – Ready” and remove the “implemented” label.

[2015-06-16 12:56] GilHoggarth commented on #352
We’re now doing release testing on https://www.webarchive.org.uk/actstage!
Please test that the implementation of this ticket works correctly on /actstage – if it does, please label this ticket as “1 – Ready” and remove the “implemented” label.

[2015-06-16 12:56] GilHoggarth commented on #334
We’re now doing release testing on https://www.webarchive.org.uk/actstage!
Please test that the implementation of this ticket works correctly on /actstage – if it does, please label this ticket as “1 – Ready” and remove the “implemented” label.

[2015-06-16 12:56] GilHoggarth commented on #318
We’re now doing release testing on https://www.webarchive.org.uk/actstage!
Please test that the implementation of this ticket works correctly on /actstage – if it does, please label this ticket as “1 – Ready” and remove the “implemented” label.

[2015-06-16 12:56] GilHoggarth commented on #330
We’re now doing release testing on https://www.webarchive.org.uk/actstage!
Please test that the implementation of this ticket works correctly on /actstage – if it does, please label this ticket as “1 – Ready” and remove the “implemented” label.

[2015-06-16 12:57] GilHoggarth commented on #354
We’re now doing release testing on https://www.webarchive.org.uk/actstage!
Please test that the implementation of this ticket works correctly on /actstage – if it does, please label this ticket as “1 – Ready” and remove the “implemented” label.

[2015-06-16 12:57] GilHoggarth commented on #356
We’re now doing release testing on https://www.webarchive.org.uk/actstage!
Please test that the implementation of this ticket works correctly on /actstage – if it does, please label this ticket as “1 – Ready” and remove the “implemented” label.

[2015-06-16 12:57] GilHoggarth commented on #333
We’re now doing release testing on https://www.webarchive.org.uk/actstage!
Please test that the implementation of this ticket works correctly on /actstage – if it does, please label this ticket as “1 – Ready” and remove the “implemented” label.

[2015-06-16 12:58] GilHoggarth commented on #343
We’re now doing release testing on https://www.webarchive.org.uk/actstage!
Please test that the implementation of this ticket works correctly on /actstage – if it does, please label this ticket as “1 – Ready” and remove the “implemented” label.

[2015-06-16 12:58] GilHoggarth commented on #357
We’re now doing release testing on https://www.webarchive.org.uk/actstage!
Please test that the implementation of this ticket works correctly on /actstage – if it does, please label this ticket as “1 – Ready” and remove the “implemented” label.

[2015-06-16 12:58] GilHoggarth commented on #355
We’re now doing release testing on https://www.webarchive.org.uk/actstage!
Please test that the implementation of this ticket works correctly on /actstage – if it does, please label this ticket as “1 – Ready” and remove the “implemented” label.

[2015-06-16 12:58] GilHoggarth commented on #331
We’re now doing release testing on https://www.webarchive.org.uk/actstage!
Please test that the implementation of this ticket works correctly on /actstage – if it does, please label this ticket as “1 – Ready” and remove the “implemented” label.

[2015-06-16 12:58] GilHoggarth commented on #359
We’re now doing release testing on https://www.webarchive.org.uk/actstage!
Please test that the implementation of this ticket works correctly on /actstage – if it does, please label this ticket as “1 – Ready” and remove the “implemented” label.

[2015-06-16 12:59] GilHoggarth commented on #358
We’re now doing release testing on https://www.webarchive.org.uk/actstage!
Please test that the implementation of this ticket works correctly on /actstage – if it does, please label this ticket as “1 – Ready” and remove the “implemented” label.

[2015-06-16 13:01] GilHoggarth commented on #311
We’re now doing release testing on https://www.webarchive.org.uk/actstage!
Please test that the implementation of this ticket works correctly on /actstage – if it does, please label this ticket as “1 – Ready” and remove the “implemented” label.

[2015-06-16 13:04] nicolabingham commented on #354
Tested on /actstage. works as expected

[2015-06-16 13:06] niladreeb commented on #351
Empty dates are listed separately and button is also in place to fix empty or silly start date.

[2015-06-16 13:10] niladreeb commented on #357
Works fine.

[2015-06-16 13:12] nicolabingham commented on #331
Tested on /actstage. This is now working as expected.

[2015-06-16 13:15] niladreeb commented on #355
Expert_users can edit robots.txt setting.

[2015-06-16 13:25] nicolabingham commented on #333
@anjackson should we expect that this has fixed existing child Targets licence inheritance, or is it just that Targets added from now on will pick up licences correctly?

[2015-06-16 13:26] GilHoggarth opened #362 "URL fails when ending slash included"
When trying to go the W3ACT service, if https://www.webarchive.org.uk/act/ is used - with an ending slash - "Sorry, that page does not exist." is reported.

This isn't a major problem but may well confuse/annoy users.

[2015-06-16 13:29] nicolabingham commented on #354
@niladreeb sorry I commented on this ticket by mistake...

[2015-06-16 13:30] niladreeb commented on #359
Working as expected.

[2015-06-16 13:37] PsypherPunk commented on #330
Looks good to me.

[2015-06-16 13:38] GilHoggarth opened #363 "Target mid-crawl instance shows Java dump"
Using /actstage, Home > Browse Targets > Selecting a target > Instances > mid-crawl - display Java dump.

On /act the same steps show the LD QA openwayback.

[2015-06-16 13:41] GilHoggarth commented on #363
Java dump is

An unexpected error has occurred.

    Execution exception[[NullPointerException: null]]

       play.api.Application$class.handleError(Application.scala:293)
       play.api.DefaultApplication.handleError(Application.scala:399)
       play.core.server.netty.PlayDefaultUpstreamHandler$$anonfun$2$$anonfun$applyOrElse$3.apply(PlayDefaultUpstreamHandler.scala:261)
       play.core.serve

[2015-06-16 13:44] GilHoggarth commented on #363
Ditto for "Search QA wayback" link on Target page, who's URL is https://www.webarchive.org.uk/actstage/wayback/*/http://www.bishop-hill.net/

[2015-06-16 13:50] anjackson commented on #358
Try adding a 'www.marksandspencer.com' as a target (or updating existing target for that URL) and check the 'is UK registration' gets updated.

[2015-06-16 13:58] niladreeb commented on #311
Link was hard coded. Resolved and pushed to git by andy.

[2015-06-16 15:02] niladreeb commented on #318
Not working, rather it is giving NullPointerException

[2015-06-16 15:06] GilHoggarth commented on #363
As this is wayback related, could you investigate please.

[2015-06-16 15:19] niladreeb commented on #358
Tested with the url 'www.marksandspencer.com' both in actstage and actdev but its not updating the isUK registration to 'yes'.

[2015-06-16 15:40] anjackson commented on #358
On the server side, we see:
[code]

So it looks like the whois lookups are timing out, presumably due to network restrictions.

[2015-06-16 15:42] anjackson commented on #318
From the server logs:
[code]

[2015-06-17 07:51] nicolabingham commented on #334
@anjackson saving a permissions request form results in an Execution exception. In Target https://www.webarchive.org.uk/actstage/crawlpermissions/new?targetId=27026 entering the contact email address and pressing save results in the error:
![execution_exception](https://cloud.githubusercontent.com/assets/11210500/8202025/15e519ae-14ce-11e5-9acb-a14f98e1bc64.png)

[2015-06-17 08:06] nicolabingham commented on #356
tested on /actstage. Created a new Target https://www.webarchive.org.uk/actstage/targets/28047 which correctly inherited the Granted Licence status from the parent Target record

[2015-06-17 08:16] nicolabingham commented on #356
Created another child Target (https://www.webarchive.org.uk/actstage/targets/28048) which correctly inherited the Granted licence status from the parent record when saved and in View mode.
![peterwebstertest2](https://cloud.githubusercontent.com/assets/11210500/8202400/772265e8-14d1-11e5-850e-9487a9614b29.png)

However, when going into Edit mode of the Target the licence status is lost, i.e. the g

[2015-06-17 09:52] anjackson commented on #356
I think this is fixed in the code. @GilHoggarth to re-deploy the latest version before testing.

[2015-06-17 10:10] GilHoggarth commented on #361
Checking on /actstage, this looks to be resolved. @nicolabingham is there more outstanding for this ticket?

[2015-06-17 10:35] nicolabingham commented on #361
@GilHoggarth no, it appears to have been dealt with.

[2015-06-17 12:34] anjackson commented on #334
Okay, I think this should work okay now. Testing needed once @GilHoggarth can deploy the updated code to live.

[2015-06-17 12:52] nicolabingham commented on #356
The View/Edit tabs are behaving consistently now.

[2015-06-17 13:02] nicolabingham commented on #334
Tested on /actstage. Works ok now. A permission request was successfully sent, returned and the licence status updated to Granted in the Target record.

[2015-06-17 13:18] anjackson commented on #363
@GiHoggarth can you test this please?

[2015-06-17 13:19] anjackson commented on #358
Any joy on the network/firewall issue?

[2015-06-17 13:19] anjackson commented on #318
Fixed and  on stage now.

[2015-06-17 13:20] anjackson commented on #318
Can you take a look at this @nicolabingham ?

[2015-06-17 13:21] anjackson commented on #354
Probably best if @PsypherPunk looks at this.

[2015-06-17 13:28] nicolabingham commented on #318
@anjackson I checked this on /actstage. The different licence types are correctly reflected in the licence forms.

[2015-06-17 13:48] anjackson commented on #333
So, any new Targets and any Targets not 'infected' by the earlier problems should be fine and should work as expected (although you might have to edit and re-save them to get them working as expected).

However, the 'bad' targets, like the Twitter ones, are more complicated, and will have to be cleaned up.

[2015-06-17 15:24] GilHoggarth commented on #358
I suspect whois requests are blocked going outwards of our 192.168.45 network, so have submitted a servicedesk call to get this changed.

[2015-06-18 12:22] PsypherPunk commented on #354
Regarding the WCT->w3act export, we need to be able to set the `field_wct_id`.

[2015-06-18 12:25] anjackson commented on #352
Checked, fixed now.

[2015-06-19 10:18] anjackson commented on #333
Okay, so this now basically works, e.g.

https://www.webarchive.org.uk/actstage/targets/22093#licensing

inherits from

https://www.webarchive.org.uk/actstage/targets/14804#licensing

However,  the Canterbury case is on of the Selective archive import cases, where there is a data quality issue - the thing has a license, but the status field is not set. These ones also have no permissions data in W

[2015-06-19 10:18] anjackson commented on #354
I'm going to push finalising this off to the next bug-fix release, as we need to release 1.0.5

[2015-06-19 10:22] GilHoggarth commented on #358
Have raised this request with Steph as a matter of urgency, but equally it may not be completed today. @anjackson could this ticket be skipped for this release or does it provide a critical service key for v1.0.5?

[2015-06-19 10:36] anjackson opened #364 "Clean up license data issues"
Following on from #334, the permission system should be working going forward, but we have some messy data to clean up.

- Mis-inherited licenses, e.g. the twitter account problems, where the old system added an explicit license and licenseStatus to multiple Targets that had no crawlPermission.
- Lost crawlPermissions due to the old code that allowed them to be discarded when a Target was updated.

[2015-06-19 10:43] anjackson commented on #333
okay, tested and okay on stage.

[2015-06-19 10:43] anjackson commented on #343
Tested and working well on stage.

[2015-06-19 10:46] anjackson commented on #358
Not critical.

[2015-06-19 10:51] GilHoggarth commented on #358
Closing as jruby-whois installed. Next milestone will need to test this.

[2015-06-19 14:17] #363 closed

[2015-06-19 14:20] GilHoggarth commented on #361
@nicolabingham Edited collection on live to 'Venues and Festivals'.

[2015-06-19 14:20] #361 closed

[2015-06-19 14:21] GilHoggarth commented on #358
Closing.

[2015-06-19 14:21] #358 closed

[2015-06-19 14:27] GilHoggarth commented on #359
Tested, closing.

[2015-06-19 14:27] #359 closed

[2015-06-19 14:28] #357 closed

[2015-06-19 14:30] #331 closed

[2015-06-19 14:34] anjackson opened #365 "Normal user can remove license"
A normal user can select a licence of --None--, which may overwrite the granted license.

[2015-06-19 14:35] PsypherPunk commented on #330
All present and correct after the deployment.

[2015-06-19 14:35] #330 closed

[2015-06-19 14:41] #351 closed

[2015-06-19 14:41] #311 closed

[2015-06-19 14:41] #352 closed

[2015-06-19 14:48] #318 closed

[2015-06-19 14:48] dorotawalker opened #366 "Tab 'Target creation' tab reports comes up with error"
After the 1.0.5 version was released the the tab 'Target creation' comes up with an error. It worked before the release:

https://www.webarchive.org.uk/act/reportscreation/targets/?s=createdAt&o=desc&curator=-1&organisation=-1&tld=either

An unexpected error has occurred.

    Execution exception[[NoSuchElementException: null]]

       java.util.NoSuchElementException
       	at java.util.ArrayLis

[2015-06-19 14:49] #343 closed

[2015-06-19 14:51] #333 closed

[2015-06-19 14:52] #334 closed

[2015-06-19 14:52] #356 closed

[2015-06-19 14:54] #355 closed

[2015-06-19 14:59] niladreeb commented on #318
Tested in act and now different license templates are working correctly.

[2015-06-22 08:51] dorotawalker opened #367 "NPLD scope shows as negative"
NPLD scope shows as negative for the .uk or UK hosted targets. After saving it corrects, only to 'go back' to the negative sign after another search:

https://www.webarchive.org.uk/act/targets/2972;
https://www.webarchive.org.uk/act/targets/19273;
https://www.webarchive.org.uk/act/targets/21188.

Works fine for the others though:

https://www.webarchive.org.uk/act/targets/2993;
https://www.webarch

[2015-06-22 09:02] dorotawalker opened #368 "New permission gives HLF licence as default"
![untitled](https://cloud.githubusercontent.com/assets/12541602/8278730/cfe51ca0-18c5-11e5-8498-f4c7eb9822f2.jpg)

[2015-06-22 09:13] niladreeb opened #369 "Viewing Licence form of crawl permission gives null pointer exception. But some of them are working fine."
![2015-06-22 10-09-05_](https://cloud.githubusercontent.com/assets/12607939/8278911/43c4b4cc-18c7-11e5-861c-59f19616c575.png)

[2015-06-22 09:43] anjackson commented on #367
Are you using the back button to go back?

[2015-06-22 09:54] dorotawalker commented on #367
No, just a new search.

[2015-06-22 09:57] anjackson commented on #367
Weird. Can't reproduce this. These are all now showing as NPLD (+) for me:

https://www.webarchive.org.uk/act/targets/2972
https://www.webarchive.org.uk/act/targets/19273
https://www.webarchive.org.uk/act/targets/21188

Can you do a search at we'll see if they drop out again?

[2015-06-22 10:03] dorotawalker commented on #367
Works fine now! I checked them three times  - I guess the system needed a morning coffee as well.

Thanks for checking.

[2015-06-22 10:49] dorotawalker commented on #367
The same happened with a new record https://www.webarchive.org.uk/act/targets/28242. It came with all 'no' answers, only after editing and saving again it changed to the positive NPLD.

[2015-06-22 10:55] dorotawalker commented on #367
and another one:

![untitled](https://cloud.githubusercontent.com/assets/12541602/8280482/865ed19c-18d5-11e5-91f9-01e409a0f518.png)

[2015-06-22 13:13] anjackson commented on #367
Ah, understood.

In 1.0.5, the scoping will only be updated properly if you edit and resave. This is fixed in 1.0.6, where just looking at a Target will revalidate the scope.

[2015-06-22 13:33] niladreeb commented on #365
Bug resolved.

[2015-06-22 14:19] niladreeb commented on #368
Now the default licence is changed to Open UKWA Licence (2014-).

[2015-06-22 15:04] dorotawalker commented on #367
It's happening for the new records as well. Is it how it's supposed to be?

[2015-06-22 15:20] anjackson commented on #367
Unfortunately, yes. I think 1.0.5 also failed to update this properly when a Target is first saved. This has been fixed and will be working properly when we release 1.0.6.

[2015-06-23 12:33] #324 closed

[2015-06-23 12:39] anjackson commented on #297
@niladreeb could you check this is resolved, please?

[2015-06-23 12:39] anjackson commented on #294
@niladreeb could you check this is resolved, please?

[2015-06-23 12:39] anjackson commented on #292
@niladreeb could you check this is resolved, please?

[2015-06-23 12:40] anjackson commented on #198
@niladreeb could you check this is resolved, please?

[2015-06-23 12:42] anjackson opened #370 "Add report listing users with multiple roles"
Following #274, users are now allowed only one role. We need to add a section to the 'consistency check' report page where users with multiple roles are enumerated so that they can be changed.

[2015-06-23 12:42] anjackson commented on #274
Will follow this up in #370

[2015-06-23 13:12] niladreeb commented on #297
Working as expected.

[2015-06-23 13:25] niladreeb opened #371 "Target creation report gives NullPointer exception"
![2015-06-23 14-23-53_w3act](https://cloud.githubusercontent.com/assets/12607939/8306919/8ac71314-19b3-11e5-80f9-51b3c1176863.png)

[2015-06-23 13:27] niladreeb commented on #370
No such section found.

[2015-06-23 13:32] niladreeb commented on #198
Working as expected.

[2015-06-23 13:40] PsypherPunk opened #372 "Unique Email Field for contact_person?"
`contactperson_id` is a mandatory field on `crawl_permission` and the only mandatory field on the former  is `email`. Perhaps this field should have a unique restriction? It would make things simpler when creating records via the API.

[2015-06-23 13:41] niladreeb commented on #292
Working as expected.

[2015-06-23 13:47] niladreeb commented on #294
This enhancement is implemented.

[2015-06-23 20:27] anjackson commented on #371
What's the URL - is this the same as #366?

[2015-06-24 09:15] anjackson commented on #370
Indeed - so please add one.

[2015-06-24 09:59] dorotawalker opened #373 "Unwanted change of the crawl frequency"
After hitting the save button in the 'Open License Request' the crawl frequency is changed to the Domain Crawl. The start date stays the same.

[2015-06-24 10:17] dorotawalker commented on #373
The ticks in the NPLD Scope tab also disappear after saving in the 'Open Licenses'. The data in the fields remains the same.

[2015-06-24 11:03] dorotawalker commented on #373
Happens with the new records and the edited ones.

[2015-06-24 11:07] PsypherPunk commented on #354
We need to be able to create `crawl_permission` and `contact_person` records via the API.

This might currently be possible but the `crawlPermission` attribute of the `Target` object has a `@JsonIgnore` decorator which I presume means it gets omitted from the JSON export?

[2015-06-24 14:39] niladreeb commented on #370
A new section added to consistency report to check users with multiple roles and if found remove all but the highest role.

[2015-06-24 20:22] anjackson commented on #373
had you just edited the fields before hitting the Open License Request button, or had you pressed Save first?

[2015-06-24 21:08] anjackson commented on #373
Okay, checked in 4d104b1d6c403a6745c0c0d095f19b229aa5628c which stripped out the default value settings, which appeared to be overwriting the DB settings in this case.

[2015-06-24 21:18] anjackson commented on #354
Yes, I added crawl_permission and crawl_permissions, but I should have just added the latter and made it JsonY

[2015-06-26 11:27] PsypherPunk commented on #354
POST'd the following to actstage:

    {
        "field_urls": [
            "http://www.XXX.co.uk/"
        ],
        "field_uk_postal_address": true,
        "field_wct_id": "132884",
        "title": "XXX",
        "field_collection_cats": [],
        "field_nominating_org": 3,
        "field_subjects": [
            294,
            158
        ],
        "selector": "23",
        "crawlPermi

[2015-06-26 16:35] niladreeb commented on #371
Same issue so closing this one

[2015-06-26 16:39] #371 closed

[2015-06-30 11:20] GilHoggarth commented on #364
@anjackson What's the sit. with this ticket - does it need to be completed before release of v1.0.6 or can it be postponed? If need, who can do the work? Nils, Roger?

[2015-06-30 12:25] GilHoggarth commented on #354
We’re now doing release testing of v1.0.6 on https://www.webarchive.org.uk/actstage!
Please test that the implementation of this ticket works correctly on /actstage – if it does, please label this ticket as “1 – Ready” and remove the “implemented” label.
Please remember to make it clear whether the ticket is successfully implemented or not.

[2015-06-30 12:25] GilHoggarth commented on #365
We’re now doing release testing of v1.0.6 on https://www.webarchive.org.uk/actstage!
Please test that the implementation of this ticket works correctly on /actstage – if it does, please label this ticket as “1 – Ready” and remove the “implemented” label.
Please remember to make it clear whether the ticket is successfully implemented or not.

[2015-06-30 12:26] GilHoggarth commented on #369
We’re now doing release testing of v1.0.6 on https://www.webarchive.org.uk/actstage!
Please test that the implementation of this ticket works correctly on /actstage – if it does, please label this ticket as “1 – Ready” and remove the “implemented” label.
Please remember to make it clear whether the ticket is successfully implemented or not.

[2015-06-30 12:26] GilHoggarth commented on #370
We’re now doing release testing of v1.0.6 on https://www.webarchive.org.uk/actstage!
Please test that the implementation of this ticket works correctly on /actstage – if it does, please label this ticket as “1 – Ready” and remove the “implemented” label.
Please remember to make it clear whether the ticket is successfully implemented or not.

[2015-06-30 12:27] GilHoggarth commented on #373
We’re now doing release testing of v1.0.6 on https://www.webarchive.org.uk/actstage!
Please test that the implementation of this ticket works correctly on /actstage – if it does, please label this ticket as “1 – Ready” and remove the “implemented” label.
Please remember to make it clear whether the ticket is successfully implemented or not.

[2015-06-30 12:27] GilHoggarth commented on #367
We’re now doing release testing of v1.0.6 on https://www.webarchive.org.uk/actstage!
Please test that the implementation of this ticket works correctly on /actstage – if it does, please label this ticket as “1 – Ready” and remove the “implemented” label.
Please remember to make it clear whether the ticket is successfully implemented or not.

[2015-06-30 12:28] GilHoggarth commented on #368
We’re now doing release testing of v1.0.6 on https://www.webarchive.org.uk/actstage!
Please test that the implementation of this ticket works correctly on /actstage – if it does, please label this ticket as “1 – Ready” and remove the “implemented” label.
Please remember to make it clear whether the ticket is successfully implemented or not.

[2015-06-30 12:28] GilHoggarth commented on #366
We’re now doing release testing of v1.0.6 on https://www.webarchive.org.uk/actstage!
Please test that the implementation of this ticket works correctly on /actstage – if it does, please label this ticket as “1 – Ready” and remove the “implemented” label.
Please remember to make it clear whether the ticket is successfully implemented or not.

[2015-06-30 12:54] niladreeb commented on #294
Tested in actstage and its working fine.

[2015-06-30 12:59] niladreeb commented on #198
Tested in actstage and its working fine.

[2015-06-30 13:03] niladreeb commented on #297
Tested in actstage and working fine.

[2015-06-30 13:03] dorotawalker commented on #366
The tab 'Target creation' works fine.

[2015-06-30 13:05] GilHoggarth commented on #373
Code fix failed. When attempting to add a new target, after clicking Save, the following Java error is displayed.

    Execution exception[[NullPointerException: null]]

       java.lang.NullPointerException
       	at controllers.TargetController.save(TargetController.java:1404)
       	at Routes$$anonfun$routes$1$$anonfun$applyOrElse$173$$anonfun$apply$173.apply(routes_routing.scala:2525)

[2015-06-30 13:05] GilHoggarth commented on #373
Assigning to Andy for consideration of next action.

[2015-06-30 13:08] PsypherPunk commented on #373
Just to check: are the new Targets actually being created despite the error?

[2015-06-30 13:10] GilHoggarth commented on #373
I tried to create www.abc.co.uk, it failed, and browsing for it showed no result - https://www.webarchive.org.uk/actstage/targets/lookup?f=http%3A%2F%2Fwww.abc.co.uk

[2015-06-30 13:12] anjackson commented on #373
Gah. Should be fixed in git now.

[2015-06-30 13:12] dorotawalker commented on #373
I've tested two and they are not being added in ACT stage (http://yorkfestivalofideas.com/  and http://www.nationalcivilwarcentre.com/)

[2015-06-30 13:16] niladreeb commented on #292
Tested on actstage and its working fine.

[2015-06-30 13:30] dorotawalker commented on #368
Tested and works fine on:

https://www.webarchive.org.uk/actstage/targets/15794/
https://www.webarchive.org.uk/actstage/targets/16059
https://www.webarchive.org.uk/actstage/targets/16071

The ticket was successfully implemented.

[2015-06-30 13:34] dorotawalker commented on #367
Works fine for the existing records. Unable to test new records due to the same issue as ticket #373.

[2015-06-30 13:36] dorotawalker commented on #373
Existing records ID 27328, 27108 and 27116 worked fine. The crawl frequency was not changed.

[2015-06-30 13:38] niladreeb commented on #369
All of the licence forms are tested in actstage and they are working fine.

[2015-06-30 13:42] GilHoggarth commented on #373
Still Java faults - https://www.webarchive.org.uk/actstage/targets/28226

[2015-06-30 14:02] anjackson commented on #373
Okay, another try...

[2015-06-30 15:14] GilHoggarth commented on #373
Tested again after new code release. Noted that previous attempt that Java faulted did still create the target record - deleted it to be tidy.
Successfully created new target; edited it and delete it. Working as I would expect.
Issue passed.

[2015-06-30 15:17] dorotawalker commented on #367
Tested it on the new records https://www.webarchive.org.uk/actstage/targets/28248 and https://www.webarchive.org.uk/actstage/targets/28247. The NPLD scope is assessed correctly. The ticket was implemented successfully.

[2015-06-30 15:50] GilHoggarth commented on #354
Basically this functionality isn't in the code yet - @anjackson I suggest this gets bumped to 1.0.7 unless it ties in with another dependency.

[2015-07-01 08:19] nicolabingham commented on #260
@anjackson the question of making crawl data, such as Heritrix crawl logs, available to Archivists for QA purposes came up in the WAT meeting yesterday. Currently we don't have the sort of information that we have in WCT and have to ask @PsypherPunk to look into the logs, for simple questions such as whether images have been downloaded (or whether there are issues in rendering them) etc. The curat

[2015-07-01 08:21] nicolabingham commented on #260
@PsypherPunk also mentioned QA in Proxy mode for more complicated sites such as FaceBook. I explored this a while ago but it would be good to revisit it when it is up and running.

[2015-07-01 09:01] GilHoggarth commented on #260
@anjackson Sounds like this should be created as it's own github ticket as it doesn't (to my understanding) seem central to this particular ticket.

[2015-07-01 09:09] anjackson commented on #354
Code in commit cec264d should address this.

[2015-07-01 09:29] GilHoggarth commented on #365
@niladreeb Can you test this please.

[2015-07-01 09:29] GilHoggarth commented on #370
@niladreeb Ditto, can you test this one too please.

[2015-07-01 09:52] niladreeb commented on #370
The new section is added properly in reports where it was supposed to be, but the functionality can't be tested as of now as there is no such user with multiple role. It is worthy of mention that this bug was tested locally with virtual users having multiple roles and it worked perfectly.

[2015-07-01 10:04] niladreeb commented on #365
Tested in actsatge and it is working fine. Now only admin and archivist can  remove licence and for expert_user it is disabled.

[2015-07-01 10:07] niladreeb opened #374 "Top button can be added beside every lists in reports to ease scrolling above."

[2015-07-01 10:19] niladreeb commented on #374
The enhancement is implemented.

[2015-07-01 10:51] PsypherPunk opened #375 "Invalid URL in Live System"
There's a Target with a URL of `http://The%20Queen's%20message%20following%20Scotland's%20referendum` which is causing problems. Attempting to view the Target or the export in which it appears (`domaincrawl`) returns the following error:

    Execution exception[[IllegalArgumentException: Not a valid domain name:
    'the%20queen's%20message%20following%20scotland's%20referendum']]

Somehow this h

[2015-07-01 13:46] niladreeb opened #376 "Travis build fails due to selenium HTMLUNIT"
error  c.g.h.j.StrictErrorReporter - runtimeError: message=[The data necessary to complete this operation is not yet available.] sourceName=[http://localhost:3333/act/assets/javascripts/jquery-1.7.1.js] line=[2] lineSource=[null] lineOffset=[0]

[2015-07-01 13:48] anjackson commented on #376
actually i think its hanging at this point

[code]

[2015-07-01 16:11] anjackson commented on #376
Actually,that looks like a separate issue.

[2015-07-01 16:12] niladreeb commented on #376
Yes, that issue was coming from LicenceInheritance, but this is different

[2015-07-01 16:13] anjackson commented on #362
This seems to be really difficult to fix from within Play, for reasons unknown.

I recommend that we add an Apache rule to fix this instead, redirecting to the version without a slash.

[2015-07-01 16:15] anjackson commented on #342
Duplicate of #348

[2015-07-01 16:15] #342 closed

[2015-07-01 16:16] anjackson commented on #319
Date is in the crawlPermission object, so can be exposed.

[2015-07-02 08:12] PsypherPunk commented on #354
Confirmed that both the new (POST) and update (PUT) mechanisms are working for the creation of Targets and license information.

[2015-07-02 09:29] nicolabingham opened #377 "Collection date range in W3ACT"
@anjackson I cannot find a relevant GitHub or Trac ticket for this one ...although that's not to say that it isn't in here somewhere already....
In WCT we set a date range at Collection level meaning all Target Instances falling within the range were exposed as members of the Collection. It doesn't look like we have this functionality in W3ACT yet.
@anjackson and @PsypherPunk do you know whether t

[2015-07-02 09:33] PsypherPunk commented on #364
Re. the last bullet point, as per #354, the update functionality is now working. When doing the migration I'll track Targets which already exist in w3act so we can add existing license information.

[2015-07-02 13:12] GilHoggarth commented on #373
We’re now doing release testing of v1.0.6 on live - https://www.webarchive.org.uk/act !
Please test that the implementation of this ticket works correctly on /act – if it does, please label this ticket as “3 - Done”, remove the “1 - Ready” label - and Close this ticket.
Please remember to make it clear whether the ticket is successfully implemented or not.

[2015-07-02 13:12] GilHoggarth commented on #370
We’re now doing release testing of v1.0.6 on live - https://www.webarchive.org.uk/act !
Please test that the implementation of this ticket works correctly on /act – if it does, please label this ticket as “3 - Done”, remove the “1 - Ready” label - and Close this ticket.
Please remember to make it clear whether the ticket is successfully implemented or not.

[2015-07-02 13:12] GilHoggarth commented on #369
We’re now doing release testing of v1.0.6 on live - https://www.webarchive.org.uk/act !
Please test that the implementation of this ticket works correctly on /act – if it does, please label this ticket as “3 - Done”, remove the “1 - Ready” label - and Close this ticket.
Please remember to make it clear whether the ticket is successfully implemented or not.

[2015-07-02 13:13] GilHoggarth commented on #368
We’re now doing release testing of v1.0.6 on live - https://www.webarchive.org.uk/act !
Please test that the implementation of this ticket works correctly on /act – if it does, please label this ticket as “3 - Done”, remove the “1 - Ready” label - and Close this ticket.
Please remember to make it clear whether the ticket is successfully implemented or not.

[2015-07-02 13:13] GilHoggarth commented on #367
We’re now doing release testing of v1.0.6 on live - https://www.webarchive.org.uk/act !
Please test that the implementation of this ticket works correctly on /act – if it does, please label this ticket as “3 - Done”, remove the “1 - Ready” label - and Close this ticket.
Please remember to make it clear whether the ticket is successfully implemented or not.

[2015-07-02 13:13] GilHoggarth commented on #366
We’re now doing release testing of v1.0.6 on live - https://www.webarchive.org.uk/act !
Please test that the implementation of this ticket works correctly on /act – if it does, please label this ticket as “3 - Done”, remove the “1 - Ready” label - and Close this ticket.
Please remember to make it clear whether the ticket is successfully implemented or not.

[2015-07-02 13:13] GilHoggarth commented on #365
We’re now doing release testing of v1.0.6 on live - https://www.webarchive.org.uk/act !
Please test that the implementation of this ticket works correctly on /act – if it does, please label this ticket as “3 - Done”, remove the “1 - Ready” label - and Close this ticket.
Please remember to make it clear whether the ticket is successfully implemented or not.

[2015-07-02 13:13] GilHoggarth commented on #354
We’re now doing release testing of v1.0.6 on live - https://www.webarchive.org.uk/act !
Please test that the implementation of this ticket works correctly on /act – if it does, please label this ticket as “3 - Done”, remove the “1 - Ready” label - and Close this ticket.
Please remember to make it clear whether the ticket is successfully implemented or not.

[2015-07-02 13:13] GilHoggarth commented on #297
We’re now doing release testing of v1.0.6 on live - https://www.webarchive.org.uk/act !
Please test that the implementation of this ticket works correctly on /act – if it does, please label this ticket as “3 - Done”, remove the “1 - Ready” label - and Close this ticket.
Please remember to make it clear whether the ticket is successfully implemented or not.

[2015-07-02 13:14] GilHoggarth commented on #294
We’re now doing release testing of v1.0.6 on live - https://www.webarchive.org.uk/act !
Please test that the implementation of this ticket works correctly on /act – if it does, please label this ticket as “3 - Done”, remove the “1 - Ready” label - and Close this ticket.
Please remember to make it clear whether the ticket is successfully implemented or not.

[2015-07-02 13:14] GilHoggarth commented on #292
We’re now doing release testing of v1.0.6 on live - https://www.webarchive.org.uk/act !
Please test that the implementation of this ticket works correctly on /act – if it does, please label this ticket as “3 - Done”, remove the “1 - Ready” label - and Close this ticket.
Please remember to make it clear whether the ticket is successfully implemented or not.

[2015-07-02 13:14] GilHoggarth commented on #198
We’re now doing release testing of v1.0.6 on live - https://www.webarchive.org.uk/act !
Please test that the implementation of this ticket works correctly on /act – if it does, please label this ticket as “3 - Done”, remove the “1 - Ready” label - and Close this ticket.
Please remember to make it clear whether the ticket is successfully implemented or not.

[2015-07-02 13:16] nicolabingham commented on #366
Working fine now.

[2015-07-02 13:16] #366 closed

[2015-07-02 13:23] niladreeb commented on #370
The enhancement is working fine.

[2015-07-02 13:25] #370 closed

[2015-07-02 13:26] nicolabingham commented on #367
This is working correctly on /act. Tested on existing targets and new.

[2015-07-02 13:26] #367 closed

[2015-07-02 13:26] niladreeb commented on #374
The enhancement is working fine in live w3act.

[2015-07-02 13:27] #374 closed

[2015-07-02 13:30] #369 closed

[2015-07-02 13:31] niladreeb commented on #369
Working fine in live w3act.

[2015-07-02 13:37] PsypherPunk commented on #375
In addition to validation, the system should probably handle the error a little more gracefully—displaying a warning rather than dropping a huge stack-trace and rendering the web interface unusable.

[2015-07-02 13:42] nicolabingham commented on #373
Tested on live act, this has been fixed noe

[2015-07-02 13:42] #373 closed

[2015-07-02 13:42] niladreeb commented on #365
Working fine.

[2015-07-02 13:42] #365 closed

[2015-07-02 13:43] nicolabingham commented on #368
This is working fine on live act now.

[2015-07-02 13:43] #368 closed

[2015-07-02 13:46] niladreeb commented on #294
The feature is running successfully. Now only admin users can add organisations in the Organisations page.

[2015-07-02 13:46] #294 closed

[2015-07-02 13:49] niladreeb commented on #198
The bug is resolved and it is working fine.

[2015-07-02 13:49] #198 closed

[2015-07-02 13:51] niladreeb commented on #297
Working fine.

[2015-07-02 13:51] #297 closed

[2015-07-02 13:54] niladreeb commented on #292
Working fine.

[2015-07-02 13:54] #292 closed

[2015-07-02 14:17] PsypherPunk opened #378 "No communication_logs Raises NullPointerException"
For some Targets (see [here](https://www.webarchive.org.uk/act/target/28688) as an example) if there are no corresponding `communication_log` entries against the `crawl_permissions` then clicking the "Communication Logging" button raises a NullPointerException.

Unless the error's coming from somewhere else, a lack a `communication_log` entries is valid so the system should cope more gracefully.

[2015-07-02 14:20] PsypherPunk commented on #354
API code implemented correctly for new and existing records. There is an issue whereby a `crawl_permission` `createdAt` value can't be set but this is an issue with the data model, not the API per se. I'll raise a separate ticket for that.

[2015-07-02 14:21] #354 closed

[2015-07-02 14:27] PsypherPunk opened #379 "Setting the crawl_permission Date"
When adding `crawl_permission` records via the API, for example:

    {
        "crawlPermissions": [
            {
                "status": "GRANTED",
                "license": {
                    "id": 295
                },
                "requestFollowup": false,
                "contactPerson": {
                    "name": "Bruce Wayne",
                    "phone": "735-185-3801",

[2015-07-02 15:24] PsypherPunk opened #380 "Improve API Error Messages?"
Currently when attempting to add Targets via the API, if a URL already belongs to another Target, w3act returns a `409` error ("Conflict"). While this is correct, the response body is empty; it would be useful to have some context in the response body as to _why_ there's a conflict (e.g. `URL XXX already assigned to Target XXX`).

This holds true for any other possible errors.

[2015-07-02 15:40] niladreeb commented on #380
Is it similar to https://github.com/ukwa/w3act/issues/292  ?

[2015-07-02 16:07] niladreeb commented on #375
The invalid URL is already removed.

[2015-07-02 16:32] niladreeb commented on #375
URL validation is working fine.

[2015-07-03 08:01] PsypherPunk commented on #380
Not as such. #292 refers to presentation of an error message when adding Targets via the web interface. Here, I'm referring to the API (although the logic—and code—behind both might be the same).

[2015-07-03 08:11] PsypherPunk commented on #375
If URL validation is working fine how did the offending URL get into the system?

We can't test this at the moment as this problem is currently affecting /actstage—which is why I said that the system should cope more gracefully with these errors. If you try to add a Target in /actstage you get this:

![untitled](https://cloud.githubusercontent.com/assets/722120/8495100/c130ee14-2162-11e5-8ce7-19d6

[2015-07-03 09:55] niladreeb commented on #375
I've tested in live w3act and there if we try to add this url: http://The%20Queen's%20message%20following%20Scotland's%20referendum-- it gives Invalid URL error message.
Even my local w3act is also behaving similarly,but actstage have no such implementation.

![img jpg](https://cloud.githubusercontent.com/assets/12607939/8497039/d52f9f6e-2171-11e5-9d76-2ffde481567a.png)

![image](https://cloud.git

[2015-07-03 11:01] anjackson commented on #375
Did it come in via the API? (I expect not)

Was it entered a while ago, when the validation was not as good?

Are bad urls allowed when you edit, but not when you create a new target?

[2015-07-03 11:05] niladreeb commented on #375
Bad urls are allowed when we edit existing urls

[2015-07-03 11:51] PsypherPunk commented on #375
It looks like the Target that b0rked actstage was done via the API. The particular Target (which is indeed present in WCT) has a name of "!!!!" and a seed of "http://../".

[2015-07-03 13:08] niladreeb opened #381 "Editing existing urls with invalid urls gave ActException"
![image](https://cloud.githubusercontent.com/assets/12607939/8499640/c1f1ec84-218c-11e5-9d2f-31a3c7595283.png)

[2015-07-03 13:16] niladreeb commented on #381
Resolved.
![image](https://cloud.githubusercontent.com/assets/12607939/8499770/fd0e5bd0-218d-11e5-82d0-ed828beceddf.png)

[2015-07-03 13:59] niladreeb commented on #375
Resolved [#bug381](https://github.com/ukwa/w3act/issues/381). Now bad urls are not allowed during editing.

[2015-07-03 14:36] niladreeb commented on #349
Now this bug is resolved in the web interface. On entering blank spaces it gives a warning message of "Blank Title".

[2015-07-03 17:46] niladreeb commented on #375
Added domain validation in OverallLicenceStatus to avoid showing error page due to bad domain name.

[2015-07-06 10:51] anjackson opened #382 "Hook into fulltext search"
Allow authorised users to hook into full-text search from W3ACT (i.e. embedding bits of Shine) so they can explore content more completely.

[2015-07-06 10:52] anjackson opened #383 "Crawl-date should be displayed as 'X days ago'"
Some crawl dates, particularly those summarising one's Watched Targets, should report the last crawl date as 'X days ago' rather than just as a date.

[2015-07-06 12:19] anjackson commented on #379
Hm, ```createdAt``` should allow this AFAICT. https://github.com/ukwa/w3act/blob/c0a82c59e7d1ae5a77096274a8fee4e3fe8459a4/app/models/ActModel.java#L45

Is it expecting the date in a different format? What does it look like when you GET an item that has a ```createdAt``` date?

[2015-07-06 12:33] niladreeb commented on #379
the first date is in milliseconds

[2015-07-06 12:34] niladreeb commented on #379
but createdAt date is the requested date. Is there any field that saves the licence granted date?

[2015-07-06 12:46] PsypherPunk commented on #379
Doing a GET for a record in w3act gives:

    {
        "id": 22276",
            crawlPermissions: [
                {
                    id: 867,
                    url: "act-867",
                    createdAt: 1429798295872,
                    ...

...which has millisecond precision. I think.

However, if `createdAt` is in fact the requested date as @niladreeb suggests then firstly, it has

[2015-07-06 12:48] niladreeb commented on #379
The title i guess need to be changed in the portal as presently it shows like this:

![image](https://cloud.githubusercontent.com/assets/12607939/8522410/b81dde4c-23e5-11e5-8f4b-671c77e8a040.png)

[2015-07-06 14:44] anjackson opened #384 "Make document harvesting functionality avalable to all Expert Users"
Once tested, make the document harvesting features clearly available to all Expert Users from all the LDLs. Note that non-LDL members should not get access at this time.

[2015-07-06 14:45] anjackson opened #385 "Make document harvesting functionality avaliable to BL Expert Users"
Following #386, ensure BL Expert Users can see and use the Document Harvester functionality.

[2015-07-06 14:57] anjackson opened #386 "Merge DDHAPT branch but limit access to the new functionality"
We need to make DB changes for various reasons, but the DDHAPT branch already contains new DB changes, so to keep development from getting too complicated we should merge the branches. Any new DB changes can then be added as ```3.sql```.

However, to avoid confusion, we should limit access to the new functionality for all but the sys-admin. This can then re-enabled via #385 and then #384.

[2015-07-06 15:50] anjackson commented on #386
Note that I've pulled together the issues that appear to need database changes under this tag: https://github.com/ukwa/w3act/labels/needs-db-changes

[2015-07-08 10:20] dorotawalker opened #387 "HLF licence as default after editing"
When going to the Edit Mode in the Crawl Permissions HLF licence appears as default. It has to be manually changed and saved. Every time you go to Edit the default changes.

![untitled](https://cloud.githubusercontent.com/assets/12541602/8568138/102e22a8-2563-11e5-94c0-ad830c6f7dec.png)

[2015-07-09 10:21] nicolabingham opened #388 "Filter crawl permission queue by Organisation"
Can we add a filter to the Crawl permissions queue - this page -
![crawl_permission_queue](https://cloud.githubusercontent.com/assets/11210500/8593058/378f88fe-262c-11e5-84d1-b4f7bc019354.png)
so that crawl permissions can be filtered by Organisation? The Archivist for each Organisation sends the crawl permissions for their own curators and so we need to filter this list so that, for example, the

[2015-07-09 10:50] nicolabingham commented on #338
This function should apply to the Archivist role so that all agencies, BL, NLS and NLW can create their own licence types, e.g. NLS have an MoU to archive Scottish Government websites. The MoU is held out side of W3ACT but we should be able to record the fact that there is a granted licence within W3ACT against Targets.

[2015-07-09 12:33] niladreeb commented on #387
Open UKWA Licence (2014-) is now the default licence

[2015-07-10 08:56] dorotawalker opened #389 "Crawl end date cannot be removed"
When editing records with a crawl end date, you can't get rid of it. Some were set up more often for the General Election, but now it would be good to change the crawl frequency with the open end. The end date stays the same.

https://www.webarchive.org.uk/act/targets/3982

[2015-07-10 11:52] anjackson commented on #389
@niladreeb I'm suspecting that the code is not un-setting the end date when it's null or empty from the form?

[2015-07-10 16:44] niladreeb commented on #389
This problem is also occurring with the start date. Once both these values are set they are not getting reset to null. Moreover the end crawl date is always showing blank value in edit mode.

[2015-07-13 09:33] nicolabingham opened #390 "Remove Key sites check box for general users"
Can we remove the ability for users of 'Expert User' status and below to check the 'Key sites' check box which is in the Overview tab of the Target record?
![key_site_check_box](https://cloud.githubusercontent.com/assets/11210500/8646737/41579b12-294a-11e5-8058-d5bc675987bd.png)
'Key sites' are not really what the field implies here and it is confusing for users. The list of Key sites is moderated

[2015-07-14 13:32] niladreeb commented on #389
crawl start date and crawl end date can both be removed now.

[2015-07-14 13:40] niladreeb commented on #390
The key sites option is now only available to admin and archivist.

[2015-07-14 13:48] niladreeb opened #391 "If last saved crawl end date is not null it becomes invisible in edit mode"

[2015-07-14 15:38] anjackson commented on #389
BTW, it should be impossible to remove the start date if the crawl frequency is anything other than Domain Crawl Only.

[2015-07-14 15:39] niladreeb commented on #389
Yes, we can make the field uneditable for other options

[2015-07-15 09:17] anjackson opened #392 "Improve metadata extraction, especially for PDFs"
We need to check we're doing a good enough job with what we have, and we should look at exploiting additional tools in order to improve metadata extraction from PDFs.

* [GROBID (or Grobid) means GeneRation Of BIbliographic Data. (Java+JNI?)](http://grobid.readthedocs.org/en/latest/Introduction/)
* [pdfextract from CrossRef (ruby)](http://labs.crossref.org/pdfextract/)
* [PDF Structure and Syntact

[2015-07-15 10:11] PsypherPunk opened #393 "URL search is case-sensitive"
When search for a URL the search appears to be case-sensitive. This makes it difficult to find matching URLs when the original has been entered in upper case (Twitter handles are especially problematic).

Can we change this so that the search is case-insensitive?

[2015-07-15 10:49] niladreeb commented on #389
Enhancement added. Now start date cannot be removed for options other than Domain Crawl

[2015-07-15 12:31] nicolabingham opened #394 "Editing a Target title does not roll through to crawl permission"
I moderated the titles of two Target records that had been created by another user. The original user had requested crawl permissions. The title of the crawl permissions has not been updated to reflect the changes I made at Target level.
The crawl permission records are:
![bug_reporting1](https://cloud.githubusercontent.com/assets/11210500/8698400/c530c5c4-2af5-11e5-8f47-fbee2cfae454.png)
and the

[2015-07-15 12:57] niladreeb commented on #391
The bug is resolved.

[2015-07-15 13:26] niladreeb commented on #394
To resolve this issue, first the name in new crawl permission is changed to read only.

[2015-07-15 14:02] dorotawalker opened #395 "Expert user problems with crawl frequency"
Joan Francis, who is an expert user has problems with setting any frequency except for the domain crawl. The drop down menu opens, but there is no calendar when clicking in the 'start date' or 'end date' field. When filling the field manually or leaving empty and hitting save button, the system doesn't save and in practice she can only use 'domain crawl' which doesn't require a date.

[2015-07-15 14:06] dorotawalker opened #396 "Expert user problems with UKWA licencing tab"
Joan Francis, an expert user is able to save the UKWA licencing tab without giving the email address:

https://www.webarchive.org.uk/act/crawlpermissions/1854
https://www.webarchive.org.uk/act/crawlpermissions/1863
https://www.webarchive.org.uk/act/crawlpermissions/1843

I've tried to do it, but with my log in, the system asks for the email and doesn't proceed.

I don't know if it is just her acco

[2015-07-15 14:10] niladreeb commented on #395
Hi, Dorota I checked this issue with an expert user but it is working fine. Can the user provide some screenshot.

[2015-07-15 14:17] niladreeb commented on #396
Hi dorota, I also checked this issue but found no such error. Bug 395 and 396 is just for her account only.

[2015-07-15 14:20] anjackson commented on #396
Is this some kind of browser variation? Or is this actually not empty, but a space character or similar?

[2015-07-15 14:24] anjackson commented on #395
This might be a browser dependency?

[2015-07-15 14:24] niladreeb commented on #396
Validation of the email field is properly done, so space characters are not allowed.

[2015-07-15 14:26] anjackson commented on #396
What about just entering 'None'? Does it check for an '@'?

[2015-07-15 14:27] anjackson commented on #396
Seems like the validation is done in Javascript only?

[2015-07-15 14:28] niladreeb commented on #396
Yes it checks for @ and data before and after it.

[2015-07-15 14:31] niladreeb commented on #396
I tested the issue in IE and providing None is accepting it. So it is a browser dependency issue.

[2015-07-15 14:31] niladreeb commented on #395
In IE this issue is happening.

[2015-07-15 15:42] dorotawalker commented on #396
Thanks for looking into it. Joan's account also gives 'Nominations' as default in the Metadata Type->Selection Type. The default should be 'Selections'.

[2015-07-16 09:12] niladreeb commented on #394
Edited titles now reflect in crawl permission.

[2015-07-16 14:05] niladreeb opened #397 "Selecting "Include child targets" in watched targets give IndexOutOfBoundsException"
![image](https://cloud.githubusercontent.com/assets/12607939/8725391/e3095c42-2bcb-11e5-92dc-6af4a3978457.png)

[2015-07-16 14:11] PsypherPunk commented on #393
Correction: this works after clicking `Search`; it's the dynamic-search-results-drop-down that doesn't work.

Which is worrying as they should probably be using the same query...?

[2015-07-17 15:15] niladreeb commented on #393
now the dynamic search is case insensitive.

[2015-07-17 15:55] niladreeb commented on #312
Now English is the default language in the Metadata tab of the target record.

[2015-07-17 16:04] niladreeb commented on #315
Justification field removed.

[2015-07-17 16:05] niladreeb commented on #376
Issue resolved.

[2015-07-20 12:56] niladreeb commented on #314
The windows in Collection and Subject view are auto adjustable now.

[2015-07-20 13:15] niladreeb commented on #395
Working fine in IE 9 and IE 10. Verified by Andy.

[2015-07-20 15:03] niladreeb commented on #397
Bug is resolved by implementing an additional condition.

[2015-07-20 17:06] niladreeb commented on #317
Now the crawl permissions can be sorted by sent date order.

[2015-07-21 13:18] niladreeb commented on #179
Now selecting 'None' in filter by NPLD shows only those targets for whom no determination have been made.

[2015-07-21 15:57] niladreeb commented on #210
All these issues are resolved.

[2015-07-22 09:38] niladreeb commented on #211
No such bug exists now. Hence marking as implemented.

[2015-07-22 10:15] dorotawalker commented on #395
Hi Nil,
If it's a single user issue do we still have to wait for a new deployment to see the changes?

[2015-07-22 10:15] dorotawalker commented on #395
Hi @niladreeb
If it's a single user issue do we still have to wait for a new deployment to see the changes?

[2015-07-22 10:19] niladreeb commented on #395
@dorotawalker There is no such change for this bug. You can check this issue in Chrome, Firefox or Internet Explorer(latest version).

[2015-07-29 09:44] niladreeb commented on #378
Communication Logging not  giving the null pointer exception now. It was happening because of null crawl permissions which is now handled properly.

[2015-07-29 12:47] niladreeb opened #398 "Updating Licence status from target page does not update the crawl_permission table"

[2015-07-29 12:49] niladreeb commented on #398
If the licence status is updated from the licence form then only the status is updated in db but not from the target page.

[2015-07-29 13:03] anjackson commented on #398
Some data is duplicated at the Target level - that might be the issues.

[2015-07-29 13:12] niladreeb commented on #398
I checked it with new data. But only this path "Quality Control > Crawl Permissions > Crawl Permission " and db is in sync not this path "Targets > Target".

[2015-07-29 13:56] niladreeb commented on #319
Now targets can be listed as per their licence requested and granted dates. For this two new columns have been added in table crawl_permission.

[2015-07-29 14:59] niladreeb commented on #320
Now last login time of users is recorded in table creator.

[2015-07-30 13:39] niladreeb opened #399 "Target page shows two 'Not Iniated' status of licence"

[2015-07-30 14:08] anjackson opened #400 "Set SIP METS to TYPE=Issue for issues"
I’ve spotted a problem that seems to have re-occurred in the harvester. I’m sure that it had been fixed previously after one of our workshops with AIT.

If we process an issue level item and select “issue level” within the metadata form the output metadata is defaulting to “article”. This is a problem for the down-stream workflow and item discovery. Is it possible to get a fix in place?

----

I a

[2015-07-30 14:42] niladreeb commented on #399
Licence status options modified after confirming from Nicola.

[2015-07-30 14:44] niladreeb commented on #398
Now updating the licence status from target page will update both the target and crawl_permission table.Moreover the granted date will also be updated accordingly.

[2015-07-30 17:36] niladreeb commented on #372
Unique key restriction added to contact_person table. Moreover W3ACT gives warning message when email is same but name different while updating or creating licence form.

[2015-07-31 09:21] anjackson opened #401 "Whois causing a hang on act-ddhapt"
Observing this on act-ddhapt:

[code]

From jstack, on a system that seems to be hanging. I think all the whois stuff should really be disabled at present, as it has never worked properly and will tend to lock up as whois requests are limited.

This may be a difference between the deployed DDHAPT version and the current master.

[2015-07-31 09:27] niladreeb opened #402 "Status tab in admin login gives NullPointerException"
![image](https://cloud.githubusercontent.com/assets/12607939/9004523/a202414c-376e-11e5-928f-28a01b0d3432.png)

[2015-07-31 09:30] anjackson commented on #401
On restart, I'm seeing a bit of this old thing:

[code]

Which is consistent with DDHAPT being out of date.

[2015-07-31 10:17] niladreeb commented on #310
New flag is successfully added to the db.

[2015-07-31 10:24] niladreeb commented on #379
This bug is resolved. Please review https://github.com/ukwa/w3act/issues/319 .

[2015-07-31 12:42] PsypherPunk commented on #380
Tested and working on @niladreeb's test system. Will re-test once deployed to actstage.

[2015-07-31 13:51] niladreeb commented on #402
Resolved. Implemented Null Check.

[2015-08-03 14:45] dorotawalker opened #403 "Crawl depth set up as none"
I think there’s another problem with Joan’s account. I’ve just noticed that some of her records have in the view mode ‘depth’ as none https://www.webarchive.org.uk/act/targets/act/act-1745066024703868039#crawlpolicy. When clicked on the edit mode it brings the default ‘Capped 500MB’ https://www.webarchive.org.uk/act/targets/act/act-6101449701777884753#crawlpolicy. I don’t even have an option as de

[2015-08-03 15:20] niladreeb commented on #207
All issues resolved.
1. Displays between View and Edit are consistent now.
2. Edit and View layout properly organised and are now in sync."New Journal Title" and "Add Login Credentials" buttons functionality are modified. Both of them now works similar to the "Open License Request" button under UKWA Licensing tab.  Alert-info added.
3. Label fixed.
4. Data persists now.

[2015-08-03 15:22] niladreeb commented on #207
@anjackson Kindly have a look at the present workflow.

[2015-08-03 16:03] anjackson commented on #403
@niladreeb A depth of None should not happen. Can you see if you can ensure that, please?

[2015-08-03 16:34] niladreeb commented on #232
Now users can change the watched status of only their owned targets.

[2015-08-04 11:12] niladreeb commented on #403
Sure @anjackson. Replaced the None logic( when the default values are null ) with the first value of the lists.

[2015-08-04 13:58] niladreeb commented on #385
The functionality have been implemented.

[2015-08-04 14:02] niladreeb commented on #384
Admin, Archivist and Expert Users of all LDLs can access the Document Harvesting now. For remaining users it is blocked. This functionality is implemented on the Document Harvesting tab and Show DDHAPT home page label in curator page.

[2015-08-04 15:20] anjackson opened #404 "Discard all binary-identical documents"
We are hitting problems with publishers putting _exactly_ the same document up at ever-changing URLs (this is behind a paywall, and it has been implemented using session-specific URLs). These PDFs are literally exactly the same bytestreams, just inder different URLs.

@romankarl @rcking  Should we consider simply discarding Documents that are identical for a given Target? Is there a use case for k

[2015-08-04 15:25] anjackson opened #405 "Limit the displayed with of columns in DDHAPT"
If you look at the columns in this page, the Document column occasionally causes great trouble with the table width:

![limit-widh](https://cloud.githubusercontent.com/assets/87843/9064592/31320b50-3ac5-11e5-9792-42b1e3dfd8a0.png)

The width of this column should be controlled by truncating the displayed text before it gets that long.

[2015-08-04 15:26] anjackson commented on #405
Note that it's actually this line that is causing the problem:

[code]

[2015-08-04 16:01] niladreeb commented on #313
Implemented a second language in target metadata tab. Also changed the data model accordingly.

[2015-08-05 10:07] niladreeb commented on #405
The display width of the document column is now limited.

[2015-08-05 12:38] anjackson commented on #405
Can you add a 'title' attribute to the links so that the non-truncated version is displayed as an on-hover tool tip?

Also, I'd prefer the last part be displayed rather than the first. i.e. something like:

    ...@document.documentUrl.substring(document.documentUrl.length() - 40)

[2015-08-05 15:03] niladreeb commented on #405
On-hover tool tip added and in spite of front part the last part of the truncated URL is shown.

[2015-08-05 16:24] niladreeb commented on #383
In Watched Targets and Documents tab crawl date will now show as 'X days ago'

[2015-08-06 09:15] anjackson opened #406 "Separate document harvesting and comms/selection ownership"
Currently, the user in the  'Selector' field is also the owner for the purposes of document harvesting. This causes problems, and it is clear that the 'ownership' in terms of selection and comms/publisher engagement needs to be separated from the 'owner' in terms of managing any harvested documents.

[2015-08-06 09:19] anjackson opened #407 "Edit button not showing"
We have reports that an expert user logged in cannot see the Edit button on targets they do not own. Requesting further information from user.

[2015-08-06 09:20] anjackson opened #408 "URL lookup not normalising properly"
This search https://www.webarchive.org.uk/act/targets/lookup?f=work+foundation reveals that the same host has been registered twice, once with and once without a slash.  This should not happen.

[2015-08-06 09:32] niladreeb commented on #408
@anjackson This URL do exist twice. But now if we try to create similar record if gives a warning message and show the existing record. So should we remove one of the record of TheWorkFoundation.

[2015-08-06 09:34] nicolabingham commented on #408
@niladreeb I have asked Sally about the additional record. I will remove it when I hear back from her. Thanks.

[2015-08-06 09:35] nicolabingham commented on #408
@niladreeb unless you need to remove it to complete the testing - then go ahead

[2015-08-06 09:38] niladreeb commented on #408
@nicolabingham I've already tested with a different URL keeping the same scenario. So no worries. Just let me know at your ease which data is getting removed finally. Thanks.

[2015-08-06 09:46] anjackson commented on #260
Currently adding:

[code]

[2015-08-06 09:47] niladreeb commented on #407
@anjackson Its true. Expert users cannot edit targets which they don't own. Let me know if any changes required.

[2015-08-06 09:51] anjackson commented on #408
@niladreeb I think in this case, where the only difference between the records is the trailing slash at the host level, we should consider preventing a new Target being created. We do generally allow the user to override the matches in order to handle more subtle cases, but this seems nonsensical.  We could also consider moving the Add Target button to  be underneath the list, so that the user has

[2015-08-06 09:55] niladreeb commented on #408
@anjackson Now the present state is when we put a same URL with slash it gives the add button, but  when we try to save it it stops us by providing a warning message with a link to the previous target.

[2015-08-06 10:45] niladreeb commented on #407
Now expert_users can edit targets they don't own.

[2015-08-06 11:26] anjackson commented on #377
The fields are now in the DB and should be accessible from the API, but are not exposed to the user yet. We need optional date range pickers in the Collection editor.

[2015-08-06 11:27] anjackson commented on #278
I don't think this really requires a DB change. But we need to post-crawl script to notify ACT that there is a new instance, and this is supported by #260 - is that right @PsypherPunk?

[2015-08-06 11:28] anjackson commented on #260
Now those fields should be accessible and modifiable via the API, but are not yet shown in the UI. Suggest we just show them but do not allow them to be edited.

[2015-08-06 11:28] anjackson commented on #250
I've added the DB fields, but we don't need to implement the full uniqueness-checking now, so I'm pushing this back.

[2015-08-06 11:44] PsypherPunk commented on #278
Yes, I think so. The scripts we use are able to tell which Targets where in a given job so it should be a matter of giving us an API endpoint to poke.

I don't know whether #260 would require DB changes though, to add the additional metadata...?

[2015-08-06 12:05] anjackson commented on #278
Yes, there are DB changes under that ticket:https://github.com/ukwa/w3act/issues/260#issuecomment-128310804

[2015-08-06 13:20] anjackson commented on #386
We've merged, but need to configure the system so that we can hide or show the document harvester stuff as we need. We'll switch it back on again under #385 and then #384.

[2015-08-06 13:23] niladreeb commented on #386
ok thats fine.

[2015-08-06 16:46] niladreeb commented on #408
Both the dynamic search and the normal search is optimized.

[2015-08-07 10:49] PsypherPunk opened #409 "OpenWayback query strings altered during proxy"
Slightly covered [here](https://github.com/iipc/openwayback/issues/273) in an erroneous ticket for OpenWayback, w3act appearing to be altering query strings when proxying requests for OpenWayback.

For instance, this URL:

    http://www.rpg-resource.org.uk/index.php?article=1229&visual=1

...appears in the Tomcat logs as this:

    192.168.45.32 - - [07/Aug/2015:11:44:52 +0100] "GET /wayback/2015

[2015-08-07 11:03] anjackson commented on #409
Can you test this at some point please?

[2015-08-07 11:07] anjackson commented on #409
Hang on, it's definitely not right. Just a mo.

[2015-08-07 11:38] anjackson commented on #409
Right, frustratingly, the WS library always uses a HashMap for query parameters, so ordering cannot be guaranteed. I've switched it to Http Client.

[2015-08-07 11:38] anjackson commented on #409
@niladreeb You should be able to try it now.

[2015-08-07 11:39] niladreeb commented on #409
Ok I'll look into it. Thanks.

[2015-08-07 13:26] niladreeb commented on #386
Configurations for document harvester is in position now.

[2015-08-07 13:49] niladreeb opened #410 "Opening Edit page on clicking Instances for a target record."
Instances link should open View page

[2015-08-07 14:48] niladreeb commented on #410
Labels in View and Edit page of Instances are not similar.

[2015-08-07 15:43] niladreeb commented on #410
Labels in View and Edit page now synced. Instances link in target record opens the View page.

[2015-08-07 15:53] niladreeb commented on #260
The fields are now visible in the UI and they are not editable.

[2015-08-10 10:43] nicolabingham opened #411 "Error message when trying to create new user on W3ACT"
I tried to create a new user as follows:
![lindar](https://cloud.githubusercontent.com/assets/11210500/9169674/ca8e2cd2-3f54-11e5-8093-450824c4975e.png)
but when I press Save, I get the following error message.
![errormsg](https://cloud.githubusercontent.com/assets/11210500/9169682/db740440-3f54-11e5-8b15-fc331319db12.png)

[2015-08-10 10:43] nicolabingham commented on #411
sorry agency should be 'Jersey Heritage', not 'The British Library'

[2015-08-10 11:54] niladreeb commented on #411
@nicolabingham The new user creation is working properly in the live system as well as local.

![image](https://cloud.githubusercontent.com/assets/12607939/9170907/ec7dc6fe-3f5e-11e5-94b5-1ff79fe813eb.png)

[2015-08-10 11:59] nicolabingham commented on #411
@niladreeb thanks, this is working now :)

[2015-08-10 14:16] niladreeb commented on #409
In my local system after adding the target, when I open the QA Wayback, the url remains unaltered and the resource is shown properly in Legal Deposit QA Open Wayback.

[2015-08-11 08:57] anjackson commented on #401
This should get checked/resolved when we update DDHAPT, which Roman has agreed to help us with.

[2015-08-11 09:02] anjackson commented on #264
Whois is currently disabled.

[2015-08-11 09:10] anjackson commented on #91
Okay, so, as FieldUrls are a list, we effectively have a Primary Seed and other seeds (i.e. the zeroth item), but we can improve the presentation to make it clear that one seed is primary.

Obviously it would be nice to use a dynamic list for seeds rather than a comma separated list, but that may be too invasive a change right now.

We also have a field for aliases, but it is misnamed:

This shoul

[2015-08-11 09:27] anjackson commented on #348
Adding necessary entities to DB for this to be considered later.

[2015-08-11 11:59] dorotawalker opened #412 "Getting rid of the tick boxes in the NPLD scope tab."
They are easy to omit and it adds an extra click. It allows for too many omissions in the NPLD criteria, therefore targets are not being crawled. Perhaps making the explanation as compulsory field.

[2015-08-11 12:01] dorotawalker opened #413 "Adding the creation date of a record"
Adding the creation date of a record may be useful (after changing the crawl frequency, it is quite difficult to see when we started crawling the site). Perhaps the field could be in Overview tab -> Title of field = “date created”.

[2015-08-11 12:05] anjackson commented on #413
There is already a createdAt field in the database - it's just a matter of exposing it in the Overview tab.

[2015-08-11 12:09] anjackson commented on #348
Okay, added DB entities. Leaving this till later.

[2015-08-11 12:12] anjackson commented on #412
Do you mean the 'UK Postal Address', 'via Correspondence' and 'Professional Judgement' checkboxes? i.e. that we should effectively 'tick the box behind the scenes' if something is put in the 'Postal Address URL' field?

[2015-08-11 12:27] anjackson commented on #406
From @romankarl:

[2015-08-11 12:30] anjackson opened #414 "Allow cached document re-generation"
The document harvested caches a lot of HTML representations of PDFs. We need to clear this cache sometimes without killing everything. So, DDHAPT should re-create the HTML from the PDF if the cached version is missing.

From @romankarl:

[2015-08-11 12:30] dorotawalker commented on #412
Yes, I think that would be the best solution.

[2015-08-11 12:31] anjackson opened #415 "Remove 'Live Crawl' button from DDHAPT"
From @romankarl

I'd like to keep it, but it's too different from normal crawling, and document URL schemes should not be needed anyway.

[2015-08-11 13:39] anjackson opened #416 "Automatically ignore items with precisely the same binary hash"
If the binary hash is precisely the same, ignore it automatically.

[2015-08-12 12:01] anjackson opened #417 "Clearer workflow for adding new Targets"
The lookup-and-add workflow was not working well, and had allowed near-duplicate Targets to be created. I propose we simplify the workflow and try to make everything more explicit:

1. No direct Add Target button on the Target List page - redirect to the Lookup page instead first. (This is largely because the filters on the Target List page can obscure the lookup results).
2. On the Lookup page, m

[2015-08-12 12:03] anjackson commented on #417
Will need feedback from @nicolabingham @dorotawalker *et al* once this is deployed on actstage for testing.

[2015-08-12 12:42] anjackson commented on #91
Synonyms has been renamed to Aliases and the View mode makes the primary seed clear.

[2015-08-12 12:51] niladreeb commented on #377
Optional date range pickers added to Collection editor.

[2015-08-12 13:38] niladreeb commented on #310
Flag added in my local db and in live W3ACT through UI.

[2015-08-12 13:41] dorotawalker opened #418 "Crawl Permission contact allows URL instead of email address - check for an @"
When entering a Contact Person, the email is not validated at all, so a URL was allowed through. We should check that there's an '@'.

----
In Crawl Permissions tab when selecting records to be sent and clicking 'Send' button the error comes up:

![untitled](https://cloud.githubusercontent.com/assets/12541602/9225190/c4137d10-40ff-11e5-81b8-86050c70fb2f.png)

It worked fine until today. I haven't

[2015-08-12 13:42] nicolabingham commented on #418
@dorotawalker what is the URL for the website and the email address that you are using?

[2015-08-12 13:45] dorotawalker commented on #418
https://www.webarchive.org.uk/act/crawlpermissions/list
@nicolabingham is it what are you asking? I'm trying to send permission to all required records' owners.

[2015-08-12 13:47] nicolabingham commented on #418
@dorotawalker Could you try sending the list again but excluding http://19162016.com/ ?

[2015-08-12 13:47] nicolabingham commented on #418
@dorotawalker this is not a valid email address

[2015-08-12 13:48] anjackson commented on #418
We should add a validation step to check there is an '@' in the email address.

[2015-08-12 13:49] dorotawalker commented on #418
@nicolabingham that worked. and you are right, it's not a valid email address. How could they enter it though? It normally shouts at you if you don't give a proper email address?

[2015-08-12 13:50] nicolabingham commented on #418
@dorotawalker thanks for this. I think @anjackson will add a validation check.

[2015-08-12 13:53] anjackson commented on #396
@niladreeb can you see why this might be at all?

[2015-08-12 14:12] anjackson commented on #409
I think this is implemented then, and is ready for testing on actstage, right?

[2015-08-12 14:13] anjackson commented on #418
I'm going to rename this issue accordingly.

[2015-08-12 14:14] niladreeb commented on #310
Added the flag in actstage also.

[2015-08-12 15:26] niladreeb commented on #418
Email check implemented in Crawl Permission form.

[2015-08-12 15:27] niladreeb commented on #396
Email validation implemented on server side.

[2015-08-12 15:43] niladreeb opened #419 "Adding new target gives null pointer exception"
![image](https://cloud.githubusercontent.com/assets/12607939/9228619/3d0da3c4-4111-11e5-89cc-4e9350c720de.png)

[2015-08-12 15:48] anjackson commented on #419
I assume this is on stage, right?

[2015-08-12 15:49] niladreeb commented on #419
No I tested it in my local system

[2015-08-12 16:06] niladreeb opened #420 "Parent cannot be unset in Collection-->Edit tab"

[2015-08-12 17:05] anjackson commented on #419
Should work now.

[2015-08-12 17:10] niladreeb commented on #419
Working fine.

[2015-08-12 17:23] niladreeb commented on #420
Now parent can be unset for a specific collection.

[2015-08-13 09:37] niladreeb commented on #269
The list of instances are already sorted in reverse chronological order giving the most recent first. Wherever it can be reversed into showing the old record first by clicking the 'Title' header.

[2015-08-13 10:59] anjackson commented on #409
So, something really weird on actstage. This is in the logs:

    2015-08-13 11:53:23,749 [warn] o.a.h.c.p.ResponseProcessCookies - Invalid cookie header: "Set-Cookie: PLAY_FLASH=; Max-Age=-86399; Expires=Wed, 12 Aug 2015 10:53:24 GMT; Path=/actstage; HTTPOnly". Negative max-age attribute: -86399

Which is correlated with specific resources not getting played back correctly, ending with a login pa

[2015-08-13 11:07] niladreeb commented on #420
Tested on actstage and working fine.

[2015-08-13 11:48] niladreeb opened #421 "Targets > Look up an Instance shows no data"

[2015-08-13 12:33] niladreeb commented on #419
Tested on actstage and it is working fine.

[2015-08-13 12:52] niladreeb opened #422 "In target overview the labels in View and Edit tab are not in sync."
This need to be checked for all the tabs of target.

[2015-08-13 12:55] niladreeb opened #423 "In Targets > Look up an Instance adding instances give NullPointerException"
![image](https://cloud.githubusercontent.com/assets/12607939/9250183/eee5cd18-41c2-11e5-8a24-193a231ac9cd.png)

[2015-08-13 13:39] niladreeb commented on #407
Tested on actstage and its working fine.

[2015-08-13 13:40] niladreeb commented on #402
Working fine in actstage

[2015-08-13 13:42] niladreeb commented on #399
Tested on actastage and its working fine

[2015-08-13 13:47] niladreeb commented on #396
Both the issues are working fine in actstage.

[2015-08-13 13:47] niladreeb commented on #418
Email check working fine in actstage.

[2015-08-13 13:51] niladreeb commented on #403
Working fine in actstage.

[2015-08-13 13:55] niladreeb commented on #395
Tested in actstage and working fine

[2015-08-13 14:05] niladreeb commented on #393
Insensitive dynamic search working fine in actstage.

[2015-08-13 14:11] niladreeb commented on #315
Tested in actstage and is working fine.

[2015-08-13 14:13] niladreeb commented on #314
Tested in actastage and it works properly.

[2015-08-13 14:15] niladreeb commented on #269
Working properly in actstage.

[2015-08-13 14:26] niladreeb opened #424 "Professional Judgement check box under NPLD Scope cannot be unset"

[2015-08-13 14:28] anjackson commented on #424
It can't be unset if the Judgement explanation field is filled, by design. Or is that empty too?

[2015-08-13 14:29] niladreeb commented on #424
When the explanation field is empty and check box unchecked, then after saving the view shows it is still checked.

[2015-08-13 14:31] niladreeb commented on #389
Tested in actstage. Crawl start date and end date both can be removed successfully.

[2015-08-13 14:34] anjackson commented on #424
Fixed now - BTW we're still building up to 1.1.0 release proper, so we don;t need to push this on to 1.2.0.

[2015-08-13 14:34] niladreeb commented on #313
Tested successfully in actstage.

[2015-08-13 14:36] anjackson commented on #422
Actually, I think this is okay to push back to 1.2.0 - we should see what users want first, because I think the UI could use more serious modification.

[2015-08-13 14:37] anjackson commented on #421
Actually, lets push this back to the next version, as instances are not heavily used yet and we could use some feedback about how they should work.

[2015-08-13 14:37] anjackson commented on #423
How did you make this happen again? Just trying to add an instance?

[2015-08-13 14:38] niladreeb commented on #423
Yes just trying to add an instance from the lookup.

[2015-08-13 14:43] niladreeb commented on #377
Tested in actstage and its working fine.

[2015-08-13 14:45] niladreeb commented on #312
Tested in actstage and running fine

[2015-08-13 14:46] niladreeb commented on #310
New flag addition in actstage is tested successfully.

[2015-08-13 14:51] niladreeb commented on #381
Tested successfully in actstage.

[2015-08-13 15:02] niladreeb commented on #390
Tested successfully in actstage.

[2015-08-13 15:11] niladreeb commented on #260
Tested in actstage. Fields are visible and are not editable.

[2015-08-13 15:12] niladreeb commented on #387
Tested successfully in actstage.

[2015-08-13 15:26] anjackson commented on #417
new Add button allows exactly the same URL to be re-added. This makes sense longer term (as really a new Target record should be allowed to supersede an old Target record on the same URL), but right now it's just confusing. The Add button should not show if there are clear matches.

[2015-08-13 15:30] niladreeb commented on #391
Tested successfully in actstage.

[2015-08-13 15:43] niladreeb commented on #394
Tested on actstage and its working fine.

[2015-08-13 15:49] anjackson commented on #417
Okay, should work as expected once we'vre redeployed.

[2015-08-13 16:08] anjackson opened #425 "Add critical legislation notes on territoriality"
Use this definition? http://www.legislation.gov.uk/uksi/2013/777/regulation/18/made

Also consult the policy? (e-Legal Deposit web harvesting – territoriality policy)

[2015-08-13 16:11] niladreeb commented on #317
Tested in actstage and its working properly.

[2015-08-13 16:26] niladreeb commented on #317
Changed the label Date to Received Date in crawl permission list.

[2015-08-13 16:35] niladreeb commented on #179
Tested in actstage and its working properly.

[2015-08-13 16:46] niladreeb commented on #319
Testted successfully in actstage.

[2015-08-14 09:05] anjackson commented on #392
More on GROBiD

*  https://github.com/kermitt2/grobid-example/blob/master/src/main/java/org/grobidExample/ExampleBibTex.java
* Integrated under Tika:
   * https://t.co/DolGYP7BMS
   * https://wiki.apache.org/tika/GrobidJournalParser

[2015-08-14 10:09] niladreeb opened #426 "On Editing targets having no owner gives NullPointerException"
![image](https://cloud.githubusercontent.com/assets/12607939/9271840/db9e4a20-4274-11e5-8ac9-e7e645c5443f.png)

[2015-08-14 10:14] niladreeb commented on #375
Tested successfully in actstage.

[2015-08-14 11:49] niladreeb commented on #426
Null check implemented.

[2015-08-14 12:07] niladreeb commented on #378
Twerks added for null permission.

[2015-08-14 12:47] niladreeb commented on #423
Add Instance option is disabled for now.

[2015-08-14 12:53] niladreeb commented on #349
Tested successfully in actstage.

[2015-08-14 12:56] niladreeb commented on #379
Targets can be filtered by granted and requested date in actstage.

[2015-08-14 13:26] niladreeb commented on #317
Works fine in actstage.

[2015-08-14 13:27] niladreeb commented on #320
Works fine in actstage.

[2015-08-14 13:33] niladreeb commented on #424
Tested on actstage and it works fine.

[2015-08-14 13:35] niladreeb commented on #372
Tested on actstage and it works fine.

[2015-08-14 13:38] niladreeb commented on #378
Works absolutely fine in actstage.

[2015-08-14 13:39] niladreeb commented on #423
Works fine in actstage.

[2015-08-14 13:40] niladreeb commented on #410
Works perfectly fine in actstage.

[2015-08-14 13:51] niladreeb commented on #426
Works fine in actstage.

[2015-08-14 13:59] niladreeb commented on #408
Works fine in actstage.

[2015-08-14 15:19] niladreeb opened #427 "Adding target urls with invalid character crashes the page."
Example: http://www.adoptionuk.org/&*%$&

[2015-08-14 15:25] niladreeb commented on #409
Working fine in actstage.

[2015-08-14 16:35] niladreeb commented on #398
Working fine in actstage.

[2015-08-17 10:51] niladreeb commented on #386
Actstage showing no sign of DDHAPT successfully as now DDHAPT is disabled in the configuration.

[2015-08-17 10:53] niladreeb commented on #376
Build is not getting failed, and actstage working perfectly well.

[2015-08-17 13:31] niladreeb commented on #427
Working fine in local system

[2015-08-17 13:31] niladreeb commented on #427
Tested in actstage and issue is resolved.

[2015-08-17 13:42] niladreeb commented on #427
Retested and acts fine.

[2015-08-17 13:42] niladreeb commented on #424
Retested and acts fine.

[2015-08-17 13:44] niladreeb commented on #426
Retested and acts fine.

[2015-08-17 13:45] niladreeb commented on #419
Retested and acts fine.

[2015-08-17 13:48] niladreeb commented on #418
Retested and acts fine.

[2015-08-17 13:49] niladreeb commented on #410
Retested and acts fine.

[2015-08-17 13:58] niladreeb commented on #409
Retested and acts fine.

[2015-08-17 14:00] niladreeb commented on #408
Retested and acts fine.

[2015-08-17 14:02] niladreeb commented on #407
Retested and acts fine.

[2015-08-17 14:04] niladreeb commented on #402
Retested and acts fine.

[2015-08-17 14:05] niladreeb commented on #403
Retested and acts fine.

[2015-08-17 14:06] niladreeb commented on #399
Retested and works fine.

[2015-08-17 14:17] niladreeb commented on #396
Retested and works fine

[2015-08-17 14:20] niladreeb commented on #395
Retested and works fine.

[2015-08-17 14:20] niladreeb commented on #391
Retested and works fine.

[2015-08-17 14:23] niladreeb commented on #390
Retested and works fine.

[2015-08-17 14:26] niladreeb commented on #393
Retested and works fine.

[2015-08-17 14:29] niladreeb commented on #394
Retested and works fine.

[2015-08-17 14:30] niladreeb commented on #389
Retested and works fine.

[2015-08-17 14:32] niladreeb commented on #387
Retested and works fine.

[2015-08-17 14:32] niladreeb commented on #381
Retested and works fine.

[2015-08-17 14:33] niladreeb commented on #378
Retested and works fine.

[2015-08-17 14:38] niladreeb commented on #377
Retested and works fine.

[2015-08-17 14:41] niladreeb commented on #372
Retested and works fine.

[2015-08-17 14:43] niladreeb commented on #349
Retested and works fine.

[2015-08-17 14:50] niladreeb commented on #320
Retested and works fine.

[2015-08-17 14:51] niladreeb commented on #310
Retested and works fine.

[2015-08-17 14:52] niladreeb commented on #312
Retested and works fine.

[2015-08-17 14:52] niladreeb commented on #313
Retested and works fine.

[2015-08-17 14:53] niladreeb commented on #314
Retested and works fine.

[2015-08-17 14:53] niladreeb commented on #315
Retested and works fine.

[2015-08-17 14:54] niladreeb commented on #317
Retested and works fine.

[2015-08-17 14:54] niladreeb commented on #319
Retested and works fine.

[2015-08-17 15:03] niladreeb commented on #269
Retested and works fine.

[2015-08-17 15:04] niladreeb commented on #260
Retested and works fine

[2015-08-17 15:04] niladreeb commented on #423
Retested and works fine

[2015-08-17 15:04] niladreeb commented on #375
Retested and works fine.

[2015-08-17 15:07] niladreeb commented on #375
Tested and retested in actstage. The page do not fail due to the invalid URL.

[2015-08-17 15:08] niladreeb commented on #179
Retested and works fine.

[2015-08-17 15:08] niladreeb commented on #420
Retested and works fine.

[2015-08-18 14:43] PsypherPunk opened #428 "'Hidden' flag need for Targets and Instances"
Much as we did with WCT, we need a flag for both Targets and Instances to indicate whether an item should be _publically_ shown.

Ideally, this should be a field called `hidden` or similar, defaulting to `False`.

[2015-08-19 09:15] niladreeb commented on #428
@PsypherPunk Is it going to be editable by all users or restricted to admin and archivist?

[2015-08-19 09:16] PsypherPunk commented on #428
It should be editable by the owner plus admin/archivist.

Also, it shouldn't be editable _at all_ if there's no licence information.

[2015-08-19 09:52] anjackson commented on #428
Well, maybe we want to hide things that are only in the NPLD collection?

[2015-08-19 09:54] PsypherPunk commented on #428
At which point it starts getting complicated: what if we want to hide it publicly but not from NPLD? Or vice versa?

[2015-08-19 09:56] anjackson commented on #428
Hm, okay, then I suggest we just do the simplest thing first and see how it goes. Just add the flag and don't worry about whether there's any kind of license at all.

[2015-08-19 10:58] niladreeb opened #429 "KeySite and Hidden checkboxes once checked cannot be unset"

[2015-08-19 11:24] anjackson commented on #429
Ah, yes. If they are null you have to set them explicitly to False before they are saved/updated.

[2015-08-19 12:21] niladreeb commented on #428
Flag named 'Hidden' placed in overview of target and in instance.

[2015-08-19 12:55] niladreeb commented on #429
Ok.  Hidden and key site flag set explicitly to False when null.

[2015-08-27 08:14] dorotawalker opened #430 "Curators' list in alphabetical order"
In the Targets -> Reports -> Open UKWA tab -> Requested/Granted/Refused: Filter by curator to be arranged in alphabetical order.

[2015-08-27 08:17] dorotawalker opened #431 "Look up url page"
At the moment the alphabetical list of URLs is loaded on the 'Look up the URL'. It is not necessary as the same function exists in the 'List Targets'. I may cause confusion for users. Please remove the list.

[2015-08-27 08:25] anjackson commented on #431
So, if there is no URL search term, then no list should be shown. The lookup page should only show very close matches or identical target entries when a URL query is given.

Does that sound about right?

[2015-08-27 08:58] dorotawalker commented on #431
The list of all existing records below the search box appears with or without actual search:

![untitled](https://cloud.githubusercontent.com/assets/12541602/9516676/1e0b7f18-4ca2-11e5-8540-980e2de5c86d.png)

[2015-08-27 08:59] dorotawalker opened #432 "Spelling of the word LICENCE"
The word LICENCE is spelt in American English as License, e.g. Open License Request. Please change it.

[2015-08-27 09:00] dorotawalker opened #433 "Change the American English dictionary to British English."
Words such as organisation are highlighted as misspelt. Please change the dictionary if possible.

[2015-08-27 09:01] dorotawalker opened #434 "Spellcheck is not available in the title field"
Please add automatic spellcheck in the title field.

[2015-08-27 09:04] dorotawalker opened #435 "List of targets to be displayed in alphabetical order"
List targets -> Overview list of all records to be displayed in alphabetical order with a filter by date. Please see #413 as relating issue.

[2015-08-27 09:07] dorotawalker opened #436 "Status in the record UKWA licence tab"
After sending a permission request, the status is still seen as 'Queued', not 'Pending' in the target record (both view and edit modes).

[2015-08-27 09:08] dorotawalker opened #437 "Paragraph symbol </p> in the description field"
Some of the exported records from the old ACT have the paragraph symbol </p> at the beginning and the end of the description in the description field.

[2015-08-27 09:11] dorotawalker opened #438 "Web form information"
Sometimes we don't have an email address to send a permission request and we fill in a web form on the website. It would be useful, if the target record had a field to tick or fill in, preferably with a date, so we can keep track. It would be also useful for the statistics. It would be best placed in the Target record -> UKWA Licensing

[2015-08-27 09:13] dorotawalker opened #439 "Deselect all option"
Crawl Permission List: When clicking ‘Deselect all’ on page 2 (or any other than page 1 for that matter) it redirects to page 1. All records on page 1 are unticked, but when clicking ‘next page’ the records on page 2 are all ticked.

[2015-08-27 09:14] dorotawalker opened #440 "‘Archive it now’ button"
Crawl policy and Schedule: the ‘Archive it now’ button active in the view mode, but inactive in the edit mode. Requires the user to come out of edit mode and into view mode before the button becomes active. This adds unnecessary mouse clicks.

[2015-08-27 09:16] anjackson commented on #433
Seems to need

<html lang="en-GB">

[2015-08-27 09:21] dorotawalker opened #441 "Unable to untick the box for the NPLD criteria"
Unable to untick the box for the NPLD criteria ticked by another user, so if someone ticked incorrect that the url meets the criteria, I am unable to overwrite it. I can add 'No LD Criteria Met', but the NPLD Scope at the top of the target record is still with (+):

https://www.webarchive.org.uk/act/targets/29217
https://www.webarchive.org.uk/act/targets/29340

[2015-08-27 10:07] anjackson commented on #434
See https://developer.mozilla.org/en-US/docs/Web/HTML/Controlling_spell_checking_in_HTML_formsControlling_spell_checking_in_HTML_forms

[2015-08-27 14:23] niladreeb commented on #441
Similar to https://github.com/ukwa/w3act/issues/424. The issue is resolved and tested in actstage.

[2015-08-27 14:33] niladreeb commented on #440
This facility is provided to prevent lose of data. If any value is edited in the Edit mode, and then the Archive it now button is pressed then the new values will not be saved.

[2015-08-27 14:50] niladreeb commented on #432
Spelling of LICENCE changed everywhere.

[2015-09-01 10:20] dorotawalker opened #442 "Tags cannot be added"
When trying to create a new tag https://www.webarchive.org.uk/act/tags/new, there is no 'save' button on the screen. When hitting enter instead an error appears:
![untitled](https://cloud.githubusercontent.com/assets/12541602/9601711/61710d8e-509b-11e5-8ddc-0448b1d517d9.png)

[2015-09-01 10:27] niladreeb commented on #442
Checked in live system, and its working fine. Please check the screenshots:
![image](https://cloud.githubusercontent.com/assets/12607939/9601856/30460326-509c-11e5-973e-b15d49cec5ce.png)

Test data getting saved:
![image](https://cloud.githubusercontent.com/assets/12607939/9601890/6d9da97c-509c-11e5-8c61-e86118029b0c.png)

[2015-09-01 10:41] niladreeb commented on #442
@dorotawalker Only sys_admin is given permission. Do you want me to extend it to archivists also?

[2015-09-01 10:44] dorotawalker commented on #442
@nicolabingham what do you think?

[2015-09-01 10:44] nicolabingham commented on #442
@dorotawalker @niladreeb yes please give permission for Archivists to add tags (not any wider than this for the time being)

[2015-09-01 10:45] niladreeb commented on #442
@nicolabingham @dorotawalker sure. Thanks

[2015-09-01 11:14] niladreeb commented on #440
@nicolabingham please confirm if its fine?

[2015-09-01 13:15] nicolabingham commented on #440
@niladreeb ok, we better leave this as it is for the moment. Will think about adding a message for users to inform them to save their data before hitting Archive this now.

[2015-09-01 13:17] niladreeb commented on #440
@nicolabingham, i can add the message now only, if you want. In that case please give the content of the message.

[2015-09-01 13:18] nicolabingham commented on #440
@niladreeb great thank-you. Message should read "Please save the record before hitting 'Archive this now' otherwise your data may be lost."

[2015-09-01 13:54] niladreeb commented on #440
@nicolabingham thanks. 'Archive this now' button now active in edit mode with warning message.

[2015-09-01 13:55] niladreeb commented on #442
Now tags can be added and deleted by archivists.

[2015-09-01 15:30] niladreeb commented on #434
Added the spellcheck parameter but it is not working properly in all browsers as it is a browser dependent issue . Spellcheck is supposed to work fine in chrome and firefox, but currently it is working fine in firefox only.

[2015-09-01 16:13] niladreeb commented on #431
The entire list of URLs under Lookup URL is removed. Now it shows only exact or similar URL matches.

[2015-09-02 07:20] nicolabingham commented on #434
Thanks @niladreeb I will write up the spellcheck issue and browser dependency and put it in the user guide.

[2015-09-02 11:25] niladreeb commented on #436
Licence status is getting updated to 'Pending' in both view and edit mode.

[2015-09-02 12:14] niladreeb commented on #430
Curator's list is now arranged in alphabetical order.

[2015-09-02 13:14] GilHoggarth commented on #442
Dorota, please test this ticket.

[2015-09-02 13:14] GilHoggarth commented on #441
Dorota, please test this ticket.

[2015-09-02 13:15] GilHoggarth commented on #440
Dorota, please test this ticket.

[2015-09-02 13:16] GilHoggarth commented on #438
Dorota, please test this ticket.

[2015-09-02 13:16] GilHoggarth commented on #436
Dorota, please test this ticket.

[2015-09-02 13:16] GilHoggarth commented on #434
Dorota, please test this ticket.

[2015-09-02 13:17] GilHoggarth commented on #432
Nicola, please test this ticket.

[2015-09-02 13:17] GilHoggarth commented on #431
Dorota, please test this ticket.

[2015-09-02 13:17] GilHoggarth commented on #430
Nils, please test this ticket.

[2015-09-02 13:18] GilHoggarth commented on #429
Nils, please test this ticket.

[2015-09-02 13:18] GilHoggarth commented on #428
Nils, please test this ticket.

[2015-09-02 13:18] GilHoggarth commented on #427
Me, test.

[2015-09-02 13:19] GilHoggarth commented on #426
Me, test.

[2015-09-02 13:19] niladreeb commented on #430
Working fine in actstage.

[2015-09-02 13:19] GilHoggarth commented on #424
Nils, please test this ticket.

[2015-09-02 13:20] GilHoggarth commented on #423
Me, test.

[2015-09-02 13:20] GilHoggarth commented on #420
Andy, please test this ticket.

[2015-09-02 13:21] GilHoggarth commented on #419
Me, test.

[2015-09-02 13:21] GilHoggarth commented on #418
Dorota, please test this ticket.

[2015-09-02 13:21] niladreeb commented on #429
Working fine in actstage.

[2015-09-02 13:21] GilHoggarth commented on #417
Andy, please test this ticket.

[2015-09-02 13:22] GilHoggarth commented on #413
Nicola, please test this ticket.

[2015-09-02 13:22] GilHoggarth commented on #410
Nils, please test this ticket.

[2015-09-02 13:22] nicolabingham commented on #432
working in act stage

[2015-09-02 13:23] niladreeb commented on #428
Working fine in actstage.

[2015-09-02 13:23] GilHoggarth commented on #409
Andy, please test this ticket.

[2015-09-02 13:24] GilHoggarth commented on #408
Andy, please test this ticket.

[2015-09-02 13:24] GilHoggarth commented on #407
Me, test.

[2015-09-02 13:25] GilHoggarth commented on #403
Me, test.

[2015-09-02 13:25] GilHoggarth commented on #402
Me, test.

[2015-09-02 13:26] niladreeb commented on #424
Working fine in actstage.

[2015-09-02 13:27] nicolabingham commented on #413
working in act stage

[2015-09-02 13:29] GilHoggarth commented on #427
Fails.
- From homepage, selected Lookup & Add a Target
- Searched for given example, http://www.adoptionuk.org/&*%$& - No target found
- Clicked Add target - Execution exception[[NullPointerException: null]]

[2015-09-02 13:37] GilHoggarth commented on #401
Andy, if you think this is relevant to milestone 1.1.0, please test this ticket. Otherwise reassign to a different milestone.

[2015-09-02 13:38] GilHoggarth commented on #399
Nils, please test this ticket.

[2015-09-02 13:39] GilHoggarth commented on #398
Nils, please test this ticket.

[2015-09-02 13:40] anjackson commented on #420
Verified

[2015-09-02 13:40] GilHoggarth commented on #396
Nils, , please test this ticket.

[2015-09-02 13:44] GilHoggarth commented on #395
Nils, please test this ticket.

[2015-09-02 13:44] GilHoggarth commented on #394
Nicola, please test this ticket.

[2015-09-02 13:45] GilHoggarth commented on #393
Me, test.

[2015-09-02 13:45] anjackson commented on #417
Tested on actstage and it works.

[2015-09-02 13:46] GilHoggarth commented on #391
Nils, please test this ticket.

[2015-09-02 13:46] GilHoggarth commented on #390
Nicola, please test this ticket.

[2015-09-02 13:47] anjackson commented on #409
Tested on actstage and it works.

[2015-09-02 13:47] GilHoggarth commented on #389
Dorota, please test this ticket.

[2015-09-02 13:47] anjackson commented on #408
Tested on actstage and it works.

[2015-09-02 13:48] GilHoggarth commented on #387
Dorota, please test this ticket.

[2015-09-02 13:49] GilHoggarth commented on #386
Me, test.

[2015-09-02 13:49] GilHoggarth commented on #381
Me, test

[2015-09-02 13:49] anjackson commented on #91
Tested and working on actstage.

[2015-09-02 13:50] GilHoggarth commented on #380
Nils, please test this ticket.

[2015-09-02 13:51] anjackson commented on #401
This will be ready for @romankarl to help us with once we have a stable 1.1.0 release.

[2015-09-02 13:52] GilHoggarth commented on #379
Nils, please test this ticket.

[2015-09-02 13:53] GilHoggarth commented on #378
Me, test.

[2015-09-02 13:54] GilHoggarth commented on #377
Nicola, please test this ticket.

[2015-09-02 13:55] GilHoggarth commented on #376
Andy, please test this ticket as you might be the only one who understand this!

[2015-09-02 13:57] anjackson commented on #376
This is about the test suite, and I can verify that it's been working fine for a while now.

[2015-09-02 13:57] GilHoggarth commented on #349
Me, test.

[2015-09-02 13:58] GilHoggarth commented on #320
Me, test.

[2015-09-02 13:59] GilHoggarth commented on #319
Nicola, please test this ticket if you can - reassign to Nils if not.

[2015-09-02 13:59] GilHoggarth commented on #317
Me, test.

[2015-09-02 14:00] GilHoggarth commented on #315
Me, .test.

[2015-09-02 14:01] GilHoggarth commented on #314
Nicola, please test this ticket.

[2015-09-02 14:01] GilHoggarth commented on #313
Nicola, please test this ticket.

[2015-09-02 14:02] GilHoggarth commented on #312
Nils, please test this ticket.

[2015-09-02 14:05] GilHoggarth commented on #310
Dorota, , please test this ticket.

[2015-09-02 14:05] GilHoggarth commented on #269
Me, test.

[2015-09-02 14:06] GilHoggarth commented on #260
Andy, not sure how to test this ticket. Can you test this ticket please?

[2015-09-02 14:07] GilHoggarth commented on #179
Me, test.

[2015-09-02 14:07] niladreeb commented on #399
Working fine in actstage.

[2015-09-02 14:08] GilHoggarth commented on #91
Andy, please test this ticket.

[2015-09-02 14:08] GilHoggarth commented on #91
Ah, looks like you already have. Okay, accepted as tested on actstage.

[2015-09-02 14:10] anjackson commented on #260
I'm going to let @niladreeb check this one, if that's okay.

[2015-09-02 14:10] nicolabingham commented on #394
tested on act stage and working fine

[2015-09-02 14:13] nicolabingham commented on #313
tested on act stage and working fine

[2015-09-02 14:29] nicolabingham commented on #377
tested on act stage, works fine

[2015-09-02 14:36] niladreeb commented on #398
The bug is resolved from one scenario i.e changing from Granted to other status is getting reflected. But after discussing with Nicola the other scenarios I had in mind like changing from Queued to others status etc, this bug stands not ready.

[2015-09-02 14:39] niladreeb commented on #391
Working fine in actstage.

[2015-09-02 14:42] niladreeb opened #443 "Adding target gives null pointer exception"

[2015-09-02 14:46] GilHoggarth commented on #426
Can't find any 'no owner' targets in postgres database, and can't create a target to test. So effectively untested and failed.

[2015-09-02 14:49] niladreeb commented on #375
Working fine in actstage.

[2015-09-02 14:50] niladreeb commented on #312
Working fine in actstage.

[2015-09-02 14:51] GilHoggarth commented on #423
Option to add an instance if not found in 'Lookup instances' not disabled, so I can't test (basically test passed in this case - bah humbug).

[2015-09-02 14:53] GilHoggarth commented on #419
Fails.
    From homepage, selected Lookup & Add a Target
    Searched for given example, http://www.giltest.co.uk - No target found
    Clicked Add target - Execution exception[[NullPointerException: null]]

[2015-09-02 14:55] niladreeb commented on #260
the metadata fields are now visible in the UI and are not editable. This much is now within test scope.

[2015-09-02 14:57] niladreeb commented on #410
Works fine in actstage.

[2015-09-02 14:57] nicolabingham commented on #319
@GilHoggarth @niladreeb I just need to check what to expect from this report, will the date granted column be populated only for targets with permissions granted once we deploy this to production, i.e. for future permissions? or will the date granted be shown for existing targets in W3ACT? There are some targets with permission in this list on act stage but nothing is shown in the date granted col

[2015-09-02 14:59] dorotawalker commented on #442
Tested and it works.

[2015-09-02 15:03] niladreeb commented on #395
Working fine in actstage.

[2015-09-02 15:05] dorotawalker commented on #441
This does not seem to be working. The record https://www.webarchive.org.uk/actstage/targets/29217 has three ticks in the NPLD criteria. The site is out of scope and the selector put the justification incorrectly, but when trying to untick the address and the professional judgement, the changes are not saved and the message is 'One of the checks for NPLD permission has been passed. Please unselect

[2015-09-02 15:19] dorotawalker commented on #440
The 'Archive it now' button is now active in both 'view' and 'edit' modes and I am not sure whether it was the intention. @nicolabingham could you please comment?
Also when hitting the button it comes with an error, but I guess we'll raise it as a separate issue:

![untitled](https://cloud.githubusercontent.com/assets/12541602/9635427/547f7496-518e-11e5-95d7-6bfde2c2aa9c.png)

[2015-09-02 15:21] dorotawalker commented on #438
Tested and it works ok.

[2015-09-02 15:27] dorotawalker commented on #436
Tested and it does not seem to have worked. 'Queued' status in both view and edit mode for the records where permission requests have been sent. I have checked the following:

https://www.webarchive.org.uk/actstage/targets/30024
https://www.webarchive.org.uk/actstage/targets/30020
https://www.webarchive.org.uk/actstage/targets/30007

[2015-09-02 15:28] GilHoggarth commented on #403
I suspect the problem here is more likely to be incorrect data, probably imported into the system when the import mechanism didn't fully work, rather than an issue with W3ACT itself. I've tested using an expert and a normal user an neither has a problem with this. Consequently ticket passed.

[2015-09-02 15:30] GilHoggarth commented on #402
What status tab? Assigning to Nils!

[2015-09-02 15:32] dorotawalker commented on #434
Tested and it works ok in Firefox, not working in IE. I don't have Chrome on my PC, so unable to test that.

[2015-09-02 15:33] dorotawalker commented on #431
Tested and it works ok.

[2015-09-02 15:35] GilHoggarth commented on #393
Using Targets > Lookup a URL and https://twitter.com/aasmahmir", both before pressing Search (i.e., auto suggest) and the search results have https://twitter.com/AasmahMir.
Accepted as passed.

[2015-09-02 15:36] dorotawalker commented on #418
Tested and it works fine

[2015-09-02 15:40] GilHoggarth commented on #386
As the admin, expert or normal user, I can't see any evidence of the DDHAPT menu or features. @anjackson Is this okay, i.e., not even visible as the admin or should this be visible to the admin as described in the first ticket comment?

[2015-09-02 15:41] dorotawalker commented on #389
Removed the end date from the https://www.webarchive.org.uk/actstage/targets/3061. When hitting save an error comes up:

![untitled](https://cloud.githubusercontent.com/assets/12541602/9636061/7f102d60-5191-11e5-8f88-cccf6705389a.png)

[2015-09-02 15:43] dorotawalker commented on #387
Tested and it works fine.

[2015-09-02 15:44] niladreeb commented on #436
@dorotawalker The bug was resolved in such a manner that to see the changes the targets need to be sent again. For new targets it will work directly.

[2015-09-02 15:46] GilHoggarth commented on #381
@anjackson @niladreeb Is http://www..giltest.co.uk acceptable? I mean legally? It is in actstage.

[2015-09-02 15:47] dorotawalker commented on #310
Tested and it works ok.

[2015-09-02 15:50] niladreeb commented on #381
@GilHoggarth No it is not acceptable.

[2015-09-02 15:50] dorotawalker commented on #436
@niladreeb works ok for new targets. @nicolabingham is there anything you would like to do with the existing ones?

[2015-09-02 15:54] niladreeb commented on #443
duplicate of #419

[2015-09-02 15:58] niladreeb commented on #419
Issue resolved.

[2015-09-02 15:59] GilHoggarth commented on #378
@niladreeb Don't know how to test this. Can you please.

[2015-09-02 16:00] niladreeb commented on #378
@GilHoggarth sure.

[2015-09-02 16:04] niladreeb commented on #402
Its the 'System Status'  in home page after admin login. Works fine in actstage.

[2015-09-02 16:05] GilHoggarth commented on #378
Nils showed me where the communication log was - not part of target page as I understood from original description. Seen to work fine on /actstage.

[2015-09-02 16:15] GilHoggarth commented on #434
Speaking to Nils, I understand that this spell check feature only works in firefox currently and won't be implemented in chrome, unless we get significant requests for this.

[2015-09-02 16:18] GilHoggarth commented on #362
Moved to X.X.X future milestone as not at all relevant to 1.1.0.

[2015-09-02 16:20] niladreeb commented on #372
Works fine in actstage.

[2015-09-02 16:20] GilHoggarth commented on #381
Then ticket not passed.

[2015-09-02 16:27] GilHoggarth commented on #349
Tested and only spaces not allowed. However, single characters are such as '\', '.' so will submit new ticket proposing a block on meaningless text in manually edited fields.

[2015-09-02 16:31] GilHoggarth opened #444 "Check manually entered text for 'meaningful' data"
I was tested the ticket that fixed target titles from being blank, but noted that single characters are still allowed. As this is a field for the use and purpose of the curators, can we enforce the entrance of "meaningful" values? That is, starts with a non-whitespace character, includes at least two spaces separating blocks (2 chars or more) of alphanumeric text, end with a non-whitespace charact

[2015-09-02 16:33] GilHoggarth commented on #320
Values seen in /actstage postgres db - could be useful to see last login times in production.

[2015-09-02 16:41] GilHoggarth commented on #317
Done on /actstage. (You might have wanted a way to return to name order but then that wasn't asked for!) Noted that the filter isn't actionable - the filter status box can be changed but there's no button to instigate the filter. Will add X.X.X future milestone ticket.

[2015-09-02 16:43] GilHoggarth opened #445 "Filter on crawl permissions page isn't actionable"
Although there's a filter of crawl permissions statuses on https://webarchive.org.uk/actstage/crawlpermissions/list?s=updatedAt&status=PENDING, there's no way of making a change of selection affect the data. I.e., it needs something like an Apply button.

[2015-09-02 16:45] GilHoggarth commented on #315
Justification field no longer displayed on target metadata tab on /actstage.

[2015-09-02 17:20] anjackson commented on #434
I think it should work on all browsers if the correct language packs/dictionaries are installed. It's a browser feature not a W3ACT feature. See http://www.wufoo.com/html5/attributes/17-spellcheck.html

[2015-09-02 17:21] anjackson commented on #386
I did mean it to be visible to sysadmin, but it's not critical for this release. Maybe make a new ticket for 1.2.0?

[2015-09-02 22:51] anjackson commented on #121
This is really a genuine requirement and should be scheduled for a future version.

[2015-09-02 22:52] anjackson commented on #121
It would make sense to add this as a new 'additional crawls' database field, so the 'baseline crawl schedule' can remain in place as is.

[2015-09-03 07:31] nicolabingham commented on #434
This will be dealt with by way of notes in the user guide.

[2015-09-03 08:25] nicolabingham commented on #436
@dorotawalker I think it is the case that ALL existing Queued crawl permissions on W3ACT should be correctly tagged as Pending? The only Queued crawl permissions will be those that have recently been submitted by curators, probably only a day's worth as you deal with this list every day?

[2015-09-03 08:28] dorotawalker commented on #436
@nicolabingham I agree, especially if the bug is not fixed now, we will forever have a non-existing backlog of 'queued' permissions. I think it would be good to sort it out.

[2015-09-03 08:31] GilHoggarth commented on #179
Nils, reading through this ticket I don't understand what's been asked for and what's been done. Can you test on /actstage please, and update this ticket as appropriate.

[2015-09-03 08:34] nicolabingham commented on #436
@dorotawalker I'm not sure if this was a bug or a question of how the original requirement document expressed how these states (Queued, Pending etc) should be marked. Once this code has been released to production any new crawl permissions will be correctly marked as Pending once they are sent out (so the bug part is fixed). What we are concerned about is the backlog of Queued permissions on the s

[2015-09-03 09:10] nicolabingham commented on #436
Going to mark this as Done as the bug has been fixed. @dorotawalker we can ask @niladreeb to look at the legacy Queued crawl permissions in a separate ticket after we have reviewed the scope of the problem. It may be that @niladreeb can write code to fix this but it is not a priority for 1.1.0.

[2015-09-03 10:07] nicolabingham commented on #441
As commented by @dorotawalker this is not working as expected. Changes to NPLD made in edit mode (e.g. unchecking the postal address box) are not saved or are saved inconsistently.

[2015-09-03 10:08] GilHoggarth commented on #269
Failed.
- Targets > List Instances
- Entered "http://www.bbc.co.uk" to get a sufficiently large result set
- Clicked 'Organisation' to see  An unexpected error has occurred.
 "Execution exception[[PersistenceException: java.util.concurrent.ExecutionException: javax.persistence.PersistenceException: Query threw SQLException:ERROR: column "fieldnominatingorganisation" does not exist "

Having repeat

[2015-09-03 10:13] GilHoggarth commented on #427
Tested again, works in this newer release on /actstage.

[2015-09-03 10:26] nicolabingham commented on #440
Yes, it is fine to have the 'Archive this now' button in Edit mode so long as we have the error message requesting users save their data first to prevent loss of data as @niladreeb mentions.

[2015-09-03 10:27] GilHoggarth commented on #426
Failed.
Created new target - www.giltest.co.uk - then edited it as admin to set owner to None. Resulted in Execution exception[[NumberFormatException: For input string: ""]]

[2015-09-03 10:30] GilHoggarth commented on #419
Test repeated and successful. Able to create giltest.co.uk

[2015-09-03 10:31] GilHoggarth commented on #386
Ticket fix accepted for this milestone. I'll create a new ticket to capture the need to expose the DDHAPT services to the admin user.

[2015-09-03 10:33] GilHoggarth opened #446 "Expose DDHAPT features to admin user"
The DDHAPT features have been hidden from all users in milestone 1.1.0. This ticket requests that these features are made available to the admin user only, to enable continued development of DDHAPT.

[2015-09-03 10:35] nicolabingham commented on #441
After speaking with @niladreeb it seems the issue is that the additional information boxes (postal address URL, correspondence and professional judgment notes) also need to be cleared as well as the boxes unchecked. Will add notes to explain this to users as follows:
'If unchecking the UK Postal address/Correspondence/Professional Judgement boxes, the corresponding notes fields should be cleared o

[2015-09-03 11:56] niladreeb commented on #396
Server side email validation and default selection type is working fine in actstage.

[2015-09-03 12:01] niladreeb commented on #179
In this ticket Reports>Target creation>Filter by NPLD was not filtering properly. Now it is giving proper result in actstage.

[2015-09-03 13:41] niladreeb commented on #398
Resolved properly.

[2015-09-03 14:20] GilHoggarth commented on #426
Still failing:
[code]

[2015-09-03 14:48] niladreeb commented on #426
'--None--' option removed from Selector, which resolved the issue.

[2015-09-03 15:13] niladreeb commented on #269
Sorting  with organisation working fine.

[2015-09-03 15:16] niladreeb commented on #398
Working fine in actstage.

[2015-09-03 15:32] niladreeb commented on #269
Moreover as per the url example given in the first comment, this ticket need to be tested from this link Targets>List Targets>Clicking on any target>Clicking on Instances on the right hand side of the page.

[2015-09-03 15:58] niladreeb commented on #381
A new UrlValidator implemented to block the entry of invalid url. Working fine locally.

[2015-09-03 16:47] niladreeb commented on #380
Tested on actstage and it is giving a proper result.

[2015-09-04 09:34] GilHoggarth commented on #426
Good fix! Considered done on /actstage.

[2015-09-04 09:50] GilHoggarth commented on #319
@nicolabingham @niladreeb Well, as you submitted this request originally you should expect what you asked for :) However, currently I don't think that's what you're getting.
Viewing https://www.webarchive.org.uk/actstage/reports#granted I can see that there's a new column called "Date granted" but that's the only change I'm aware of. In this Granted report and in the other two, there are no actual

[2015-09-04 10:13] GilHoggarth commented on #269
Works on /actstage (will log a separate issue for the Targets > List Instances java exception).

[2015-09-04 10:24] niladreeb commented on #319
@nicolabingham @GilHoggarth The requested date and granted date are new facilities which were not there before. Initially there was created date and updated date. Now when a permission will be sent to author of a site and the status will be 'Pending', then the requested date gets filled with the current time. Similarly when the author grants the permission and the status changes to 'Granted' then

[2015-09-04 10:39] GilHoggarth commented on #319
@nicolabingham I consequently suggest that you create a new target and go through the permission granting process, checking that these report values get set as expected along the way.
@niladreeb I assume there's no way of gaining the old dates given what was shown before wasn't correct data.

[2015-09-08 09:23] nicolabingham commented on #381
I tried to create a Target with Gil's invalid URL http://www..giltest.co.uk and got the error message "The URL entered is not valid. Please check and correct it, and click Save again". Also tried a few other invalid characters e.g. "!" and "," and got the error message. This seems to be working fine in /actstage/

[2015-09-08 10:14] anjackson commented on #389
The stack trace goes away if you remove some of the URLs (e.g.  http://greenparty.org.uk/, https://www.greenparty.org.uk/)

So, what's happening here is that the check for whether a URL is already attached to a target is wrong here. It is aggressively replacing with/without www. hostnames but it should keep what the users enters.

[2015-09-08 10:29] niladreeb commented on #412
Working fine in actstage.

[2015-09-08 13:46] niladreeb commented on #389
Now working fine on actstage.

[2015-09-08 15:37] niladreeb commented on #379
Tested successfully on actstage for requested date and granted date and the results are as follows:
'requestedAt': 1441293345681L
'grantedAt': None
'requestedAtISO': u'2015-09-03T15:15:45Z'
'grantedAtISO': None

[2015-09-09 08:52] GilHoggarth commented on #396
Me, test.

[2015-09-09 08:53] GilHoggarth commented on #390
Me, test.

[2015-09-09 08:53] GilHoggarth commented on #440
Me, test.

[2015-09-09 08:57] GilHoggarth commented on #274
Me, test.

[2015-09-09 08:58] GilHoggarth commented on #443
Nils, please test on /actstage.

[2015-09-09 08:58] GilHoggarth commented on #411
Dorota, please test on /actstage.

[2015-09-09 08:59] GilHoggarth commented on #379
Nil, please test on /actstage.

[2015-09-09 08:59] GilHoggarth commented on #389
Nicola, please test on /actstage.

[2015-09-09 09:00] GilHoggarth commented on #381
Nils, please test on /actstage.

[2015-09-09 09:07] GilHoggarth commented on #429
Nicola, please test on /actstage - especially regarding appropriate role.

[2015-09-09 09:07] nicolabingham commented on #389
Tested and working on actstage

[2015-09-09 09:08] GilHoggarth commented on #430
Me, test.

[2015-09-09 09:09] GilHoggarth commented on #428
Nils, please test on /actstage.

[2015-09-09 09:10] GilHoggarth commented on #424
Me, test - consider roles?

[2015-09-09 09:10] GilHoggarth commented on #420
Nils, please test on /actstage.

[2015-09-09 09:11] GilHoggarth commented on #409
Andy, please test on /actstage.

[2015-09-09 09:12] GilHoggarth commented on #408
Nils, please test on /actstage.

[2015-09-09 09:12] GilHoggarth commented on #417
Nicola, please test on /actstage.

[2015-09-09 09:13] GilHoggarth commented on #376
Tested as part of /actstage build process.

[2015-09-09 09:14] GilHoggarth commented on #399
Nils, only you will understand the issue here!  Please test on /actstage.

[2015-09-09 09:15] GilHoggarth commented on #91
Andy, please test again on /actstage.

[2015-09-09 09:15] GilHoggarth commented on #394
Dorota, please test on /actstage.

[2015-09-09 09:16] GilHoggarth commented on #313
Me, test.

[2015-09-09 09:16] GilHoggarth commented on #314
Nicola, please test on /actstage.

[2015-09-09 09:17] GilHoggarth commented on #377
Nils, please test on /actstage.

[2015-09-09 09:18] GilHoggarth commented on #391
Nils, another that only you'll understand. Please test in /actstage.

[2015-09-09 09:18] GilHoggarth commented on #375
Me, test.

[2015-09-09 09:19] GilHoggarth commented on #312
Dorota, please test on /actstage.

[2015-09-09 09:19] GilHoggarth commented on #423
Me, test.

[2015-09-09 09:21] GilHoggarth commented on #260
Nils, please test on /actstage.

[2015-09-09 09:21] GilHoggarth commented on #410
Me, test.

[2015-09-09 09:22] GilHoggarth commented on #395
Nils, please test on /actstage.

[2015-09-09 09:22] nicolabingham commented on #314
tested and working in actstage

[2015-09-09 09:23] GilHoggarth commented on #407
Nicola, please test on /actstage.

[2015-09-09 09:24] GilHoggarth commented on #403
Me, test.

[2015-09-09 09:24] GilHoggarth commented on #393
Nils, please test on /actstage.

[2015-09-09 09:25] GilHoggarth commented on #418
Nicola, please test on /actstage.

[2015-09-09 09:26] GilHoggarth commented on #442
Nicola, please test on /actstage.

[2015-09-09 09:26] GilHoggarth commented on #431
Nicola, please test on /actstage.

[2015-09-09 09:26] GilHoggarth commented on #438
Me, test.

[2015-09-09 09:26] GilHoggarth commented on #387
Dorota, please test on /actstage.

[2015-09-09 09:27] GilHoggarth commented on #310
Nicola, please test on /actstage.

[2015-09-09 09:27] GilHoggarth commented on #402
Me, test.

[2015-09-09 09:27] GilHoggarth commented on #432
Dorota, please test on /actstage.

[2015-09-09 09:28] GilHoggarth commented on #413
Dorota, please test on /actstage.

[2015-09-09 09:29] GilHoggarth commented on #378
Me, test.

[2015-09-09 09:29] GilHoggarth commented on #372
Nils, please test on /actstage.

[2015-09-09 09:30] GilHoggarth commented on #349
Me, test.

[2015-09-09 09:30] GilHoggarth commented on #320
Me, test.

[2015-09-09 09:31] GilHoggarth commented on #317
Dorota, please test on /actstage.

[2015-09-09 09:31] GilHoggarth commented on #315
Nicola, please test on /actstage.

[2015-09-09 09:31] GilHoggarth commented on #427
Nils, please test on /actstage.

[2015-09-09 09:32] GilHoggarth commented on #386
Nils, please test on /actstage.

[2015-09-09 09:32] GilHoggarth commented on #179
Me, test.

[2015-09-09 09:33] nicolabingham commented on #417
Tested on actstage

[2015-09-09 09:33] GilHoggarth commented on #419
Nils, please test on /actstage.

[2015-09-09 09:34] GilHoggarth commented on #398
Nils, please test on /actstage.

[2015-09-09 09:35] GilHoggarth commented on #434
Dorota, please test on /actstage.

[2015-09-09 09:36] GilHoggarth commented on #436
Dorota, please test on /actstage.

[2015-09-09 09:36] GilHoggarth commented on #380
Me, test.

[2015-09-09 09:37] GilHoggarth commented on #426
Andy, please test on /actstage.

[2015-09-09 09:37] GilHoggarth commented on #269
Me, test.

[2015-09-09 09:38] GilHoggarth commented on #319
Dorota, please test on /actstage.

[2015-09-09 09:38] dorotawalker commented on #317
Tested and it's working ok.

[2015-09-09 09:51] nicolabingham commented on #407
Tested on actstage and working fine

[2015-09-09 09:53] dorotawalker commented on #319
Tested for a new record and it works fine.

[2015-09-09 09:55] dorotawalker commented on #413
Tested and it works ok.

[2015-09-09 09:58] nicolabingham commented on #418
Tested and working on actstage

[2015-09-09 10:00] dorotawalker commented on #432
Tested and it has been changed everywhere except Targets -> List -> Filters. The filter still has a wrong spelling.

[2015-09-09 10:01] dorotawalker commented on #432
@GilHoggarth not sure which label to add.

[2015-09-09 10:08] dorotawalker commented on #312
Tested it and it works ok in the edit mode, but in the view mode the field is 'None'. It can only be changed after saving.

[2015-09-09 10:12] nicolabingham commented on #315
Tested and worked on actstage

[2015-09-09 10:18] GilHoggarth commented on #438
Web form date seen under UKWA Licencing.

[2015-09-09 10:19] niladreeb commented on #443
Working fine on actstage.

[2015-09-09 10:19] GilHoggarth commented on #430
Seen to be done in /actstage.

[2015-09-09 10:21] nicolabingham commented on #312
@dorotawalker just discussing this with @niladreeb . This is another issue in which the enhancement will not affect existing data. New entries in W3ACT will correctly be marked however we need to look at what we want to happen to existing records. It may be that we can do a global change (i.e. change None to English) but the consequences should be assessed. We will discuss this offline along with

[2015-09-09 10:22] niladreeb commented on #419
Working fine on actstage. Able to create http://hello.com .

[2015-09-09 10:22] GilHoggarth commented on #424
Tested and working on /actstage.

[2015-09-09 10:25] niladreeb commented on #420
Working properly on actstage.

[2015-09-09 10:35] GilHoggarth commented on #440
@nicolabingham As an archivist, the "Archive this now" button exists in both View and Edit mode - selecting the button in View presents the message "There was a problem queuing this crawl instruction. Please refer to the system administrator." and selecting the button in View mode presents the message "
Sorry, that page does not exist.
    /actstage/targets/30148/@routes.TargetController.archive(i

[2015-09-09 10:37] dorotawalker commented on #312
@nicolabingham thanks for the explanation. In this case the ticked is working fine.

[2015-09-09 10:37] GilHoggarth commented on #423
Tested and working on /actstage.

[2015-09-09 10:38] GilHoggarth commented on #410
Nils, can you test this please, I don't understand what the issue is or how to test.

[2015-09-09 10:40] niladreeb commented on #428
Working fine on actstage.

[2015-09-09 10:41] GilHoggarth commented on #402
Status page now displays correctly, assuming that the stati of all but Wayback not being available is correct. This should be tested once live to ensure these services are correctly configured.

[2015-09-09 10:42] dorotawalker commented on #411
Tested and works fine

[2015-09-09 10:45] GilHoggarth commented on #390
Checked as Expert and Key site value couldn't be edited. Checked as Archivist and successfully managed to amend the Key site value. Passed.

[2015-09-09 10:46] dorotawalker commented on #436
Tested and it works ok for new records.

[2015-09-09 10:47] niladreeb commented on #410
On clicking the link 'Instances' in the target page and then any of the instance from the instance list used to open the specific instance in edit mode. Now it is solved and it opens in view mode. Moreover the labels in view mode and edit mode are in sync. Passed on actstage.

[2015-09-09 10:49] dorotawalker commented on #434
Spelling is not working, but the issue is resolved.

[2015-09-09 10:51] dorotawalker commented on #387
Tested and it works fine.

[2015-09-09 10:53] niladreeb commented on #427
After adding the invalid url the page is not crashing on actstage. When tried to save the invalid url it gave a warning message. Passed on actstage.

[2015-09-09 10:58] GilHoggarth commented on #378
Checking the example Roger gave (understood to be https://www.webarchive.org.uk/actstage/communicationlogs/28688), this still fails.

[2015-09-09 11:12] GilHoggarth commented on #375
The two duff URLs above from Roger were tested and were not allowed. URLs with 2 or more sequential periods were allowed, but were highlighted as invalid in the target Edit mode when trying to save. Not the best solution but acceptable for release.

[2015-09-09 11:27] GilHoggarth commented on #378
Nils has informed me that example 28688 isn't actually valid data (perhaps any longer?) The other values checked in the Communications Log didn't show a Java null pointer so issue considered resolved.

[2015-09-09 11:36] GilHoggarth commented on #349
Spaces only not allowed. Single characters still allowed but that isn't part of this ticket.

[2015-09-09 11:36] niladreeb commented on #408
URL normalising is working properly on actstage. But the duplicate work foundation is still there in the system.

[2015-09-09 11:38] GilHoggarth commented on #320
Working on /actstage.

[2015-09-09 11:42] #376 closed

[2015-09-09 11:43] niladreeb commented on #399
In target page under UKWA Licencing, the Licence status dropdown used to show two 'Not Initiated' status. Now working fine in actstage.

[2015-09-09 12:07] GilHoggarth commented on #313
Option to enter second language is now possible, but there's only a choice of English and Deutsche. Agreed with @nicolabingham that this is acceptable at this point - Nicola will create a new ticket to extend the list of languages choices for a future milestone.

[2015-09-09 12:08] niladreeb commented on #398
Working properly in actstage for all status

[2015-09-09 12:47] GilHoggarth commented on #274
Issue concentrating on integrity of data - i.e., no user should have more than 1 role. Checking the postgres database `role_user` table, there are not users will more than 1 role.

Database also check on production service - no users will more than 1 role there either. Ticket consequently closed.

[2015-09-09 12:47] #274 closed

[2015-09-09 12:55] GilHoggarth commented on #269
Repeated test as above `Targets > List Targets > (select a target) > (select title or URL for list order) - works as expected.

[2015-09-09 13:04] GilHoggarth commented on #179
Think this is working but @niladreeb can you test and label as appropriate please.

[2015-09-09 13:17] niladreeb commented on #381
Tried using various invalid formats and it gave a warning message. Working fine in actstage.

[2015-09-09 13:23] nicolabingham commented on #440
@GilHoggarth after understanding the consequences a bit more I think this button should only be available in Edit mode even to Archivists (in other words rescinding this ticket).

[2015-09-09 13:23] niladreeb commented on #386
Working fine as it is expected to be for this release in actstage.

[2015-09-09 13:36] GilHoggarth commented on #403
Searched W3ACT postgres database and found an example of a target that has no depth set - 29984. However, when viewed via W3ACT this value is now displayed as "Capped (small - 500MB)". That is, Nils has implemented the code so that a null value is displayed as "Capped (small...".

There are 641 targets in the database that have no depth set - a new ticket should be created if these records should

[2015-09-09 13:37] GilHoggarth commented on #380
Ah, I don't know how to use the API to attempt to test this. @niladreeb can you test please.

[2015-09-09 13:42] niladreeb commented on #179
Sure @GilHoggarth. The NPLD filter is working properly in actstage.

[2015-09-09 13:44] GilHoggarth commented on #432
@dorotawalker Given this spelling correction has been added in some places, can we bump this remaining fix to the next milestone? (Please :) If this is okay, this issue can be labelled "2 - Tested and working on stage".

[2015-09-09 13:45] dorotawalker commented on #432
@GilHoggarth that's absolutely fine.

[2015-09-09 13:52] niladreeb commented on #380
The API is giving proper message when I try to add existing data like 'Seed URL already associated with a current Target <a href="http://www.webarchive.org.uk/act/targets/10">http://www.webarchive.org.uk/act/targets/10</a>'. Passed on actstage.

[2015-09-09 13:55] niladreeb commented on #260
Working fine on actstage.

[2015-09-09 14:03] GilHoggarth commented on #432
Shifted issue to next milestone, to get the Targets -> List -> Filters spelling mistake corrected.

[2015-09-09 14:07] anjackson commented on #409
Tested - all working fine now.

[2015-09-09 14:11] anjackson commented on #91
Tested and working fine on actstage.

[2015-09-09 14:13] anjackson commented on #426
Can no longer set the user to 'None'. Passed.

[2015-09-09 14:13] niladreeb commented on #372
Now a warning message is generated when  I try to add different names for a registered email. The unique key restriction is working fine in actstage.

[2015-09-09 14:14] niladreeb commented on #377
Working fine on actstage.

[2015-09-09 14:15] GilHoggarth commented on #393
Me, test.

[2015-09-09 14:16] GilHoggarth commented on #395
Me, test.

[2015-09-09 14:22] niladreeb commented on #391
If any target have crawl end date != null, it was visible in view mode but invisible in edit mode. This problem is resolved and it is working fine in actstage.

[2015-09-09 14:26] niladreeb commented on #396
Email validation and default selection type is working fine in actstage.

[2015-09-09 14:28] niladreeb commented on #379
Working fine on actstage.

[2015-09-09 14:29] GilHoggarth commented on #395
Tested on /actstage using IE 9.0.8112.16421 64bit. Had to refresh most pages to see any content but didn't see this frequency/date issue. Marking ticket as passed therefore but @dorotawalker @nicolabingham I see that Joan Francis has a few tickets mentioning her name (I think.) Perhaps it would be best to contact her directly and clarify if she's still suffering problems after this 1.1.0 release.

[2015-09-09 14:31] GilHoggarth commented on #393
Working on /actstage.

[2015-09-09 14:42] GilHoggarth commented on #440
Resolution to this ticket is to remove the "Archive this now" button entirely in this milestone release. Andy has checked deeper into the W3ACT code and it doesn't check if a target is in scope, so could allow the collection of out of scope content. @niladreeb Please remove/comment out this button from the code.
A new ticket will be created for a future milestone to enable this conceptual function

[2015-09-09 14:42] #440 closed

[2015-09-09 14:45] anjackson opened #447 "Revise and fix Archive This Now functionality."
Following #440, it became clear that the Archive Now functionality was not correct. This is because it should only be possible to perform the action if the host is in-scope for crawling. This can only be done from the 'View' mode, and is in fact currently broken (as you can use it to archive things that are out of scope).

So, there are two steps. Firstly, the Archive This Now button needs to be r

[2015-09-09 14:46] anjackson commented on #412
Working fine on actstage.

[2015-09-09 14:49] GilHoggarth commented on #412
@niladreeb Can you check this please. My understanding of the ticket is that the NPLD scope tick boxes for 'UK Postal Address', 'via Correspondence' and 'Professional Judgement' should be removed, and that their value should be set internally if text is entered in the corresponding text boxes.

However, looking at a target, these tickboxes are still visible. (e.g., https://www.webarchive.org.uk/ac

[2015-09-09 14:58] niladreeb opened #448 "Enhancement of NPLD tickboxes"
The tickboxes should not be form elements rather they should act as an indication by the side of the text fields. They should check/uncheck automatically depending upon the corresponding text fields and should not be editable.

[2015-09-09 15:02] niladreeb commented on #441
A new ticket https://github.com/ukwa/w3act/issues/448 has been raised to address the issue properly.

[2015-09-09 15:02] #441 closed

[2015-09-09 15:05] GilHoggarth commented on #447
The above value are currently set on /actstage in `prod.conf`, but on crawler03 there is no service running on 5672. Checking this conf on production /act, these values are the same except that
 `queue_host=amqp.wa.bl.uk`.

[2015-09-10 10:29] GilHoggarth commented on #438
Web form field and date seen on live.

[2015-09-10 10:29] #438 closed

[2015-09-10 10:29] #310 closed

[2015-09-10 10:30] niladreeb commented on #443
Working fine in live.

[2015-09-10 10:30] #409 closed

[2015-09-10 10:30] #314 closed

[2015-09-10 10:31] #91 closed

[2015-09-10 10:31] #315 closed

[2015-09-10 10:32] #443 closed

[2015-09-10 10:32] GilHoggarth commented on #430
Done on live.

[2015-09-10 10:32] #430 closed

[2015-09-10 10:32] anjackson commented on #426
All good on production too.

[2015-09-10 10:32] #426 closed

[2015-09-10 10:33] #389 closed

[2015-09-10 10:33] niladreeb commented on #428
Done on live.

[2015-09-10 10:33] #428 closed

[2015-09-10 10:34] niladreeb commented on #419
Done on live.

[2015-09-10 10:34] #419 closed

[2015-09-10 10:34] GilHoggarth commented on #424
Seen to be possible now.

[2015-09-10 10:34] #424 closed

[2015-09-10 10:35] niladreeb commented on #427
Done on live.

[2015-09-10 10:35] #427 closed

[2015-09-10 10:35] GilHoggarth commented on #423
Now works on live.

[2015-09-10 10:35] #423 closed

[2015-09-10 10:39] GilHoggarth commented on #375
Ditto on live - acceptable for current production.

[2015-09-10 10:39] #375 closed

[2015-09-10 10:40] nicolabingham commented on #407
Tested using an Expert User account. Working fine.

[2015-09-10 10:40] #407 closed

[2015-09-10 10:40] niladreeb commented on #412
@GilHoggarth As of now for this ticket we are checking that if the text fields are filled then the checkboxes get auto ticked. A new ticket https://github.com/ukwa/w3act/issues/448  have been raised to resolve the issue in a better way. Done in live.

[2015-09-10 10:40] #412 closed

[2015-09-10 10:40] GilHoggarth commented on #402
Status doesn't produce NullPointerException. However, to note, live/production also only has Wayback reported as a responding service.

[2015-09-10 10:40] #402 closed

[2015-09-10 10:41] niladreeb commented on #410
Done in live.

[2015-09-10 10:41] #410 closed

[2015-09-10 10:42] niladreeb commented on #399
Done in live.

[2015-09-10 10:43] #399 closed

[2015-09-10 10:47] niladreeb commented on #408
Done on live.

[2015-09-10 10:47] #408 closed

[2015-09-10 10:49] nicolabingham commented on #417
search for "http://www.bl.uk/" and the results are returned correctly. (other records are returned correctly e.g. BBC articles etc)

Search for "http://www.bl.uk/magna-carta/" and the target for this URL is not returned.

[2015-09-10 10:50] GilHoggarth commented on #390
Example of a key site is target ID 805 - National Institute for Health and Care Excellence (NICE).
Checked as Archivist and could amend, checked as expert and hmm, still could.

[2015-09-10 10:51] niladreeb commented on #398
Done on live.

[2015-09-10 10:52] #398 closed

[2015-09-10 10:52] niladreeb commented on #396
Done on live.

[2015-09-10 10:52] #396 closed

[2015-09-10 10:53] GilHoggarth commented on #378
Same as /actstage - NullPointerException when attempting to view non-existing log, but this shouldn't be directly possible so accepted as completed.

[2015-09-10 10:53] #378 closed

[2015-09-10 10:53] niladreeb commented on #391
Done on live.

[2015-09-10 10:55] #391 closed

[2015-09-10 10:56] #418 closed

[2015-09-10 10:56] niladreeb commented on #386
Done on live.

[2015-09-10 10:56] GilHoggarth commented on #349
Single and multiple space not allowed.

[2015-09-10 10:56] #349 closed

[2015-09-10 10:57] GilHoggarth commented on #320
Working on /act.

[2015-09-10 10:57] #320 closed

[2015-09-10 10:57] #386 closed

[2015-09-10 10:58] niladreeb commented on #381
Done on live.

[2015-09-10 10:58] #381 closed

[2015-09-10 10:59] GilHoggarth commented on #313
Option seen on /act - no data saved so recording of setting not clarified.

[2015-09-10 10:59] #313 closed

[2015-09-10 11:02] niladreeb commented on #372
Done on live

[2015-09-10 11:02] #372 closed

[2015-09-10 11:02] niladreeb commented on #377
Done on live.

[2015-09-10 11:05] niladreeb commented on #420
Done on live.

[2015-09-10 11:06] #420 closed

[2015-09-10 11:06] #377 closed

[2015-09-10 11:07] niladreeb commented on #260
Done on live

[2015-09-10 11:08] #260 closed

[2015-09-10 11:08] niladreeb commented on #179
Done on live.

[2015-09-10 11:30] GilHoggarth commented on #269
Taking an inordinate amount of time to generate list of instances for gov.uk publications - raised act05 VM to 16GB, 14GB to w3act.
Sorting works in live.

[2015-09-10 11:30] #269 closed

[2015-09-10 11:32] #179 closed

[2015-09-10 11:35] #429 closed

[2015-09-10 11:35] GilHoggarth commented on #403
This target, ID 29984, still has no depth set in the live postgres database. But in the UI View mode this is shown as "Capped (small - 500MB)" and when Edit mode is selected this value also defaults to the same small cap.

[2015-09-10 11:35] #403 closed

[2015-09-10 11:35] niladreeb commented on #380
Done on live.

[2015-09-10 11:35] #380 closed

[2015-09-10 11:37] #442 closed

[2015-09-10 11:37] #431 closed

[2015-09-10 11:38] niladreeb commented on #379
Done on live.

[2015-09-10 11:39] #379 closed

[2015-09-10 11:40] GilHoggarth commented on #395
Repeat test with my IE and as an Expert user and didn't see any date issues. Difficult to confirm for Joan with current information so suggest again that she's contacted and asked.

[2015-09-10 11:40] #395 closed

[2015-09-10 11:42] GilHoggarth commented on #393
Tested with same twitter account as above and seen to suggest upper case URL for lowercase input.

[2015-09-10 11:42] #393 closed

[2015-09-10 11:57] #436 closed

[2015-09-10 11:57] #434 closed

[2015-09-10 11:58] #413 closed

[2015-09-10 11:59] #411 closed

[2015-09-10 12:05] #394 closed

[2015-09-10 12:07] #387 closed

[2015-09-10 12:12] #319 closed

[2015-09-10 12:14] #317 closed

[2015-09-10 12:15] #312 closed

[2015-09-10 12:28] GilHoggarth commented on #390
Issue probably due to swapping between accounts of different roles - definitely nothing to do with human error. Considered accepted as tested again and seen as satisfactory.

[2015-09-10 12:28] #390 closed

[2015-09-10 12:33] niladreeb opened #449 "URL search fails to retrieve URLs with a child path and a trailing slash"

[2015-09-10 12:43] niladreeb commented on #432
Found one more spelling mistake in admin login under Taxonomy tab. Resolved all 'LICENCE' spelling  mistakes.

[2015-09-10 12:46] niladreeb commented on #417
Issued new ticket https://github.com/ukwa/w3act/issues/449

[2015-09-10 13:50] dorotawalker opened #450 "QA status invisible in view mode"
QA status is invisible in the view mode. It is ok in the edit mode and it was working before the 1.1.0 deployment.

https://www.webarchive.org.uk/act/targets/21132 (OK to publish status)
https://www.webarchive.org.uk/act/targets/9338 (QA issue found)

[2015-09-10 14:32] niladreeb commented on #417
Issue fixed and tested locally.

[2015-09-10 14:35] niladreeb commented on #449
The '/ ' in the middle of the url was getting replaced. Fixed and tested locally. Same as https://github.com/ukwa/w3act/issues/417 .

[2015-09-15 12:51] niladreeb commented on #417
Working fine on actstage.

[2015-09-15 12:52] niladreeb commented on #449
Working fine on actsatge.

[2015-09-15 13:08] niladreeb commented on #432
Change of Licence spelling  involved change of few data in database. Working fine on actstage.

[2015-09-16 09:38] dorotawalker opened #451 "Start date default to be changed"
The start date default is currently set to the day at 9am, e.g. today is 16th Sep and the calendar is set for 16th Sep at 9am. When setting a crawl frequency, for most users the 9am is already in the past. If a user does not notice that and sets, for example the annual frequency, the site will not be crawled for another year. Could we change the default to either the next day 9am or the time in th

[2015-09-16 12:46] nicolabingham opened #452 "Report on Key Sites needed."
In order to manage the key sites list we need a report on Targets that are tagged as key sites (this functionality is only available to the Web Archivist using the Key sites checkbox in the Target record). Could the report be added to this page https://www.webarchive.org.uk/act/reportscreation/targets/ ?
The report can be viewed by all Users.

[2015-09-25 15:37] nicolabingham opened #453 "Granted licences assuming 'Invented Licence' type"
A number of licence requests sent from W3ACT as 'Open UKWA Licence (2014-)' licence type have been returned as Granted but have assumed the 'Invented Licence' type.

This has been happening since the last deployment of W3ACT.

@dorotawalker have any recent requests come back with the correct licence or are they all 'invented licence'?

These are the Target records that are affected:
1. https://www

[2015-09-25 15:38] anjackson commented on #453
Ick, this should only happen for old ones. If it's happening for new ones that a bigger problem.

[2015-09-28 11:03] anjackson commented on #453
Nil can you verify this locally/on your own dev version?

[2015-09-28 11:38] anjackson commented on #451
Unfortunately, the way things are set up at the moment, changing this won't generally make much difference due to the way crawls are scheduled.  When you pick a start date and end date, you are defining the period over which the frequent crawls will take place, but *not* the actual scheduled launch time.

Daily crawls are always launched at 12 noon each day, weekly crawls are launched on the first

[2015-09-28 12:08] dorotawalker commented on #451
@anjackson What about the six monthly and annually? Are they starting on 1st Jan and 1st July?

[2015-09-28 12:12] anjackson commented on #451
I believe so, thought I'll ask @GilHoggarth to double check that.

[2015-09-28 12:18] dorotawalker commented on #451
Interesting. But there are examples of crawling on the day I've set it up to be or the day after e.g. six-monthly crawl here https://www.webarchive.org.uk/act/targets/30439. In this case it couldn't have been captured automatically as the site doesn't meet the automatic NPLD criteria.

[2015-09-28 12:19] dorotawalker commented on #451
Sorry wrong button. Didn't mean to close it.

[2015-09-28 12:27] anjackson commented on #451
Well, this might be different problem - we did (and I think we still do) have hooks that attempt to ensure any new Targets added to W3ACT are captured ASAP in a shallow crawl as a one-off. I fear this mechanism may be firing even if there is no crawl license.

[2015-09-28 15:23] niladreeb opened #454 "Second option of Scope under Crawl Policy and Schedule is incorrect."
Second option is 'All URLs that match match this host or any subdomains.'. The word match is used twice.

[2015-09-29 08:50] GilHoggarth commented on #451
Sixmonthly and annually - yes, ran on Jan and Jul 1.

[2015-10-01 08:50] nicolabingham commented on #451
When scheduling with Heritrix is more mature the requirement will be to set monthly, six-monthly and annual targets to start on different days/months depending on the target.

The time of day that a daily crawl starts is less of an issue. It may be that removing the option to set a time of day for the daily crawl is better.  @dorotawalker would you be happy with this? It would save time completing

[2015-10-01 12:15] dorotawalker commented on #453
I've counted and as of today we have two more invented licences (23 in total). Since reporting two more permissions were granted https://www.webarchive.org.uk/act/targets/30874 and https://www.webarchive.org.uk/act/targets/27271. I guess with every permission granted we get a new invented licence assigned. @nicolabingham do you want me to stop sending the permission requests until the bug is fixed

[2015-10-01 12:20] nicolabingham commented on #453
@anjackson what is the purpose of the invented licence? Is it a placeholder for additional licence templates we may want to issue, i.e. in addition to the standard Open UKWA licence?
@dorotawalker yes please stop sending licence requests in the short term.

[2015-10-01 12:21] anjackson commented on #453
The invented license was only supposed to appear in development or testing, when there were no licenses in the system. It should not have appears in production.

[2015-10-01 12:24] nicolabingham commented on #453
Thanks @anjackson. @dorotawalker yes, lets hang fire until the bug is resolved.

[2015-10-02 09:43] niladreeb commented on #454
The minor error in the sentence is corrected.

[2015-10-05 09:19] dorotawalker opened #455 "status of the Open UKWA when changing manually"
When changing manually the status in the Open UKWA tab from Granted to Not Initiated, the tab on top still shows the green (+) sign.

[2015-10-05 09:20] dorotawalker commented on #453
For testing puroposes I've gone through the process of granting permission twice for the https://www.webarchive.org.uk/act/targets/30367. Now it has two licences (both invented).

[2015-10-05 09:24] anjackson commented on #455
The status is indicated by whether there is a License currently selected for the Target. There does not have to be a full crawl permission, because in the future we also accept Targets with licenses that are obtained outside of W3ACT (like the NLS/NLW ones).

[2015-10-05 09:52] dorotawalker commented on #455
https://www.webarchive.org.uk/act/targets/30367

[2015-10-05 09:56] nicolabingham commented on #455
@dorotawalker thanks.

@anjackson we changed the Licence status in the Target record but did not do anything with the crawl permissions: https://www.webarchive.org.uk/act/target/30367/crawlpermissions
Should we also change the status of the crawl permissions to reflect that we do not have a licence?

[2015-10-05 10:06] anjackson commented on #455
So, to remove the green (+), you should only need to de-select the license field on the target editing page.  That item currently has two 'invented licenses', so that should be changed to 'None'.

Presumably, this crawl permission was in error? It should probably be deleted in that case? i.e. whether you want to keep the 'old' crawl permission depends on whether you want to keep it as a record (bu

[2015-10-05 10:22] nicolabingham commented on #455
@dorotawalker could you try to make these edits please.

[2015-10-05 10:40] dorotawalker commented on #455
@nicolabingham that seem to have worked. If the selection of 'Not initiated' status doesn't trigger/can't trigger the change of the licence to 'None', perhaps it's worth outting in the user guide it's a two step process?

[2015-10-05 10:43] nicolabingham commented on #455
@dorotawalker thanks. I will put this in the user guide. Are you happy to close this ticket?

[2015-10-05 10:45] dorotawalker commented on #455
@nicolabingham yes, I will do that.

[2015-10-05 10:45] #455 closed

[2015-10-05 15:54] niladreeb commented on #450
Issue resolved.

[2015-10-06 11:03] niladreeb opened #456 "Editing QA Status of any instance under Instances > Instances List gives NullPointerException ."
Please refer https://github.com/ukwa/w3act/issues/263 .

[2015-10-06 11:28] niladreeb commented on #456
qaIssue.name was creating the issue as qaIssue.name.length() was in the null check condition. The bug is resolved.

[2015-10-07 12:24] dorotawalker opened #457 "Language/Second language enhancements"
In issue #313 the field for the second language was created, but the drop down menu only has two: English and 'Deutsche' (which is pains Sabine as it's gramatically incorrect). We would like two enhancements to be made to both fields:

1. Drop down menu should contain native British languages in the following order:

English
Welsh
Scottish Gaelic
Breton
Cornish
Irish
Manx
Ulster Scots
Scots
Shelta

[2015-10-08 12:03] anjackson commented on #401
Emailed @romankarl to see if he is able to help.

[2015-10-19 09:03] anjackson opened #458 "Display license status of Targets on Collection view page"
NPLD and OA license status on the list-of-Targets-in-Collection page would be handy.

[2015-10-19 13:03] dorotawalker opened #459 "Editing sub-collections"
After editing a sub-collection and clicking save the sub-collection is created as a separate collection, even though the bullet point on the collection list is ticked (automatically). It needs editing again to put in the right place.

[2015-10-19 13:06] nicolabingham commented on #459
@dorotawalker could you give an example of a sub-collection you were editing please?

[2015-10-19 13:08] dorotawalker commented on #459
@nicolabingham I did it with the IT collection -> UK IT Business (changed the name from UK IT Companies), but I've noticed it before and it should be the same for all of them.

[2015-10-19 13:13] nicolabingham commented on #459
@dorotawalker yes I see. @anjackson the Parent collection data fails to save when saving an edited sub-collecton record.

[2015-10-22 14:32] anjackson commented on #453
Okay, @niladreeb, I got to the bottom of this. Seems to be some kind of bug or edge-case in the EBean library we use to manage the DB mappings. The ```crawlPermission.license``` can sometimes be empty, but then a moment later be filled! So in some places the full object is fetched from the DB and in others it's not.  If I change the annotation, adding ```CascadeType.REFRESH```:

[code]

it seems t

[2015-10-23 09:06] anjackson commented on #459
I suspect this may be the same issue as seen in #453.

[2015-10-23 12:47] anjackson commented on #457
I'm trying to mark up these languages correctly using the ISO 639 standard and the information from here:

* http://docs.oracle.com/javase/7/docs/api/java/util/Locale.html
* http://www.iana.org/assignments/language-subtag-registry/language-subtag-registry
* https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes (partial list)
* http://www.loc.gov/standards/iso639-2/php/English_list.php (full list?

[2015-10-26 14:20] dorotawalker opened #460 "Save button does not always work"
Recently I've noticed there are some problems with saving a target record. It doesn't always happen and normally clicking between the tabs helps. It's occured for new and edited targets. It affects only the 'save' button at the top, the one at the bottom of the page seems ok.

[2015-10-28 14:11] GilHoggarth commented on #456
Viewed on /actstage but couldn't determine area of issue with confidence.

Tried:
- /actstage homepage > Targets menu > Look up an Instance
- Entered http://www.bl.uk and saw a list 1 to 10 of 129 showing no QA statuses.

Tried:
- /actstage homepage > Targets menu > Look up a URL
- Entered http://www.bl.uk and saw a list 1 to 10 of 10 showing two QA statuses of “QaIssue(null), id:190”

Should high

[2015-10-28 14:24] GilHoggarth commented on #450
Two example URL checked on /actstage and confirmed as now displaying WA status information as expected.

[2015-10-28 15:11] GilHoggarth commented on #454
Confirmed corrected on a target edit Crawl Policy and Schedule tab - https://www.webarchive.org.uk/actstage/targets/9338/edit#crawlpolicy

[2015-10-28 15:14] GilHoggarth commented on #432
Confirm licence spelling fixed at Targets > List Targets as one of the filter names and under the Taxonomies menu drop down.

[2015-10-28 15:18] GilHoggarth commented on #449
Confirmed as fixed on /actstage - https://www.webarchive.org.uk/actstage/targets/lookup?f=http%3A%2F%2Fwww.bl.uk%2Fblpac%2F

[2015-10-29 11:15] dorotawalker commented on #417
@GilHoggarth I think some features were added in the last deployment (add button at the bottom). I'm not quite following the issue that caused problems last time. It may need to wait for @nicolabingham as she tested it.

[2015-10-29 11:19] dorotawalker commented on #453
Tested on https://www.webarchive.org.uk/actstage/targets/30367#licensing, but still comes back as INVENTED LICENCE.

[2015-10-29 11:21] dorotawalker commented on #456
@GilHoggarth as the instances are not available in the production, I've got no idea what @niladreeb refers to.

[2015-10-30 00:13] anjackson commented on #453
Okay, I've made a further change that I think should address this.

[2015-10-30 10:43] dorotawalker commented on #453
@anjackson I've gone through the process again for the same target, starting with 'Non Initiated' status and 'None' for the licence and unfortunately the INVENTED LICENCE was assigned again.

[2015-10-30 10:44] anjackson commented on #453
Has Gil had a chance to deploy the fix? I only checked it into the source code repo - I didn't deploy it.

[2015-10-30 11:02] dorotawalker commented on #453
Sorry, I've misunderstood. Probably he hasn't had a chance. I'll wait for @GilHoggarth to confirm and try again.

[2015-10-30 11:21] GilHoggarth commented on #453
I'm guessing this fix is within the github repo code rather than in the git.wa wct-to-w3act repo? If so, i deployed the w3act v1.1.1, i.e., latest code as of Oct 28 - Wednesday morning.

Looks like I should redeploy again as Andy made a change last night, so doing so now.

[2015-10-30 11:30] GilHoggarth commented on #453
/actstage now using latest w3act code.

[2015-10-30 13:32] dorotawalker commented on #453
Still the same outcome. The INVENTED LICENCE is assigned to the target. I've checked both view and edit modes.

[2015-11-02 11:05] niladreeb commented on #456
@GilHoggarth this issue need to be viewed by opening the instances link on the right hand side of any target.

[2015-11-02 13:54] anjackson opened #461 "Improved API for Collections Tab generation"
Various fixes and extensions have been made to the API and serialisations to support the generation of a collection browser from the content held in W3ACT. Including:

* ac8cbd1d8c3c2467dc442b3bf837708871d92ffe
* ecce90a180593a297f889ee9b834dbdce8eb03c2
* 3ba628ffdcefd2dfc1eb15bb3fc9ffa10ce1e178
* 3eea71a99757e9dca894d7390bd300e1b55635c6
* 1be12e20c389a3951235365569bb7d914c6d1de4
* a0318b061eaf44d

[2015-11-03 17:32] niladreeb commented on #417
Retested and working fine on actstage.

[2015-11-03 17:51] niladreeb commented on #453
Working fine on actstage. Requesting @dorotawalker to check.

[2015-11-03 17:58] niladreeb commented on #459
Tested on actstage and its working fine. Requesting @dorotawalker to check.

[2015-11-04 10:31] dorotawalker commented on #453
Tested on the same target and it returned the Open UKWA Licence (2014-). All good then!

[2015-11-05 11:02] niladreeb opened #462 "Document Harvester (Issue Level)"
In the sip.scala.xml file under the section mets:dmdSec there is a <mods:subject> element outside the root <mods:mods> element, which should be inside.

[2015-11-05 11:19] niladreeb commented on #462
Issue fixed. The mods:subject element placed under the root element mods:mods.

[2015-11-05 11:20] niladreeb commented on #400
Issue already fixed.

[2015-11-10 10:08] dorotawalker opened #463 "Search URL problems"
In the last few days I've had problems with the search function. It's not always working for the URL, but seems to work with the titles. The URLs https://sites.google.com/site/thimbleidentificatio/ and https://sites.google.com/site/mujb195658/ have been added to ACT, but when searching for them, the result is 0. It works ok for the 'Manchester University Jazz Band' and 'Thimble identification'.

[2015-11-12 14:14] GilHoggarth commented on #461
Andy - please test this API issue on /actstage.

[2015-11-12 14:15] GilHoggarth commented on #456
Nils - please test this NPE on /actstage

[2015-11-12 14:15] GilHoggarth commented on #454
Gil test

[2015-11-12 14:16] GilHoggarth commented on #453
Dorota, please test this licence issue on /actstage

[2015-11-12 14:17] GilHoggarth commented on #450
Gil test

[2015-11-12 14:17] GilHoggarth commented on #417
Nicola, please test again on /actstage

[2015-11-12 14:18] GilHoggarth commented on #449
Nils, please test on /actstage

[2015-11-12 14:19] GilHoggarth commented on #432
Gil test

[2015-11-12 14:20] dorotawalker commented on #453
Tested and works ok on actstage.

[2015-11-12 14:23] niladreeb commented on #456
Working fine in actstage. Issue resolved perfectly.

[2015-11-12 14:23] GilHoggarth commented on #454
Above URL checked, working on /actstage.

[2015-11-12 14:24] niladreeb commented on #449
Confirmed fixed on actstage.

[2015-11-12 14:25] GilHoggarth commented on #450
Above URLs checked (on /actstage), working now.

[2015-11-12 14:28] nicolabingham commented on #417
Tested and working on /actstage

[2015-11-12 14:29] GilHoggarth commented on #432
All done (that I could find!)

[2015-11-12 14:52] GilHoggarth commented on #454
Working on /act.

[2015-11-12 14:52] #454 closed

[2015-11-12 14:52] #461 closed

[2015-11-12 14:53] niladreeb commented on #456
Tested on live and the issue is resolved.

[2015-11-12 14:53] nicolabingham commented on #417
tested on live and working fine

[2015-11-12 14:53] GilHoggarth commented on #450
Working on /act

[2015-11-12 14:53] #450 closed

[2015-11-12 14:53] #456 closed

[2015-11-12 14:54] #417 closed

[2015-11-12 14:54] dorotawalker commented on #453
Tested and working on act

[2015-11-12 14:55] niladreeb commented on #449
Working fine on live.

[2015-11-12 14:55] #449 closed

[2015-11-12 14:55] #453 closed

[2015-11-12 14:56] GilHoggarth commented on #432
Completed on /act.

[2015-11-12 14:56] #432 closed

[2015-11-13 11:07] nicolabingham opened #464 "Date of licence granted changed by system"
Reported by @dorotawalker
When opening a Target record, the granted licence date is being changed by the system to the date/time of the last edit of the Target.

Example: Target record :
https://www.webarchive.org.uk/act/targets/43 Early Days of a Better Nation
Permission was granted by the site owner 22/09/2015. However after Dorota opened the target record the recieved date: https://www.webarchi

[2015-11-13 11:19] anjackson commented on #464
Oh dear. I think we need to do more whole-system testing prior to release, on actstage. We should have caught this earlier.

[2015-11-13 11:30] anjackson commented on #464
Okay, problem is in commit 569871a3ac0500a1c3f8f416bf79d2e4fb652144 which updates dates even if nothing had been changed. /cc @niladreeb

[2015-11-13 11:32] niladreeb commented on #464
sorry my mistake. The condition check was not exhaustive i guess.

[2015-11-13 11:42] anjackson commented on #464
Don't worry - the logic is sadly rather fiddly. I think the best idea may be to simply remove this logic and update those dates in other ways if required. We should be able to do that via the API.

[2015-11-13 12:27] niladreeb commented on #459
Tested on live and working fine.

[2015-11-13 12:28] #459 closed

[2015-11-13 13:01] anjackson commented on #464
Okay, so I think this is fixed, in that editing the Target should not modify the Crawl Permissions. Repairing the grantedAt will have to be done via the DB for now.

I suggest we roll this fix our to production ASAP. I'll ask Gil to get it on stage. Also, we should come up with a longer set of basic operations to test on actstage before we roll to production.

[2015-11-13 13:11] nicolabingham opened #465 "Display tick against 'Agree' clause in licence form"
Could the tick be made visible in the “I/we agree” checkbox on the licence form please? Currently the tick is not made visible. (e.g. https://www.webarchive.org.uk/act/ukwa/licenseformview/913017a9-b687-476b-8c32-515fb74790ce)

[2015-11-16 14:41] anjackson commented on #464
On closer examination, the problem is like #465, in that the form is not displaying the correct date.

[2015-11-17 16:54] anjackson commented on #464
Okay so, @dorotawalker, was it the Crawl Permissions page where you were seeing these erroneous dates?  I think so.

It turned out that the page was reporting the date the Target was last updated (which changed even if nothing has changed but the Target is saved).

I've modified it to report the dates of the permission request and the granted date.  It's live on actstage now.

[2015-11-18 14:36] GilHoggarth commented on #465
Nicola, can you check what you wanted to correctly done please.

[2015-11-18 14:37] GilHoggarth commented on #464
@dorotawalker Can you check please that this now works correctly.

[2015-11-18 14:46] nicolabingham commented on #465
The flag is visible in the checkbox as requested.

[2015-11-18 15:44] dorotawalker commented on #464
@GilHoggarth I'm trying to get to act/stage, but it's taking a very long time to log in or to click through the links. Thanks

[2015-11-18 15:48] GilHoggarth commented on #464
@dorotawalker Sorry Dorota, looking into it... (service memory problem)

[2015-11-18 15:54] GilHoggarth commented on #464
@dorotawalker Right, please try again - should work this time!

[2015-11-18 15:59] dorotawalker commented on #464
Tested and working OK. @anjackson would you like me to raise a new ticket for cleaning up data for the targets that were affected?

[2015-11-18 16:04] GilHoggarth commented on #464
Grand, thanks - yes, please raise a new ticket for data clean up.

[2015-11-18 16:06] dorotawalker opened #466 "Cleanup data"
Cleanup data for targets affected in #464.

[2015-11-18 16:28] dorotawalker commented on #464
Tested on live act and works fine.

[2015-11-18 16:28] #464 closed

[2015-11-19 08:02] nicolabingham commented on #465
Tested and working on live

[2015-11-19 08:02] #465 closed

[2015-11-19 09:12] nicolabingham opened #467 "Add joint LDL licence type to W3ACT"
The Joint LDL Web Archiving licence has been approved by the LDLs and by LDIG (18/11/2015). Can the new licence be added to W3ACT, in addition to the existing licence templates. We will also need to add a Welsh version of this document which I will add once I have the translation.
[Joint Web Archiving Access Licence - draft 2015 07 10 FS_PC_NJB (3).docx](https://github.com/ukwa/w3act/files/38763/J

[2015-11-20 13:02] dorotawalker opened #468 "Date Granted not sorting properly"
In the Archivist tasks -> Crawl permissions -> filter by status 'Granted' the sorting function 'Granted Date' is not working properly as the dates are not in descending order (they were before the 1.1.2 deployment). I'm not sure about the ascending order as the data is not available for earlier targets. The same problem occurs for the 'Requested Date' sorting.

[2015-11-20 13:35] anjackson commented on #468
Just to check I'm not missing anything - i think this is sorted by ascending Granted Date

https://www.webarchive.org.uk/act/crawlpermissions/list?s=grantedAt&status=GRANTED

And this is sorted by ascending Requested Date

https://www.webarchive.org.uk/act/crawlpermissions/list?s=requestedAt&status=GRANTED

But the issue is that you need the other order to work, and in descending order the 'blanks

[2015-11-23 10:23] dorotawalker opened #469 "Unticking flags not working"
When unticking flags in the Metadata tab and saving the target, the ticks are still there e.g. https://www.webarchive.org.uk/act/targets/29658. There were QA problems, but now the harvest is ok and the flags can be removed.

[2015-11-23 11:39] anjackson commented on #364
The initial clean up is done, and further clean up will wait until after we've been able to import WCT/SPT data.