[2015-02-13 13:58] kinmanli commented on #231
https://github.com/playframework/playframework/issues/876

[2015-02-13 14:07] peterwebster opened #263 "Behaviour of QA Dashboard on load, and QA Status filter"
Firstly, this page http://www.webarchive.org.uk/actdev/qa/list on loading should default to showing the first ten records in the list of targets.

Secondly, the QA Status filter is being wrongly applied. At the minute, it is looking at the QA Status of the *target*. What we need is the QA Status of the most recent instance.

[2015-02-13 14:20] kinmanli commented on #263
filter on QA Status of the Instance

[2015-02-13 14:20] GilHoggarth commented on #182
Have looked into the Andy's ACT and w3act databases, and struggled to find the corresponding data - just because Andy's ACT uses a database table structure automatically generated by Drupal and many tables and fields are internal code names and values - difficult to traverse a target for example to find all the actual ACT data (as opposed to internal Drupal fields and values).

Consequently, I'll

[2015-02-13 14:25] peterwebster commented on #263
In Instance records, the default for new records being created on import from Wayback should be null.

In the UI, null should be presented as Unknown.

[2015-02-13 14:28] kinmanli commented on #262
comment out from menu for prod

[2015-02-13 14:28] anjackson commented on #262
And to re-instate the menu item for this once we're ready.

[2015-02-13 14:28] GilHoggarth commented on #182
Comparing http://www.webarchive.org.uk/act/node/21887 and https://www.webarchive.org.uk/act/targets/16927 (former = latter):
- Crawl End Date: 20 Dec 2015, 11pm   =   20-12-2015 00:00
- Crawled URL: http://crawler03.bl.uk:8080/wayback/*/http://www.bl.uk/magna-carta/  =  http://opera.bl.uk:8080/wayback/*/http://www.bl.uk/magna-carta/
Neither find crawled content but presumably due to wayback index

[2015-02-13 14:31] anjackson commented on #256
I don't think this should depend on QA Status. No idea what's going on there.

[2015-02-13 14:32] PsypherPunk commented on #182
The start date's in the future: `Start date 20-02-2015 06:00`

[2015-02-13 14:33] GilHoggarth commented on #182
Surprised that I'm not finding a sort by date option in Targets list, or actually a date recorded (displayed) for when the record data was input.

[2015-02-13 14:33] kinmanli commented on #241
put code here

[2015-02-13 14:38] kinmanli commented on #257
new Role closed. less access than viewer

[2015-02-13 14:40] kinmanli commented on #251
these with a User role

[2015-02-13 14:43] kinmanli commented on #240
Can do NPLD validation on save and flag up

[2015-02-13 14:45] kinmanli commented on #191
check tree option to select parent when choosing child

[2015-02-13 14:45] PsypherPunk commented on #241
I think the logic is correct. Although if any of the manual (`professionalJudgement OR ukPostalAddress OR viaCorrespondence`) flags are set you might as well skip the checks and return `True`.

Similary, if any of the URLs _don't_ meet automated acceptance criteria (`UKTopLevelDomain(url) OR UkHosting(url) OR TopLevelDomain(url)`), the whole Target is ruled out of scope so there's no need to check

[2015-02-13 14:54] kinmanli commented on #241
The code is something like this at present

https://github.com/ukwa/w3act/blob/schemarefactor/app/models/Target.java#L1841-L1888

[code]

[2015-02-13 15:06] GilHoggarth commented on #182
It occurs to me that I'm testing the dual input of data more than I am testing the import of data from Andy's ACT, so thought I'd check a few previously entered sites.

http://acommonreader.org/ (first in the alphabetical order ;) shows in Andy's ACT 5,017 URLs crawled (http://www.webarchive.org.uk/act/node/5987) and links to wayback versions at http://crawler03.bl.uk:8080/wayback/*/http://acommon

[2015-02-13 15:14] kinmanli commented on #231
as @anjackson stated putting this in the script works. Checked in.

[code]

[2015-02-13 15:22] PsypherPunk commented on #241
The code as it stands could (I think) be replaced by:

    if (this.checkManualScope())
        return true;

    return (this.isTopLevelDomain || this.isUkHosting || this.isUkRegistration);

However, it doesn't seem to check on a per-URL basis but instead at the Target level (i.e.`this`). While the `checkManualScope()` can essentially override the rest at theTarget level, those latter methods (`i

[2015-02-13 15:25] kinmanli commented on #241
@PsypherPunk The per URL check is done on the save.

[2015-02-13 15:27] GilHoggarth commented on #231
@kinmanli I changed this to `-Dconfig.file=/opt/w3act/conf/prod.conf` as full path is needed, and ran - looked like it was running (i.e., too ~20 seconds) then
[code]
PS I haven't checked this full path into github. Please do so if this eventually works.

[2015-02-13 15:28] peterwebster commented on #254
This is now sorted; closing ticket now. Thanks @kinmanli

[2015-02-13 15:29] peterwebster commented on #259
Also fixed:  closing ticket

[2015-02-13 15:29] #259 closed

[2015-02-13 15:33] PsypherPunk commented on #182
Although the `prod.conf` file has:

    application.wayback.url="http://crawler03.bl.uk:8080/wayback/xmlquery.jsp?url="

...the `In QA Wayback` links still reference `opera.bl.uk` (which is now out of date).

[2015-02-13 15:42] kinmanli commented on #231
@GilHoggarth I don't get that on here.

What happens after that?

[2015-02-13 15:50] peterwebster commented on #241
To @PsypherPunk 's point about informing the target owner if the target they have just created fails the three automated tests: it wasn't identified as a requirement, but it perhaps should have been. We'd need to think about how best to do so, in order to prompt the user to look into the three manual tests. @anjackson

[2015-02-13 15:53] peterwebster commented on #256
So @kinmanli to remove the validation that is connected to the QA Status field

The validation in relation to existing crawl permissions should stay:  could you summarise what it currently does ?

[2015-02-13 15:53] #254 closed

[2015-02-13 15:56] peterwebster commented on #252
So, after @GilHoggarth testing, I successfully logged in with the adm account, which has the right privileges, and everyone else is a User. Yes, indeed, we should close this - and I shall, what's more...

[2015-02-13 15:56] #252 closed

[2015-02-13 16:13] PsypherPunk commented on #241
If they're updated on save then yes, I think that should suffice.

The only one that's questionable is `isUkHosting` which might change whenever we update the geo-IP database. Is there a means to trigger a recheck if that happens?

[2015-02-13 16:20] GilHoggarth commented on #231
Not sure what you mean - the script died at this point.

[2015-02-13 22:19] kinmanli commented on #231
@GilHoggarth I guess that instance (act-12668) has already been imported?

[2015-02-13 23:05] kinmanli commented on #231
@GilHoggarth  A current Instance already has an "act id" (i.e. act-12668). New ones are generated for the wayback import. Please checkout and redeploy

[2015-02-16 09:46] kinmanli commented on #256
@peterwebster are you talking about the validation on this 'crawl permissions' link?

![screen shot 2015-02-16 at 09 45 15](https://cloud.githubusercontent.com/assets/1652105/6209706/9e583bee-b5c0-11e4-93c8-f7e9efdad39a.png)

[2015-02-16 10:01] kinmanli commented on #241
@PsypherPunk So as it stands does that mean besides a bit of code moving. Everything is good?

[2015-02-16 10:04] PsypherPunk commented on #241
Yes, I think it's fine.

I'm going to address the hosting/IP issue in another ticket (might not necessarily be a solution intenral to w3act).

[2015-02-16 10:23] PsypherPunk opened #264 "Tracking Changes in IP Addresses"
Given that we're using IP addresses as part of our scoping, we should probbaly be monitoring changes in IP addresses.

The process might be something like:

1. Download the latest database and compare it to the current one:
    1. If timestamp and file-size are the same, nothing further need be done.
    2. If timestamp and/or file-size differ, replace the database.
    3. We need to iterate over

[2015-02-16 10:32] PsypherPunk opened #265 "Load Issues in DDHAPT"
Periodically the CPU usage of DDHAPT is extremely high. At the moment the web interface is unresponsive, the CPU usage is high enough to generate an alert in vSphere (~200% in `top`) but the log shows no activity.

[2015-02-16 10:39] anjackson commented on #264
There is a related issue about reviewing the WHOIS data, https://github.com/ukwa/w3act/issues/146#issuecomment-63042248

[2015-02-16 10:43] PsypherPunk commented on #146
Just looking at this in reference to #264—we shouldn't need to look at _every_ Target record, just those where the WHOIS might make a difference (i.e. those where the has-a-UK-address is the _only_ rule keeping it in scope and those with no LD criteria met).

That might keep the number relatively low.

[2015-02-16 11:49] PsypherPunk opened #266 "Creating New Targets in Bulk"
We frequently need to create numerous Targets en masse. Previously, this made use of ACT's REST API and external scripts for this.

Ideally, w3act should have similar functionality. Either:

1. A similar API for the creation of single targets and we script the process.
2. A means for uploading spreadsheets with all new Target information and having w3act handle the creation.

If the Play framework

[2015-02-16 11:56] anjackson opened #267 "Wrong QA Wayback link in W3ACT"
The QA Wayback links points to Opera, and it should point to Crawler03. So that should be fixed pronto.

However, we got the go-ahead to make the QA Wayback available externally, with some constraints. In particular, it needs to be authenticated, using the same credentials as the users use for W3ACT itself.

/cc FYI @peterwebster

[2015-02-16 12:12] GilHoggarth commented on #267
Reassigning to @kinmanli

[2015-02-16 12:17] anjackson commented on #267
Once @kinmanli has fixed the initial problem, we need to adapt this approach: http://stackoverflow.com/a/13703606

[2015-02-16 12:23] kinmanli commented on #267
@GilHoggarth @anjackson Changed to crawler03 in prod.conf. This commit should fix it. https://github.com/ukwa/w3act/commit/eca7a2a603b0c0858276bd4464e99c5065552b9d

[2015-02-16 12:46] GilHoggarth commented on #267
@kinmanli I'll try this but it's already crawler03 in prod.conf, so this might be coming back to you!

[2015-02-16 12:50] kinmanli commented on #267
@GilHoggarth what's it in application.conf?

[2015-02-16 12:52] GilHoggarth commented on #267
@kinmanli It's crawler03 in application.conf - https://github.com/ukwa/w3act/blob/schemarefactor/conf/application.conf

[2015-02-16 12:55] kinmanli commented on #267
@GilHoggarth Are you running it via the waybackinstanceimport.sh script?

[2015-02-16 13:00] GilHoggarth commented on #267
@kinmanli Don't think we're talking about `waybackinstance_import.sh` here, just the links in w3act UI that point to a QA Wayback instance. Currently under last week's deployment these point to opera.

[2015-02-16 13:02] kinmanli commented on #267
@GilHoggarth  which link? I thought the link to the wayback instance was removed? Anyway, that uses the conf file too.

[2015-02-16 13:07] GilHoggarth commented on #267
@kinmanli For example, https://www.webarchive.org.uk/act/targets/2672#crawlpermission > bottom on UI page > Instances > "In QA Wayback" URL is http://opera.bl.uk:8080/wayback/*/http://acommonreader.org/

Think we've looked at this before and discovered that the setting in prod.conf isn't making a difference to this URL value.

[2015-02-16 13:09] kinmanli commented on #267
@GilHoggarth ah I got you. that's hardcoded into the pages.

[2015-02-16 14:28] kinmanli commented on #267
@GilHoggarth Now uses wayback url from config file instead of hardcoded in view/edit. Updated in both application.conf and prod.conf

[2015-02-16 14:52] anjackson commented on #267
Okay, I'm going to move the other bits to an internal ticket. Thanks all.

[2015-02-16 14:52] #267 closed

[2015-02-16 17:21] GilHoggarth opened #268 "Presenting QA wayback content only to w3act authenticated users"
The new w3act service should be able to present QA wayback content to people outside of BL – specifically to those curators who are at the other Legal Deposit Libraries (so that they can clarify the crawled website is correct before it goes ‘public’). [BL trac ticket 2463 (http://tickets.wa.bl.uk/trac/ticket/2463).]

I can think of two ways of doing this. Either:
1)	Proxy https://www.webarchive.or

[2015-02-16 17:30] kinmanli commented on #268
@GilHoggarth so you want me to find out if I can may a URL and redirect it to crawler03 with it's parameters?

[2015-02-17 08:12] kinmanli commented on #263
@peterwebster

1) shows paged results on load
2) filters on qa_status of instances and shows most recent instance for that target

[2015-02-17 08:15] kinmanli commented on #231
@GilHoggarth did you manage to re-run this?

[2015-02-17 08:19] kinmanli commented on #182
@PsypherPunk fixed and ticket https://github.com/ukwa/w3act/issues/267

[2015-02-17 08:51] kinmanli commented on #262
@peterwebster Commented out @ https://github.com/ukwa/w3act/issues/262

[2015-02-17 09:46] GilHoggarth commented on #268
Well not redirect but proxy, i.e., the URL remains unchanged (www.webarchive.org.uk/act) as opposed to crawler03.bl.uk. But basically yes.

[2015-02-17 09:50] kinmanli commented on #251
Still trying to make this fail

[2015-02-17 09:51] anjackson commented on #268
Yes, presumably via the [Play Framework WS API](https://www.playframework.com/documentation/2.2.x/JavaWS), the idea would be that calls to "https://www.webarchive.org.uk/act/wayback/" would be authenticated and then proxied to crawler03.

Note that, if the basic authentication and proxying works, we will probably need to tweak the Wayback installation on Crawler03 to use the new URI. I think @Psyp

[2015-02-17 10:46] GilHoggarth commented on #231
I tried it on a redeployed and data imported /actdev but that reported `Could not find or load main class uk.bl.export.WaybackExport`.

Ran on w3act which as yet hasn't be redeployed and is of course using the original data imported a week ago, and it reported as nearest log dump above. Currently waiting for @peterwebster to tell me when I can redeploy w3act but it won't include a data import.

So

[2015-02-17 10:58] anjackson commented on #231
I'm concerned there is some confusion here. Are we all clear that this Instance import function is entirely separate from the Target import function?

Target import has been done, and should not be repeated in the future, because instead of going to Andy's ACT we should be deploying test W3ACT versions on top of Postgres DB dumps from production W3ACT.

Instance import should run frequently on pro

[2015-02-17 11:04] kinmanli commented on #231
@gilhoggarth @anjackson yes as mentioned above it only imports from wayback and creates instances

[2015-02-17 16:03] kinmanli commented on #231
Hi @GilHoggarth, did you manage to sort the classpath out? My settings are like this:

[code]

[2015-02-17 16:22] peterwebster commented on #231
For me @gilhoggarth , you can redeploy the prod version of W3ACT (without
data import) whenever you like, if it's ok with @anjacks0n
On 17 Feb 2015 16:03, "kinmanli" <notifications@github.com> wrote:

[2015-02-17 17:03] GilHoggarth commented on #231
@kinmanli It occured to me that /actdev, where I'm trying to test `waybackinstance_import.sh` wasn't built into a 'play dist', so I've added the classpath details back into the /actdev version. The script has now been running for ~5 minutes on /actdev and hasn't reported an issue.

@peterwebster w3act restarted just now, 4.56pm.

[2015-02-17 21:29] kinmanli commented on #257
@peterwebster

Add 'closed' role on when data.import is set to true (won't touch existing data). If user with closed account logs in it will give error message

[2015-02-18 06:48] peterwebster commented on #266
I'd like to discuss this one with @anjackson on Friday, as one of the requirements identified at the beginning of the project and then parked was the facility *also* to do this from within the GUI (as well as administratively within the WAT)

[2015-02-18 06:54] peterwebster commented on #256
@kinmanli : the issue was with the Open License Request button, not the link

[2015-02-18 07:06] peterwebster commented on #257
Will test changing a few test accounts when actdev is up, but looking at the screenshot, we should change the error message to read: 'This user account has been closed. Please contact the British Library web archiving team.'

[2015-02-18 08:58] kinmanli commented on #256
@peterwebster the validation for the button checks if it has a current license or if it has a higher license

[2015-02-18 10:45] kinmanli commented on #247
@peterwebster for the Archivist, do you want the 'Open UKWA Licence (2014-)' to be taken out of the list, or do you want it to be in there and a warning on save saying it cannot be selected?

[2015-02-18 10:58] kinmanli commented on #191
@peterwebster Is this option only on the creation and editing of targets?

I know that the editing of subjects and collections don't need it as they are choosing a parent.

[2015-02-18 13:59] anjackson commented on #261
No, we want to store and report them always in the same Timezone, UTC/GMT.

[2015-02-18 15:27] peterwebster commented on #263
@kinmanli paged results looking good, but there are two things:

(i) the Most Recent column in the table is empty - it should show the actual date of the most recent instance record;

(ii) if you click on any of the numbers in the Instances to Date column, there's a null pointer error.

[2015-02-18 15:35] peterwebster commented on #256
Hi @kinmanli :  the validation for the button should be: is the Open UKWA License Requests fields set to any of Granted, Queued or Pending ? If so, you can't create a new crawl permission using this button.

If that field is Not Initiated or None, all the users we expect can create a new crawl permission.

If it's Refused, Email Rejected or Superseded, then only the Archivist/SysAdmin can create a

[2015-02-18 15:37] peterwebster commented on #256
Also @anjackson :  this field has a positive value, Not Initiated, but I think that both the records imported from Andy's ACT *and* new records in W3ACT are probably set to None/Null. We probably want to tidy this up, but the validation above will work in the meantime.

[2015-02-18 15:52] peterwebster commented on #241
The three manual tests are reflected correctly at:
http://www.webarchive.org.uk/actdev/targets/16936

[2015-02-18 16:02] peterwebster commented on #91
@anjackson OK, perhaps we do need to open this one up.

http://www.webarchive.org.uk/actdev/crawlpermissions/2

This crawl permission uses *both* URLs recorded for the target at http://www.webarchive.org.uk/actdev/targets/16936

Also, if the user adds more seed URLs, the most recently added is listed first, and so I'm not sure there is a clear distinction between a primary seed and others.

[2015-02-18 16:06] peterwebster commented on #241
UK TLD test being correctly applied to *all* URLs, and returning false if all URLs are not UK TLD.

[2015-02-18 16:12] peterwebster commented on #241
UK Host Test and UK TLD both correctly returning false in this target, where one URL passes, and the second does not:  http://www.webarchive.org.uk/actdev/targets/16937#crawlpermission

[2015-02-18 16:20] peterwebster commented on #241
Just one question for me @kinmanli : *when* does the UK Registration check take place ?  I ask because I would expect this target  to pass, but it fails now, immediately after creating the record
http://www.webarchive.org.uk/actdev/targets/16939

If you look up above, you yourself once created a target for this (now lost) which passed, and I know that it hasn't moved in the interim.

[2015-02-18 16:22] peterwebster commented on #231
@GilHoggarth @kinmanli there seems to be many more instance records today, but I won't be able to test this until the Null Pointer error at #263 is fixed

[2015-02-18 16:39] GilHoggarth commented on #231
@peterwebster @kinmanli That would be me, or at least my action. Ran the `waybackinstance_import.sh` script on w3act without a failure! It doesn't report anything so I don't know what I did but "many more instance records", assuming relating to wayback, sounds good!

[2015-02-18 16:44] kinmanli commented on #263
@peterwebster

Most Recent now shows date if there is an 'instance'.

Clicking on 'instances to date' will now to go the view

![screen shot 2015-02-18 at 16 42 05](https://cloud.githubusercontent.com/assets/1652105/6251704/5c4c063a-b78d-11e4-8343-26943f373019.png)
![screen shot 2015-02-18 at 16 34 25](https://cloud.githubusercontent.com/assets/1652105/6251703/5c45147e-b78d-11e4-81ab-3ffab16e5c64.

[2015-02-18 16:54] peterwebster commented on #182
@GilHoggarth wrote:

"Several fields unset in Andy's ACT but set to 'no' in w3act. Guessing this is the default value if data not entered but wonder if 'not entered' should equal no. Fields include "Ignore Robot.txt", "UK Postal Address", "Via Correspondence", "Professional Judgement", "No LD Criteria Met"."

@anjackson should these all in fact default to Null ?

[2015-02-18 16:56] peterwebster commented on #182
@GilHoggarth also wrote in relation to the No LD Criteria Met field:

"does the system check that this can only be 'yes' if all other LD criteria fields are no?"

The answer is: Not Yet, but it is captured at #240

[2015-02-18 17:02] peterwebster commented on #263
Looks good @kinmanli : I'll have a look at this tomorrow after /actdev has redeployed - but I see in the screenshots that  there are more recent instances in the instance list than is suggested by the Most Recent date in the table.

Also, in the table, it probably doesn't need the time, or the day of the week. Just 21 Mar 2013 would do, and save space.

[2015-02-19 09:32] kinmanli commented on #261
Currently changed it to convert to UTC and saves it.

[code]
Posgresql Client shows it with DST

![screen shot 2015-02-19 at 09 31 52](https://cloud.githubusercontent.com/assets/1652105/6264262/30b73e62-b81a-11e4-8109-6c10c5f0bc2a.png)

[2015-02-19 10:25] kinmanli commented on #268
@anjackson when 'proxying' to the wayback url, is this how you want play to handle the exceptions?

![screen shot 2015-02-19 at 10 24 21](https://cloud.githubusercontent.com/assets/1652105/6265042/80166634-b821-11e4-8cdc-cfa6e4d6c4c6.png)

[2015-02-19 10:30] GilHoggarth commented on #268
As a matter of understanding, can you browser crawler03 from outside the office (BL network)?

[2015-02-19 10:35] kinmanli commented on #268
@GilHoggarth no I cannot

[2015-02-19 11:40] anjackson commented on #268
You can use use the public Wayback for testing, I think? http://www.webarchive.org.uk/wayback/archive/20100906204014/http://www.london2012.com/

[2015-02-19 11:42] anjackson commented on #268
@kinmanli that's fine for the errors, btw.

[2015-02-19 14:05] peterwebster commented on #266
Part 1 to be done now; part 2 later.

@kinmanli the API needs to replicate what is current for Andy's ACT. Validation needed against targets with the same URLs.

[2015-02-19 14:06] anjackson commented on #266
I think we should do (1) under the 1.1.0 milestone and put (2) in a new ticket for a later date.

Part 1 should accept the same JSON as W3ACT produces per target, and refuse to create Targets if the URL is already known to the system.

@PsypherPunk can you supply an example of the client code, so it's clear how this used to work in Andy's ACT?

[2015-02-19 14:16] anjackson commented on #261
So, are the crawl feeds outputting in UTC yet?

[2015-02-19 14:19] anjackson commented on #260
This a new REST API, like the Targets one, for adding information about the crawl.

[2015-02-19 14:22] peterwebster commented on #260
Some work to do in understanding possible changes to W3ACT data model to accommodate data incoming from Heritirix (rather than Monitrix as originally planned.)

[2015-02-19 14:23] peterwebster commented on #260
@PsypherPunk it might be worth talking to Nicola about the requirements for this.

[2015-02-19 14:29] kinmanli commented on #263
check latest date and timestamp of most recent

[2015-02-19 14:37] kinmanli commented on #241
recreate this

[2015-02-19 14:41] peterwebster commented on #182
A comparison of the crawl feeds for both applications would be the easiest means of comparing @GilHoggarth (bearing in mind one issue with the timestamps)

[2015-02-19 14:43] anjackson commented on #182
@GilHoggarth They should be 'no', because 'Null' means 'unknown' or 'unset'.

[2015-02-19 14:53] peterwebster commented on #247
Me to write error message

[2015-02-19 14:54] peterwebster commented on #191
@kinmanli to check whether this has been committed

[2015-02-19 15:08] kinmanli commented on #91
@anjackson Is this what you're looking for?

https://github.com/ukwa/w3act/blob/schemarefactor/app/models/Target.java#L108

[2015-02-19 15:17] kinmanli commented on #261
@anjackson I've not checked it in yet.

Are you looking at http://localhost:9000/actdev/api/targets/11776 to check the dates/times?

[2015-02-19 15:19] anjackson commented on #91
Hm, okay, so it seems the data model does not really create a List, but a Set (http://stackoverflow.com/questions/6562673/onetomany-list-vs-set-difference), i.e. as it is, there is no 'first' URL, no 'primary seed', just a set of URLs that could turn up in any order.

Kinman, can you find out how many entries have multiple URLs? If its not too too many, it might be easier to process them manually.

[2015-02-19 15:21] anjackson commented on #264
Taken from #146:

i.e. I'd like W3ACT to have a hook that rechecks the scope, and having it built in means we can make a page that reports on the status of the checking process.

[2015-02-19 15:21] anjackson commented on #146
Closing this and moving details over to #264.

[2015-02-19 15:21] #146 closed

[2015-02-19 15:26] anjackson commented on #261
We need to check with @PsypherPunk but I believe he is trying to use the crawl feed exports, like this one (https://www.webarchive.org.uk/act/targets/export/ld/daily) but they seem to be broken.  The other API hook also seems to be broken: https://www.webarchive.org.uk/act/api/targets/1

[2015-02-19 15:40] GilHoggarth commented on #182
Note to self: w3act crawl feed example: https://www.webarchive.org.uk/act/targets/export/ld/daily

[2015-02-19 15:44] kinmanli commented on #91
@anjackson approximately 412 Targets with multiple URLs

[2015-02-19 15:50] anjackson commented on #91
@kinmanli Presumably the URL table ID is a normal auto-incrementing long?

[2015-02-19 15:52] kinmanli commented on #191
automatically selects parent, but is not saved.

[2015-02-19 15:52] kinmanli commented on #91
@anjackson yes it is

[2015-02-19 16:04] kinmanli commented on #263
@peterwebster checked in. Tested below.

![screen shot 2015-02-19 at 16 02 57](https://cloud.githubusercontent.com/assets/1652105/6270303/d4b6d866-b850-11e4-942f-1f8ebdacda65.png)

Select the 2nd row number 8 link

![screen shot 2015-02-19 at 16 03 12](https://cloud.githubusercontent.com/assets/1652105/6270304/d645cb7e-b850-11e4-96f7-797f4fd1d38b.png)

[2015-02-19 16:22] kinmanli commented on #261
[code]

[2015-02-19 16:22] anjackson commented on #268
Note, from the policy:

* The connection must be over SSL, e.g.https://ldwa-qa.ldls.org.uk/wayback/
* The connection must need a login, using actively-maintained, individual credentials.
* The server will use [cache-control headers](http://stackoverflow.com/questions/9884513/avoid-caching-of-the-http-responses) to prevent resources from being cached locally.

So, it is possible to add/override the

[2015-02-19 16:23] anjackson commented on #91
So perhaps we can assume the one with the lowest ID is the 'primary' one, and then review?

[2015-02-19 16:25] anjackson commented on #261
That looks good. Thanks.

[2015-02-19 16:25] kinmanli commented on #91
@anjackson there's als the 'createdAt' field too.

[2015-02-19 16:26] anjackson commented on #91
Okay, given how the import code works, which is likely to be most reliable?

[2015-02-19 16:28] kinmanli commented on #91
CreatedAt, if you think inserted first is the primary.

[2015-02-19 16:38] anjackson commented on #91
Well, it should be the first in the list coming from Andy's ACT, and if that order is honoured when the data is inserted by the import code, then it should be fine. I think you worked on the import code, but maybe it comes down to how the underling DB system handles the List insertion?

[2015-02-19 17:10] anjackson commented on #268
Also, just in case it's not clear, all users with access to this need training to ensure that they know they should not print or save-as etc. @peterwebster

[2015-02-19 23:14] kinmanli commented on #241
@peterwebster. I can't seem to recreate it with the same data.

**local**

![screen shot 2015-02-19 at 23 11 17](https://cloud.githubusercontent.com/assets/1652105/6278183/b12bec4c-b88c-11e4-8e23-c0ef6dca6e12.png)

**actdev**

![screen shot 2015-02-19 at 23 12 00](https://cloud.githubusercontent.com/assets/1652105/6278209/f53adc04-b88c-11e4-8936-63b9e798dda4.png)

[2015-02-20 09:57] kinmanli commented on #256
@peterwebster updated the validation for the button and checked in.

[2015-02-20 10:11] kinmanli commented on #91
@anjackson with http://www.webarchive.org.uk/act/node/16.json it reads in the 'field_url' that is in Andy's Act and inserts them into w3act in that order

1. https://www.cafonline.org/
2. http://www.cafonline.org/

[code]

[2015-02-20 13:06] kinmanli commented on #268
@GilHoggarth @anjackson @peterwebster Checked in 'proxying' from actdev to wayback

http://localhost:9000/actdev/wayback/archive/20100906204014/http://www.london2012.com/
(https://www.webarchive.org.uk/act/wayback/archive/20100906204014/http://www.london2012.com/)

http://www.webarchive.org.uk/wayback/archive/20100906204014/http://www.london2012.com/

[2015-02-20 13:20] GilHoggarth commented on #268
@kinmanli Checking the last two URLs above, the /act/wayback/ link fails but the /wayback/ link works.

Does this mean that currently the github code is configured to point to webarchive.org.uk/wayback? That would I think be incorrect as that's serving public website content for UKWA. The /act/wayback/ URL should proxy to crawler03.bl.uk, which isn't available publicly (so to allow ACT archivists

[2015-02-20 13:42] kinmanli commented on #268
@GilHoggarth it depends how you've set it up in your config file.

w3act won't work yet until you've deployed it.

[2015-02-20 14:24] GilHoggarth commented on #268
@kinmanli Okay, I've amended /actdev application.conf to set:
[code]
Which I understand to mean that a target Instance "QA wayback" link might read http://www.webarchive.org.uk/actdev/wayback/*/http://www.active-east.co.uk but should actually proxy content from http://crawler03.bl.uk:8080/actdev/wayback/*/http://www.active-east.co.uk

Having restarted /actdev I do get this url (http://www.webarchi

[2015-02-20 14:33] GilHoggarth commented on #268
Rats, same. Redeployed github code; amended prod.conf to:
[code]
Logged in, viewed target https://www.webarchive.org.uk/act/targets/15536 - QA wayback URL = https://www.webarchive.org.uk/act/wayback/*/http://www.active-east.co.uk but this only opens a new browser window showing this correct URL but the login page UI.

[2015-02-20 14:35] GilHoggarth commented on #268
PS no information is captured in crawler03's wayback log.

[2015-02-20 15:41] kinmanli commented on #268
@gilhoggarth you need to be logged in for the proxing to work. Are you using prod.conf? It is only using that property to proxy. It is not in the code

[2015-02-20 15:53] GilHoggarth commented on #268
Logged into where? I am logged into w3act (or /actdev), otherwise I wouldn't be able to see the target. /actdev is using application.conf and w3act is using prod.conf, both amended as above.
I don't understand what you mean about *only using that property to proxy. It is not in the code*

[2015-02-20 16:40] kinmanli commented on #268
When I'm logged into act and put this in the browser. I get the screenshot below (see the browser's url)

https://www.webarchive.org.uk/act/wayback/*/http://www.active-east.co.uk

![screen shot 2015-02-20 at 16 39 18](https://cloud.githubusercontent.com/assets/1652105/6304852/2c09da90-b91f-11e4-93c0-00d204180d88.png)

[2015-02-21 01:34] kinmanli commented on #191
@peterwebster fixed

Target editing now show's Subject and Collection Parent's being selected in the UI.

![screen shot 2015-02-21 at 01 19 00](https://cloud.githubusercontent.com/assets/1652105/6312180/996b2c94-b968-11e4-968f-fc7c95cce338.png)

Tables show that the parent's are being persisted.

Subjects
![screen shot 2015-02-21 at 01 25 26](https://cloud.githubusercontent.com/assets/1652105/6312

[2015-02-21 01:45] kinmanli commented on #240
@peterwebster what about ukPostalAddress and viaCorrespondence? What message do you want it to flag if those are flagged?

[2015-02-22 19:29] kinmanli commented on #247
@peterwebster if sysadmin or archivist chooses 'Open UKWA Licence (2014-)' it will throw up an error. @peterwebster to provide the error message.

![screen shot 2015-02-22 at 19 28 35](https://cloud.githubusercontent.com/assets/1652105/6319957/09b1418a-bac9-11e4-883c-c9e1e9364857.png)

[2015-02-22 20:02] kinmanli commented on #257
@peterwebster fixed - error message changed to above

[2015-02-23 07:36] peterwebster commented on #241
@kinmanli OK, try this one: this record has been imported from Andy's ACT, and should definitely pass the Reg check:  http://www.webarchive.org.uk/actdev/targets/1814#crawlpermission

I opened up the record and edited and saved, and the check still fails. Something going on in /actdev ?

[2015-02-23 07:41] peterwebster commented on #263
Thanks, this looks great @kinmanli , but I'm now getting an null pointer error when clicking on any of the instance record links  (20130412.....)  at http://www.webarchive.org.uk/actdev/instances/listbytarget/?s=title&o=asc&t=7793

[2015-02-23 07:48] peterwebster commented on #256
OK, a policy question for @anjackson :  can we think of any circumstances where a target might have some other type of licence already (an HLF one, or a pre-2014 UKWA one) but we might still want to initiate this process. If so, we need to extend this validation a little.
http://www.webarchive.org.uk/actdev/targets/4/edit#licensing

I'm thinking UKWA Selective = no, other types = yes

[2015-02-23 07:54] peterwebster opened #269 "Sorting in QA target lists"
The list of instances here would be better sorted in reverse chron order, giving *most recent* first

http://www.webarchive.org.uk/actdev/instances/listbytarget/?p=1&s=title&o=asc&t=2973

[2015-02-23 07:58] peterwebster commented on #231
So, the most recent instances I'm seeing in /actdev this morning are dated 13 Feb; does that sound about right @PsypherPunk ? I had thought there were some daily crawl schedules, but perhaps they won't have made it into the QA Wayback.

http://www.webarchive.org.uk/actdev/qa/list?f=www.guardian.co.uk

[2015-02-23 08:37] romankarl commented on #265
Is it every 24 hours? Then this would be related to the crawling.

[2015-02-23 09:55] kinmanli commented on #241
@peterwebster @anjackson

This is what originally happens when it cannot find a whois server for `http://www.westsussex.gov.uk/' and returns a false/no

Ran a test with:

[code]

[2015-02-23 10:02] kinmanli commented on #263
@peterwebster There is nothing there when I go to:

http://www.webarchive.org.uk/actdev/instances/listbytarget/?s=title&o=asc&t=7793

[2015-02-23 11:46] GilHoggarth commented on #268
The image's URL is from your local deployment, which may well mean that this deployment is different from the w3act service. Did you try the https... URL immediately above? If so, what did it show?

[2015-02-23 13:15] kinmanli commented on #268
It working okay now @GilHoggarth?

[2015-02-23 13:42] kinmanli commented on #268
@GilHoggarth added '/*/' prefix to waybackcontroller - checked in.

[2015-02-23 13:48] kinmanli commented on #268
@GilHoggarth actually I might have to revert this as urls specified like below will stop working

[code]

[2015-02-23 14:25] kinmanli commented on #268
@GilHoggarth updated edit/view target and instance pages to include /*/

[2015-02-23 15:12] GilHoggarth commented on #268
Re. cache control - http://httpd.apache.org/docs/2.2/caching.html#security covers authenticated content. As the w3act material is being handled by an isolated service, the above mentioned cache control headers have been added for all content for this w3act service.

[2015-02-23 17:13] kinmanli commented on #268
@GilHoggarth Checked in the content type setting

​https://github.com/ukwa/w3act/commit/6ae69b1bd0a5040151569937b4d071b5af56cc2e

[2015-02-24 06:38] peterwebster commented on #263
![image](https://cloud.githubusercontent.com/assets/5520710/6344370/9462a752-bbef-11e4-8d49-709a3ad190b0.png)
is what I see at http://www.webarchive.org.uk/actdev/instances/listbytarget/?s=title&o=asc&t=7793

A click on the first one 20130412153301 gives a Null Pointer Error

![image](https://cloud.githubusercontent.com/assets/5520710/6344379/be0d4742-bbef-11e4-9c1a-3de0f959f92a.png)

[2015-02-24 06:50] peterwebster commented on #257
@kinmanli in the GUI, the new account type isn't shown as an option at:

http://www.webarchive.org.uk/actdev/curators/43/edit

so the archivist can't change the user's status.

[2015-02-24 06:55] peterwebster commented on #255
Assigning back to @kinmanli to look at the layout in the first Instances box. I see that the third one is commented out - thanks.

[2015-02-24 07:07] peterwebster opened #270 "Not possible to filter targets for those without a license"
At http://www.webarchive.org.uk/actdev/targets/list?s=title , if one searches with 'None' as the value for the License filter, it returns the whole list.

[2015-02-24 07:13] peterwebster commented on #270
@anjackson this is because for all the other filter options for this list, filtering on None isn't a real use case (there are no target records where Curator=None, and no-one should search for records that are *not* flagged for attention.) However, looking for records without a licence yet is a real use case.

Not sure what, if anything, to do, as to change the None behaviour for just one filter u

[2015-02-24 07:17] peterwebster commented on #251
OK, I can't seem to replicate this now, so will close the ticket

[2015-02-24 07:17] #251 closed

[2015-02-24 07:24] peterwebster commented on #191
Hi @kinmanli the *upward* cascade looks good - I've selected a child value in both subject and collection which correctly selects the parent too.

However, it also cascades down - ie. selecting a parent automatically selects all the children. I don't think this is the right behaviour, but need to check. Could you confirm whether the two behaviours come as a package - ie. the same code that enables

[2015-02-24 07:27] peterwebster commented on #247
Error message:  "It is not possible to attach an Open UKWA Licence directly to a target in this way. Please initiate the licensing process using the green button below." @kinmanli

[2015-02-24 07:29] peterwebster commented on #240
Sorry @kinmanli , my first error message was too specific. We just need one to cover both cases, reading ""One of the checks for NPLD permission has been passed.Please unselect the 'No LD Criteria Met' field and save again."

[2015-02-24 08:21] kinmanli commented on #257
@peterwebster I can't see that as I don't have an archive or sys admin account.

This is on mine. What do you get?

![screen shot 2015-02-24 at 08 20 32](https://cloud.githubusercontent.com/assets/1652105/6345438/143560b0-bbfe-11e4-9bae-910ee792a39c.png)

[2015-02-24 08:24] kinmanli commented on #255
@peterwebster I thought you wanted the 3rd accordian commented out, which I did?

![screen shot 2015-02-24 at 08 23 12](https://cloud.githubusercontent.com/assets/1652105/6345484/7928fc16-bbfe-11e4-859d-7a6e27e223b3.png)

[2015-02-24 08:26] kinmanli commented on #191
@peterwebster in a tree UI that seems be normal behaviour, and the code does both things.

[2015-02-24 09:08] peterwebster commented on #191
So, if it is both or neither (we can't have down without up) I need to check with Nicola as to whether we need to revert, and have neither. Assigning this to me while I do that.
cc @anjackson FYI

[2015-02-24 09:14] peterwebster commented on #191
@kinmanli is it possible/straightforward to *require* the user to select a child (if there are any) when selecting a parent? This would mean that it would not be possible for a user to select only a parent and thus have all the children selected by default.
This is just a question right now; talking to Nicola about the best option.

[2015-02-24 09:15] peterwebster commented on #255
That's right - I'm talking about the format in the first accordion - see comment 12 days ago.

"On the layout how about:

ExampleSeedURL#1.com [in bold, probably]
[bullet] In QA Wayback
[bullet] In Open UK Web Archive
[bullet] In other web archives
[bullet] Live site

repeated either vertically or horizontally.

[2015-02-24 09:18] peterwebster commented on #257
Logged in as an archivist @kinmanli

![image](https://cloud.githubusercontent.com/assets/5520710/6346237/1a6b91c2-bc06-11e4-9f41-05b5e283ec99.png)

[2015-02-24 09:53] kinmanli commented on #255
@peterwebster before I check in, please can you confirm this is what you are looking for?

![2015-02-24 09-53-04_w3act](https://cloud.githubusercontent.com/assets/1652105/6346844/093fcb52-bc0b-11e4-8bac-bc13c8244292.png)

[2015-02-24 10:20] peterwebster commented on #255
Great..

On Tue, Feb 24, 2015 at 9:53 AM, kinmanli <notifications@github.com> wrote:

--
*Dr Peter Webster*
*peterwebster6@gmail.com <peterwebster6@gmail.com>*
Twitter: *@pj_webster*
*http://peterwebster.me  <http://peterwebster.me>*
*http://websterresearchconsulting.com/ *
<http://websterresearchconsulting.com/>

[2015-02-24 10:34] kinmanli commented on #255
@peterwebster checked in. MIGHT NOT be in @GilHoggarth he deployed this morning.

[2015-02-24 11:23] anjackson commented on #268
So, there seem to be two issues. Firstly, and most importantly, the current proxying code does not handle redirects. If the Wayback response is a 303, the proxy code should also emit a 303, but re-writing the Location so that it points to the ACT proxy.

The second issue is that failing to handle the 303 seems to cause an error, and for some reason, going to the error page actually produces a logi

[2015-02-24 11:31] kinmanli commented on #268
@anjackson there is .```setFollowRedirects(true)``` option. Do you have a url I can use as a test case?

Thanks

[2015-02-24 11:33] anjackson commented on #268
Unfortunately, that would hide what's going on from the end user, and would make QA difficult. For example, you could request an item from 2050 and it would appear to work! I think we have to re-write the redirect instead.

[2015-02-24 11:46] kinmanli commented on #268
@anjackson Can you post a url so I can use as a test case?

Thanks

[2015-02-24 11:50] anjackson commented on #268
https://www.webarchive.org.uk/act/wayback/20140611000704js_/http://bl.uk/scripts/jquery-1.5.1.min.js which redirects to a different timestamp.

[2015-02-24 11:55] anjackson commented on #241
Hm, I would have expected the call to be more like:

    JRubyWhois whoIs = new JRubyWhois();
    WhoisResult whoIsRes = whoIs.lookup("www.westsussex.gov.uk");

i.e. just passing in the host, not the URL.

[2015-02-24 11:58] anjackson commented on #270
I guess it's not a priority, but filtering on 'ANY' should be different than filtering on 'EMPTY'. Maybe we need better names, so we can add 'filter for UNSET/EMPTY/NULL' and keep it's meaning separate from 'filter is NONE' (meaning no filter applied).

[2015-02-24 12:12] GilHoggarth commented on #268
@anjackson @kinmanli /actdev now configured to use crawler03.bl.uk:8081, a new wayback tomcat with different settings (in application.conf; w3act uses prod.conf)

[2015-02-24 12:19] kinmanli commented on #268
Very strange my local one redirects to "https://www.webarchive.org.uk/act/login"

[2015-02-24 12:19] anjackson commented on #256
@peterwebster I think we should write that out of scope for now.

[2015-02-24 12:24] anjackson commented on #268
I mean the Wayback back-end for https://www.webarchive.org.uk/act/wayback/20140611000704js_/http://bl.uk/scripts/jquery-1.5.1.min.js redirects to a different timestamp. ACT mishandles the situation, and directs you to the login.

I'm concerned this is not critical functionality for the first production release of W3ACT and it's holding other things up. There are more serious problems under this mi

[2015-02-24 12:38] anjackson commented on #231
It should be easy to check this by going to the QA Wayback and checking by hand if the Guardian is up to date.

[2015-02-24 12:39] anjackson commented on #263
Do we need to re-import instances? I'm seeing an empty list.

[2015-02-24 13:18] GilHoggarth commented on #231
Might this be because The Guardian changed their domain? http://www.webarchive.org.uk/actdev/wayback/*/http://www.theguardian.com lists to Feb 22 2015.

[2015-02-24 13:18] kinmanli commented on #263
@GilHoggarth can you make my user kinman.li@bl.uk an archivist so I can check this?

[2015-02-24 13:20] GilHoggarth commented on #263
Done for /actdev.

[2015-02-24 13:23] kinmanli commented on #263
thanks @GilHoggarth

Can you send me the last exception from the logs?

[2015-02-24 13:27] GilHoggarth commented on #263
Last log sent.

[2015-02-24 13:30] GilHoggarth commented on #263
@kinmanli In the Instances page (e.g., http://www.webarchive.org.uk/actdev/instances/listbytarget/?s=title&o=asc&t=7793), the (mid-crawl) URL is still referring to crawler03 - needs to be changed like the QA Instance URL.

[2015-02-24 13:56] kinmanli commented on #263
@peterwebster working on actdev now.

![2015-02-24 13-54-07_w3act](https://cloud.githubusercontent.com/assets/1652105/6350540/b00a157a-bc2c-11e4-932e-da07e37eda84.png)

![2015-02-24 13-54-25_w3act](https://cloud.githubusercontent.com/assets/1652105/6350541/b00b953a-bc2c-11e4-9f0e-53e2b3e24db7.png)

@GilHoggarth 'mid-crawl' now points correctly

![2015-02-24 13-55-18_w3act](https://cloud.githubuser

[2015-02-24 13:57] kinmanli commented on #241
Passing in the host gives:

[code]

[2015-02-24 14:46] kinmanli commented on #268
Fixed other ticket https://github.com/ukwa/w3act/issues/263 and deployed to actdev awaiting testing from @peterwebster.

For this ticket the above js script redirects to. Still working on it.

![2015-02-24 14-40-14_mozilla firefox](https://cloud.githubusercontent.com/assets/1652105/6351438/986e834a-bc33-11e4-83a5-334ccc03fb26.png)

[2015-02-24 14:51] anjackson commented on #241
That looks fairly serious. Do we know if this has ever worked?

[2015-02-24 14:55] kinmanli commented on #241
@anjackson yes it used to work and worked for other 'URLs' but right now the Test I wrote is failing.

[2015-02-24 14:57] anjackson commented on #241
@kinmanli And the test is running with the full, normal classpath, right?

What about just passing in "westsussex.gov.uk"? I notice the W3ACT code attempts to strip down to the domain name by removing any leading www.

[2015-02-24 16:13] kinmanli commented on #241
@anjackson normal classpath within eclipse

Two URL tests

[code]

[code]

[2015-02-24 16:15] anjackson commented on #241
Ah, okay, so it can't cope with the gov.uk registrar, I guess. It can't be expected to cope with every registrar, I'm afraid. Unless this specific URL used to work and has not somehow changed registrar?

[2015-02-24 16:34] kinmanli commented on #268
This:
http://crawler03.bl.uk:8080/wayback/20140611000704js_/http://bl.uk/scripts/jquery-1.5.1.min.js

Redirects to:
https://www.webarchive.org.uk/act/wayback/20140611000731js_/http://www.bl.uk/scripts/jquery-1.5.1.min.js

[2015-02-24 16:36] anjackson commented on #268
Aha, of course, Wayback already knows the right URL  prefix, so you just need to hand the redirect back to the browser (without re-writing it). Phew.

[2015-02-24 18:44] kinmanli commented on #240
@peterwebster fixed

[2015-02-24 19:22] kinmanli commented on #247
@peterwebster updated the error message and checked in.

[2015-02-24 22:31] kinmanli commented on #241
@peterwebster did http://www.webarchive.org.uk/actdev/targets/1814 's uk registration used to be 'true'?

[2015-02-24 23:21] kinmanli commented on #257
@peterwebster 'closed' role has not been saved to the 'actdev' DB because data.import has been switched off. I have moved the 'closed' role insert into Global.java so you don't have to switch import on. Wil have to redeploy

[2015-02-25 10:00] GilHoggarth commented on #257
Latest code deployed to /actdev.

[2015-02-25 12:54] peterwebster commented on #268
Very happy to move this back to 1.1.0 @anjackson - will do so now.

[2015-02-25 13:05] peterwebster commented on #263
Could @GilHoggarth give a view on whether the links now direct where you expect them to?

[2015-02-25 13:10] peterwebster commented on #263
@kinmanli null pointer error is sorted - thanks.

There is one more issue around this, but I'm going to create a new ticket for clarity.

[2015-02-25 13:13] peterwebster commented on #263
@kinmanli null pointer error sorted - thanks.

There's a issue about the application of the QA Status filter at:  http://www.webarchive.org.uk/actdev/qa/list?f=eastsussex.gov.uk

This suggests that for eastsussex.gov.uk the *most recent* instance has Status=No QA Issues

If you look here, that isn't the case: http://www.webarchive.org.uk/actdev/instances/listbytarget/?t=1804

The filter needs to b

[2015-02-25 13:16] GilHoggarth commented on #263
As far as I'm aware there are no more links to crawler03 that need to be changed to travel via the w3act service. However, the wayback UI is not showing the wayback logo (due to a mime type setting I'd assume). But, **more importantly** the QA Instance link isn't currently working.
http://www.webarchive.org.uk/actdev/wayback/*/http://www.active-east.co.uk redirects back to http://www.webarchive.or

[2015-02-25 13:31] peterwebster commented on #256
Validation correct when crawl permission=Queued; =Refused;

[2015-02-25 13:33] peterwebster opened #271 "URL for Open UKWA Licence granting directs to password-protected ACT"
This link is included in the email, but resolves to the ACT login page

"If you are happy for your site to be archived, please complete the online licence form http://www.webarchive.org.uk/actdev/ukwa/licenseform/4e13ed50-ba47-411c-ae32-ba9ad4127d89 that will permit us to proceed."

[2015-02-25 13:34] peterwebster commented on #256
Can't complete testing until new ticket #271 resolved

[2015-02-25 13:35] kinmanli commented on #271
@peterwebster Thought this used to work?

[2015-02-25 13:35] peterwebster commented on #241
@kinmanli  I don't know, haven't used this example before

[2015-02-25 13:37] kinmanli commented on #241
@peterwebster @anjackson so how do you want to progress this if it cannot handle .gov sites?

[2015-02-25 13:39] peterwebster commented on #241
@kinmanli @anjackson we can discuss this at 2; but perhaps a fail which should have passed is acceptable - what we can't have is a pass that should fail.

[2015-02-25 13:51] kinmanli commented on #263
@peterwebster initial investigation maybe a data issue as local one shows as.

![2015-02-25 13-50-03_w3act](https://cloud.githubusercontent.com/assets/1652105/6371602/5057ae5c-bcf5-11e4-84af-7110e0508262.png)

[2015-02-25 14:40] anjackson commented on #182
@PsypherPunk looked at the feeds and found some minor differences:

[code]

[2015-02-25 14:42] peterwebster commented on #241
Review and close

[2015-02-25 14:43] kinmanli commented on #263
![2015-02-25 14-42-20_w3act](https://cloud.githubusercontent.com/assets/1652105/6372504/9bd94690-bcfc-11e4-9ffd-a62bed0a02f0.png)

![2015-02-25 14-42-36_w3act](https://cloud.githubusercontent.com/assets/1652105/6372506/9d9706a2-bcfc-11e4-93bc-7eeae28104f3.png)

[2015-02-25 14:44] anjackson commented on #264
Note also that this process should include updating the JRubyWhois dependency, as later versions may be able to cope with more registrars.

[2015-02-25 14:45] kinmanli commented on #263
@peterwebster fixed and checked in... see above.

[2015-02-25 15:32] anjackson opened #272 "Subject should not be a required field."
The Subject field should no longer be a required field.

[2015-02-25 15:33] anjackson opened #273 "Improve W3ACT target editing experience"
Make the Target editing workflow better. Simpler, less separate stages, with a less confusing UI.

[2015-02-25 15:35] GilHoggarth opened #274 "Issue for users with more than 1 'type'"
Even though Nicola's account is an 'Archivist', Nicola wasn't able to save a target, the Save button was 'greyed out'. In checking her account, I saw that her account type was both 'Archivist' and 'User'. By removing the 'User' setting, Nicola logging out and back in again, she was able to Save the same target.

In discussion, it sounds like user account types are exclusive - a user can only be of

[2015-02-25 15:57] anjackson commented on #268
Okay, I see this in the application configs:

ws.followRedirects=true

It turns out not only would this hide information from the user (as I said above), it also fundamentally breaks what we're trying to do. It means W3ACT attempts to resolve the redirect, and so tries to make a HTTP request to itself. W3ACT is not logged into itself, so it fails.

I have checked in an alternative, that I think sh

[2015-02-25 16:15] peterwebster commented on #248
I think we've been dealing with the rules part of this ticket elsewhere. I think now thought @anjackson that the original part of this ticket should be on 1.1.0.

To recap:

(i) could @kinmanli check that changes to the status of a crawl permission (Granted, Refused etc) made in the crawl permission view are reflected in the UKWA Licensing tab of the target record.

Compare  http://www.webarchive.

[2015-02-25 16:20] peterwebster commented on #231
It may be as @GilHoggarth says that this target is a bad example, having multiple seeds, but it would be worth clarifying (at least) why there are more recent instances at:
http://www.webarchive.org.uk/actdev/wayback/*/http://www.theguardian.com/

than listed at http://www.webarchive.org.uk/actdev/instances/listbytarget/?t=790 (the first one in the list)

Any ideas @PsypherPunk @kinmanli @anjackso

[2015-02-25 16:21] anjackson commented on #268
This seems to work okay, but I'd rather cleanly pass all the headers through:
[code]

I'm removing all the login code around the edges, and reverting to the original security annotation, as I'm pretty sure that's all we need.

[2015-02-25 16:23] peterwebster commented on #231
And indeed, all three URLs have instances in Wayback to the 23rd Feb, but ACT think the most recent is 13 Feb.

[2015-02-25 16:26] kinmanli commented on #231
@GilHoggarth when was the last time the instance import ran?

[2015-02-25 16:28] peterwebster commented on #274
@kinmanli I'd understood it that if a user has two roles, they should be default be able to act in line with the higher role. Is that not right ?

[2015-02-25 16:29] kinmanli commented on #274
@peterwebster yes they can

[2015-02-25 16:30] peterwebster commented on #274
@kinmanli it might be worth double-checking that, as if that's the case, Nicola's issue is something else.

[2015-02-25 16:31] kinmanli commented on #274
@peterwebster if that user has that role in the list then they are allowed to proceed

[2015-02-25 16:32] peterwebster commented on #274
Already raised and put on hold at #225

[2015-02-25 16:43] anjackson commented on #182
Nicola is going through the discrepancies at the moment. We should be able to push on tomorrow.

[2015-02-25 16:58] GilHoggarth commented on #231
Guessing you mean /actdev and looking into this I wonder if it's suceeded - the script states prod.conf but of course on /actdev this should be application.conf.

If you mean w3act (https://act) then I think it was a few days ago. The script in github doesn't state the directory for the prod.conf and evidently has been failing. I thought I'd fixed this, but have now fixed it outside of the script.

[2015-02-25 17:02] kinmanli commented on #231
yes please run on actdev @GilHoggarth

[2015-02-25 17:21] GilHoggarth commented on #268
@anjackson Deployed as the daily rollout on /actdev - this revised code works up to http://www.webarchive.org.uk/actdev/wayback/20141220010852/http://www.active-east.co.uk/ but then the wayback attempt to redirect to http://www.webarchive.org.uk/actdev/wayback/20141220010852/http://www.active-east.co.uk/Pages/default.aspx doesn't respond, presumably with a redirect loop going on.
The wayback logo

[2015-02-25 17:23] kinmanli commented on #268
is ``` ws.followRedirects=true ``` still in your application.conf/prod.conf?

[2015-02-25 17:26] GilHoggarth commented on #268
Nope. Not in /actdev application.conf or w3act prod.conf.

[2015-02-25 17:43] kinmanli commented on #231
@peterwebster Does this look correct now? Latest 23/02/2015 after @GilHoggarth did a wayback import to actdev.

![screen shot 2015-02-25 at 17 42 00](https://cloud.githubusercontent.com/assets/1652105/6376440/b2154bf2-bd15-11e4-8e81-7f85604d8d47.png)

[2015-02-25 17:45] kinmanli commented on #263
test the filter

[2015-02-25 18:30] anjackson commented on #268
Weird. I seems to work okay for me, although the Wayback deployments are slightly different, which might be confusing things.

I checked in a change to the Location redirect response logic, which seems to work locally.

More alarmingly, for me, ACTDEV is encoding my password in the cookie name IN PLAIN TEXT. Where was this added? I wonder if this is causing problems elsewhere?

[2015-02-25 20:16] peterwebster opened #275 "Differential browser behaviour when loading QA Wayback"
[transferred from #263 as raised originally by @GilHoggarth ]

"The wayback UI is not showing the wayback logo (due to a mime type setting I'd assume).

But, more importantly the QA Instance link isn't currently working.
http://www.webarchive.org.uk/actdev/wayback/*/http://www.active-east.co.uk redirects back to http://www.webarchive.org.uk/actdev "

Subsequent investigation with @kinmanli and @an

[2015-02-25 20:17] peterwebster commented on #263
This looks good to me (the QA Status filtering, that is) so closing this ticket and moving the one remaining issue to #275

[2015-02-25 20:17] #263 closed

[2015-02-25 20:26] peterwebster opened #276 "Execution exception when populating manual NPLD tests"
When populating this:  http://www.webarchive.org.uk/actdev/targets/16976/edit#crawlpermission

and trying to record Yes in the UK Postal Address field, it throws:

Execution exception[[PersistenceException: org.postgresql.util.PSQLException: ERROR: duplicate key value violates unique constraint "pk_subject_target" Detail: Key (target_id, subject_id)=(16976, 24) already exists.]]

[2015-02-25 20:28] peterwebster commented on #241
Right, this is now dealt with, and so in order to keep things clear, I'm closing this and moving a new related issue to #276

[2015-02-25 20:28] #241 closed

[2015-02-25 20:37] peterwebster commented on #231
OK, this looks good to me. If @anjackson is happy, could he close the ticket ?

[2015-02-25 20:50] peterwebster commented on #191
@anjackson I think we need to move this one to the most immediate milestone, alas. At the minute, if a user selects a parent subject term, W3ACT defaults to checking *all* the children. (See the thread in the last 2-3 days.) This is the quid pro quo of the fix we asked for, so we might need to ask Kinman to undo that.
The requirement is then that we train users to individually select parents and c

[2015-02-25 21:06] kinmanli commented on #268
@anjackson this was added last night when I was looking at other ways of authentication and made it's way in to applicationcontroller.

[2015-02-25 21:14] kinmanli commented on #271
@peterwebster which other pages do not need authentication to besides this and the login page? The controller for this page always required authentication to gain access.

@Security.Authenticated(SecuredController.class)

[2015-02-25 21:17] kinmanli commented on #276
@peterwebster Is this doing an update or new record?

[2015-02-25 21:27] kinmanli commented on #268
Does your URL get masked when there is a "redirection" from crawler03 back to /actdev?

[2015-02-25 21:31] kinmanli commented on #275
@peterwebster isn't this just related to https://github.com/ukwa/w3act/issues/268?

[2015-02-25 22:23] anjackson commented on #268
I found something odd - if I created a 'private browser' window and logged in afresh it worked, whereas before that it did not. I wonder if the change to the cookie is causing issues.

i.e. if you log out and log in again, or perhaps better still, manually clear the cookie, does it work?

[2015-02-26 09:10] PsypherPunk commented on #266
I think this was the most complete version used:

    #!/usr/bin/env python
    # -*- coding: utf-8 -*-

    import sys
    import act
    import csv
    import json
    from dateutil import parser

    a = act.ACT()
    with open(sys.argv[1], "rb") as i:
        c = csv.reader(i, delimiter=",", quotechar='"')
        for title, url, subject, org, coll, freq, start in c:
            data = {}

[2015-02-26 10:09] kinmanli commented on #266
@PsypherPunk do you have the format of the input?

[2015-02-26 10:13] PsypherPunk commented on #266
Here's y'go:

    {
      "title": "Your Thurrock",
      "field_subject": {
        "resource": "taxonomy_term",
        "uri": "http://webarchive.org.uk/act/taxonomy_term/192",
        "id": "192"
      },
      "field_crawl_frequency": "monthly",
      "field_nominating_organisation": {
        "resource": "node",
        "uri": "http://www.webarchive.org.uk/act/node/101",
        "id": "101"

[2015-02-26 10:17] kinmanli commented on #266
@PsypherPunk is the Python code you supplied a CSV to Json parser?

So am I writing a parser to taking an json input file and converting it to targets?

[2015-02-26 10:22] kinmanli commented on #275
@peterwebster just tested this and it seems to be working after you login (or already logged in)

[2015-02-26 10:22] PsypherPunk commented on #266
Yes: the former ACT had a REST endpoint where we'd POST JSON similar to the above and it would produce a Target (or an error).

As we're writing the submitter in Python we're flexible as to the exact format of the JSON though, the above was largely dictated by the Drupal system.

[2015-02-26 10:56] kinmanli commented on #256
@peterwebster for https://github.com/ukwa/w3act/issues/271 can not just login to continue?

[2015-02-26 11:06] anjackson commented on #266
@kinmanli We can switch to W3ACT's 'native' JSON serialisation if that makes this easier.

[2015-02-26 11:08] anjackson commented on #271
This and the login pages are the only non-auth pages as far as I know. Please implement that for now.

[2015-02-26 11:08] anjackson commented on #256
Peter is testing the end-to-end workflow so would probably rather keep the testing realistic.

[2015-02-26 11:09] anjackson commented on #256
Assigned to @peterwebster to test when #271 is resolved.

[2015-02-26 11:11] anjackson commented on #231
@GilHoggarth could you add /opt/w3act/waybackinstance_import.sh to the test deployment script? Then this can be closed.

[2015-02-26 11:11] anjackson commented on #182
@GilHoggarth note that /opt/w3act/waybackinstance_import.sh should be added to cron when we go to production (#231).

[2015-02-26 11:14] anjackson commented on #276
Is this ready to test, @kinmanli ?

[2015-02-26 11:15] kinmanli commented on #266
@GilHoggarth currently working on this

[2015-02-26 11:19] kinmanli commented on #276
@anjackson @GilHoggarth yes ready to test.

I think @peterwebster is thinking of reverting back to what it was before as there maybe an issue with the way users select parent subjects. https://github.com/ukwa/w3act/issues/191

[2015-02-26 11:20] kinmanli commented on #271
@GilHoggarth fixing this as we speak

[2015-02-26 11:20] kinmanli commented on #256
@GilHoggarth fixed

[2015-02-26 11:20] nicolabingham commented on #182
I have resolved the list of discrepancies and am happy that there are no issues here.

[2015-02-26 11:21] kinmanli commented on #231
@GilHoggarth fixed (needed to run import)

[2015-02-26 11:30] PsypherPunk commented on #182
Re. the above, can we get the date formats in the feeds changed (not sure if there's a ticket open for this)?

They're currently of the form: `"06-04-2013 13:00"`

However, could they be changed to ISO 8601 format and clearly UTC? i.e. `2013-04-06T13:00:00Z`?

[2015-02-26 11:31] anjackson commented on #182
I have asked @PsypherPunk to switch over to W3ACT to drive the crawls. I believe we should get data though sometime after 13:00.

@GilHoggarth can the 'import instances' script be run hourly? Then the Instances should show up automatically later today.

[2015-02-26 11:35] kinmanli commented on #271
@GilHoggarth fixed now

[2015-02-26 11:37] anjackson commented on #191
Here's the plan for @kinmanli :

* Revert the change, so that users need to manually add the parent to the selection.
* Add server-side validation that automatically checks if the parent terms are selected and selects them if not before saving the target.

[2015-02-26 11:41] GilHoggarth commented on #231
/actdev is a "play target" service so it's libraries are scattered whereas w3act is a "play dist" service with all the libraries in one directory. So the triggering script (that runs the actual script) is slightly different on /actdev compared to w3act. Anyhoo, this is scheduled on both servers as a late night crontab, and both are being run at the moment to test that they work as expected.

[2015-02-26 11:46] GilHoggarth commented on #261
From Roger:
"
Re. the above, can we get the date formats in the feeds changed (not sure if there's a ticket open for this)?
They're currently of the form: "06-04-2013 13:00"
However, could they be changed to ISO 8601 format and clearly UTC? i.e. 2013-04-06T13:00:00Z?
"
@kinmanli Can you investigate this date format issue please and tell us if it's a quick fix or a more substantial bit of work. If

[2015-02-26 11:48] GilHoggarth commented on #261
Reopening issue to get it onto the Milestone 1.0.0 list.

[2015-02-26 11:59] kinmanli commented on #261
@GilHoggarth currently the view's use 'crawlStartDateText'. I can create another transient field 'crawlStartDateUTC' and 'crawlStartDateUTC' which @PsypherPunk can use? That sufficient?

[2015-02-26 12:00] anjackson commented on #182
Note that I have re-tagged the initial W3ACT release that started this process as w3act-1.0.0-beta. When we have transitioned to production, I will tag the w3act-1.0.0 release.

[2015-02-26 12:12] kinmanli commented on #261
@PsypherPunk @GilHoggarth

Does this look okay? Is this good to go?

[code]
[code]

[2015-02-26 12:14] GilHoggarth commented on #261
@kinmanli @PsypherPunk How might this work when we're in BST?

[2015-02-26 12:20] GilHoggarth commented on #261
Andy's answered saying that yes this should be fine, but has asked for confirmation - @kinmanli Can you tell Roger where the lines of code are that format the date, @PsypherPunk Can you review the code and clarify if you're happy with it.

[2015-02-26 12:21] kinmanli commented on #261
@GilHoggarth @PsypherPunk

All dates are independent of Timezones. Dates are formatted into Strings and set using UTC for the strings.

Code at:

https://github.com/ukwa/w3act/blob/schemarefactor/app/uk/bl/api/Utils.java#L706-L725

[2015-02-26 12:26] PsypherPunk commented on #261
Just to be utterly pedantic, can we use the fields `crawlStartDateISO` and `crawlEndDateISO`?

If everything's UTC anyway and explicit in the `Z` suffix then it's the  ISO format which distinguishes it.

Other than that, yep: the format's fine and the code looks good.

[2015-02-26 12:28] GilHoggarth commented on #261
@kinmanli Assigned back to Kinman to make code change.

[2015-02-26 12:36] kinmanli commented on #261
This look okay? @PsypherPunk @GilHoggarth. Checked in.

[code]

[2015-02-26 13:23] GilHoggarth commented on #231
/actdev script was referencing the prod.conf not application.conf, so changed this and rerunning. If run completes as expected, I'll close this ticket.

[2015-02-26 13:28] kinmanli commented on #272
@GilHoggarth fixed and checked in.

[2015-02-26 13:29] kinmanli commented on #191
@GilHoggarth

fixed: view doesn't auto select parent but server side code does and saves

[2015-02-26 13:52] kinmanli commented on #266
@PsypherPunk how are you sending the json? Via curl or other means?

[2015-02-26 14:03] GilHoggarth commented on #231
Import on /actdev worked as expected. Closing ticket.

[2015-02-26 14:21] PsypherPunk commented on #266
Yes, it'll be a HTTP POST, probably using Python.

[2015-02-26 14:21] GilHoggarth commented on #271
The URL listed in the first message of this ticket was tested whilst the Admin user was logged in and out; both accessible. http://www.webarchive.org.uk/actdev/collections/list?s=title was tested whilst logged in and out, the former was accessible the latter wasn't.

[2015-02-26 14:25] PsypherPunk commented on #261
Perfect!

[2015-02-26 14:27] nicolabingham commented on #276
Tested this target http://www.webarchive.org.uk/actdev/targets/16976 - added a postal address to the NPLD criteria and checked the postal address box. This was saved successfully (no error message).

Added subject terms to the same target. Selected 'Arts & Humanities' top level subject heading and saved the record. This was added successfully without the system adding any child terms.
I then remov

[2015-02-26 14:31] GilHoggarth commented on #261
Closing ticket as Andy happy with change and Roger happy with code.

[2015-02-26 14:31] #261 closed

[2015-02-26 14:34] nicolabingham commented on #272
Successfully removed subject metadata from target http://www.webarchive.org.uk/actdev/targets/16935/ and saved it.

[2015-02-26 14:36] nicolabingham commented on #272
Created a new target http://www.webarchive.org.uk/actdev/targets/16996 without subject terms. Saved and updated successfully.

[2015-02-26 14:52] GilHoggarth commented on #182
In talking with Andy about this, it's a good idea for 'play dist' zip to be added to github as part of the official w3act-1.0.0 release. Consequently we'll have a definitive record of the first release.

[2015-02-26 15:12] nicolabingham commented on #256
Two permission records have been sent successfully for http://www.webarchive.org.uk/actdev/targets/16927 and http://www.webarchive.org.uk/actdev/targets/16928.
@GilHoggarth does this resolve this issue or it there more to be tested here?

[2015-02-26 15:17] nicolabingham commented on #191
Selecting child subject term only automatically adds parent term on saving target record. Tested on target http://www.webarchive.org.uk/actdev/targets/16928

[2015-02-26 15:18] GilHoggarth commented on #256
@nicolabingham As this ticket mentions https://webarchive.org.uk/act/targets/16926, could you also check for this target please.

[2015-02-26 15:20] nicolabingham commented on #256
I tested this on /actdev/ and it worked. Does it also need to be tested on /act/ ?

[2015-02-26 15:24] GilHoggarth commented on #256
Yes, but after the latest code is released to /act (w3act) - which should be "shortly".

[2015-02-26 15:24] GilHoggarth commented on #276
Reopening so the same test is performed on w3act.

[2015-02-26 15:24] GilHoggarth commented on #272
Reopening so the same test is performed on w3act.

[2015-02-26 15:25] GilHoggarth commented on #271
Reopening so the same test is performed on w3act.

[2015-02-26 15:25] GilHoggarth commented on #191
Reopening so the same test is performed on w3act.

[2015-02-26 15:26] GilHoggarth commented on #231
Reopening so the same test is performed on w3act.

[2015-02-26 15:28] kinmanli commented on #266
@PsypherPunk so it's literally this we are importing? http://www.webarchive.org.uk/act/node.json?type=url

[2015-02-26 15:37] PsypherPunk commented on #266
That URL seems to contain data for _every_ Target; the POST submission would contain _one_ of those Target records.

In the existing system, to create a new record, we'd POST to: `http://www.webarchive.org.uk/act/node/`

The POST would contain JSON like the above (a subset of the data contained in an [individual record](http://www.webarchive.org.uk/act/node/21593.json)).

[2015-02-26 15:50] anjackson commented on #266
So, note that we already have this API (GET only):

* Get a Target: http://www.webarchive.org.uk/actdev/api/targets/1

I imagined the JSON format would be the same, except:

* POST JSON to http://www.webarchive.org.uk/actdev/api/targets
* If same URL as existing Target, ERROR (409 (Conflict) sounds about right).
* If not, create a new Target and return return a 201 (Created) with a Location header

[2015-02-26 16:35] GilHoggarth opened #277 "Wayback uses IA logo and 'home' returns error page"
If /act/wayback/ link is used, the user is shown the IA logo (which I think might confuse users and lessen our effort). If this logo is clicked (or if the 'Home' link is clicked), the user sees:
[code]

[2015-02-26 16:40] GilHoggarth commented on #271
The above UKWA licence URL isn't valid on w3act so I haven't found the licence form, but I have tested successfully that a page (https://www.webarchive.org.uk/act/targets/15536) can only be viewed when logged in.

@nicolabingham Can you test this please, by doing whatever's necessary to be sent the UKWA licence URL in an email and checking that it viewable which you are both logged into w3act and

[2015-02-26 16:41] GilHoggarth commented on #256
@nicolabingham w3act now deployed with latest code - could you test this please.

[2015-02-26 17:15] GilHoggarth commented on #231
Ran the `waybackinstance_import.sh` script on w3act - it logged its progress and claimed "finished". @kinmanli As you know what this does, can you check that it has done what it should do via the UI please.

[2015-02-26 22:40] kinmanli commented on #231
@GilHoggarth if you can make my user an archivist then I'll be able to see the results.

I've just checked the old listing code for instances and the results are only viewable by sysadm and archivist. Is this correct or should it be viewable by all roles @peterwebster?

[2015-02-27 06:26] peterwebster commented on #191
This looks fine to me. Was there a particular reason why this should be any different when the code is deployed to the production version @GilHoggarth ? If not, this can be closed.

[2015-02-27 06:29] peterwebster commented on #276
As with #191 @GilHoggarth , should we expect this to behave differently when deployed to the production version? If not, this can be closed ...

[2015-02-27 06:31] #272 closed

[2015-02-27 06:34] peterwebster commented on #231
@kinmanli at which point in the UI is the view you're talking about ?

[2015-02-27 06:46] peterwebster commented on #256
So, the issue has evolved over time. The remaining test wasn't whether or not it was possible to send a permission, but whether the validation was in place to stop users queuing another email when a licence had already been granted. @nicolabingham

So, if you were to grant the licence associated with this one http://www.webarchive.org.uk/actdev/crawlpermissions/61

and actdev stops you then from t

[2015-02-27 07:45] nicolabingham commented on #271
I am unable to send the licence when logged in. I get the error message: Execution exception[[PersistenceException: Unique expecting 0 or 1 rows but got [2]]]

[2015-02-27 07:53] nicolabingham commented on #256
Testing on W3 ACT  https://www.webarchive.org.uk/act/ and unable to send permissions. i get the error message Execution exception[[PersistenceException: Unique expecting 0 or 1 rows but got [2]]]

[2015-02-27 09:04] kinmanli commented on #256
@nicolabingham which contact person did you enter as there maybe a duplicate in the DB on /act?

[2015-02-27 09:09] kinmanli commented on #271
@nicolabingham @GilHoggarth

Looks like the same issue as https://github.com/ukwa/w3act/issues/256 "duplicate contact person in contact_person table"

[2015-02-27 09:10] kinmanli commented on #231
@peterwebster

http://www.webarchive.org.uk/actdev/instances/listbytarget/?t=790
https://www.webarchive.org.uk/act/instances/list/

[2015-02-27 10:42] GilHoggarth commented on #231
@kinmanli Done, you're now an w3act archivist.

[2015-02-27 11:01] nicolabingham commented on #256
@kinmanli the contact person was Nicola Bingham, which would be a duplicate

[2015-02-27 11:02] kinmanli commented on #231
@GilHoggarth this looks good with the latest ones being 24/02/2015

![screen shot 2015-02-27 at 11 00 47](https://cloud.githubusercontent.com/assets/1652105/6411409/056be148-be70-11e4-87ee-fefb4cbd1203.png)

There are 3 from 25/02/2015 on http://www.webarchive.org.uk/actdev/wayback/*/http://www.theguardian.com/ but I guess they will get imported on the next run

[2015-02-27 11:17] anjackson commented on #231
I think instances should be visible to everyone, surely?

[2015-02-27 11:20] nicolabingham commented on #231
Yes, as users at all levels will want to see what has been crawled and when.

[2015-02-27 11:27] GilHoggarth commented on #276
@nicolabingham Can you test again please on w3act.

[2015-02-27 11:32] GilHoggarth commented on #271
@kinmanli You're correct, these tables differ. /actdev has 4 rows, Nicola's with full details, Peter's website but missing details, and two test data entries. w3act has 5 rows - one for grahamclark.co.uk, and one complete and one missing detail for both Nicola and Peter.

[2015-02-27 11:35] GilHoggarth commented on #271
@nicolabingham Can you test again please on w3act, just to check if your noted problem was/wasn't due to the java memory problem.

@kinmanli Would you like me to clean out the incorrect contact_person table entries?

[2015-02-27 11:38] GilHoggarth commented on #256
@kinmanli I think we need to resolve the duplicate entries before Nicola can test again - am I correct?
@nicolabingham No action here until we resolve the duplicates.

[2015-02-27 11:38] nicolabingham commented on #276
Tested on W3ACT - Target https://www.webarchive.org.uk/act/targets/7793. Subject metadata is performing as in tests on actdev yesterday.
Closing this issue.

[2015-02-27 11:38] #276 closed

[2015-02-27 11:40] kinmanli commented on #256
@GilHoggarth can you send us a snapshot of the nicola contact persons before you do? I want to see before I add an extra check to the 'findbyemail' code as it was case sensitive when doing a lookup.

[2015-02-27 11:50] GilHoggarth commented on #231
@kinmanli Following Nicola's above comment I've tested https://www.webarchive.org.uk/act/instances/listbytarget/?t=790 to be accessible by the admin user and by me (gil.hoggarth, just user!) I couldn't see the results as me

[2015-02-27 11:51] GilHoggarth commented on #191
@nicolabingham Can you test this again please on w3act.

[2015-02-27 12:06] kinmanli commented on #271
@GilHoggarth weird that it's only on prod. Yes please clean it out as I have a snapshot if it re-occurs again. I'm going to add some checks when search for a contact person by email.

[2015-02-27 12:07] kinmanli commented on #256
@GilHoggarth weird that it's only on prod. Yes please clean it out as I have a snapshot if it re-occurs again. I'm going to add some checks when search for a contact person by email.

[2015-02-27 12:58] nicolabingham commented on #191
Tested on W3ACT. Selecting child term automatically adds parent term on saving record. Tested on Target http://www.webarchive.org.uk/actdev/targets/16928

[2015-02-27 12:58] #191 closed

[2015-02-27 12:59] GilHoggarth commented on #271
@kinmanli The incomplete contact_person entries are older - is there any ID/key join from this table to others? I'm just wanting to ensure that deleting the older entries isn't going to break a join to other data.

[2015-02-27 13:05] kinmanli commented on #231
@GilHoggarth @nicolabingham my user with role 'viewer' can now view and search instances.

checked in

![screen shot 2015-02-27 at 13 00 24](https://cloud.githubusercontent.com/assets/1652105/6412835/bce2ba62-be80-11e4-860a-c359a6ca8ac6.png)
![screen shot 2015-02-27 at 12 58 54](https://cloud.githubusercontent.com/assets/1652105/6412836/bcf89aee-be80-11e4-8ee3-00b0c0e8fae1.png)

Also, I removed al

[2015-02-27 13:07] kinmanli commented on #271
@GilHoggarth please can you check in crawl_permission table where contact_person_id=?

[2015-02-27 13:08] GilHoggarth commented on #271
@kinmanli Doing that now and talking with Andy about this - seems a bit odd. (crawl_permissions table looks okay btw). Andy testing now...

[2015-02-27 13:19] kinmanli commented on #271
@GilHoggarth please can you check actdev table contact_person for my email = 'kinman.li@bl.uk'. I'm hoping there are multiples now?

[2015-02-27 13:21] GilHoggarth commented on #231
Note **To be tested after new w3act deployment**

[2015-02-27 13:25] GilHoggarth commented on #271
Yep, there are.

[2015-02-27 13:26] kinmanli commented on #271
@GilHoggarth it's in the license form

[2015-02-27 13:28] GilHoggarth commented on #271
@kinmanli Are you working on fixing it?

[2015-02-27 13:30] kinmanli commented on #271
@GilHoggarth yes, the licenseform looks up by 'name' instead of email. I don't know if there was a ticket for the validation of the licenseform?

[2015-02-27 13:32] GilHoggarth commented on #271
@peterwebster Are you aware if there's been a ticket for the validation of the licence form? Otherwise, @kinmanli I suggest you just add the detail to this ticket.

[2015-02-27 14:15] kinmanli commented on #271
@GilHoggarth fixed. When you are in the license form I've changed it so it looks up by email instead of name.

Please test in actdev when you are ready.

[2015-02-27 14:20] kinmanli commented on #271
@GilHoggarth this is related to https://github.com/ukwa/w3act/issues/256.

Also, as there are still duplicate email's in contact person's table in 'act'/prod. These need to be rectified as it will still throw that exception. Probably 'reassign' those crawl permissions to the contact person you want to keep?

[2015-02-27 14:20] kinmanli commented on #256
@GilHoggarth same as https://github.com/ukwa/w3act/issues/271

[2015-02-27 14:21] GilHoggarth commented on #271
Understood - I'll remove the contact_person duplicates and ensure crawl_permissions are correctly ID'd. Restarting /actdev now.

[2015-02-27 14:39] GilHoggarth commented on #271
Duplicate contact_person removed from /actdev. @nicolabingham Can you test this issue on **http://www.webarchive.org.uk/actdev** please.

[2015-02-27 14:39] GilHoggarth commented on #256
@nicolabingham And this issue please, also on **/actdev/**

[2015-02-27 15:08] nicolabingham commented on #271
In actdev tried to create a permission request with contact email nicola.bingham@bl.uk and got the notification "A contact person with email 'nicola.bingham@bl.uk' is already in the Contact Persons list...."
Clicked save and the permission was sent successfully. Record has been updated to Permission Pending. Completed licence form in email and had submission successful message. Received Thankyou e

[2015-02-27 15:27] GilHoggarth commented on #231
`https://www.webarchive.org.uk/act/instances/listbytarget?t=790` can now be viewed by a 'user' account, the admin account, but not by a not-logged-in visitor.
Running import script again to check new data still comes in...

[2015-02-27 15:38] nicolabingham commented on #271
Successfully sent permission request on W3ACT. Permission completed and Target record updated to Granted.

[2015-02-27 15:51] GilHoggarth commented on #271
Sounds like a closed issue to me, so closing. Please reopen if I'm wrong.

[2015-02-27 15:51] #271 closed

[2015-02-27 15:51] GilHoggarth commented on #256
@nicolabingham Can you test this issue as well please, on w3act.

[2015-02-27 15:55] nicolabingham commented on #256
actdev prevents me from sending out a licence request for a Target which already has Permission Granted. A notification appears 'there is already a licence request...' and the request licence button remains inactive

[2015-02-27 15:57] GilHoggarth commented on #256
What about on w3act? Would you describe this behaviour as a new discovery or is it related to the testing in this ticket?

[2015-02-27 16:03] nicolabingham commented on #256
I thought that this was correct behaviour as the licence has already been granted.

[2015-02-27 16:07] GilHoggarth commented on #256
Therefore closing ticket.

[2015-02-27 16:07] #256 closed

[2015-02-27 16:21] PsypherPunk opened #278 "Improve Instance-handling"
In the old ACT system Instances were handled slightly differently. In w3act an 'Instance' is any occurence of a seed in OpenWayback and created automatically.

Previously Instances were created by the job-handling script and less frequently—specifically, daily crawls will create 365 Instances a year for a Target which gets unwieldly very quickly; following discussion, we opted to only create one p

[2015-02-27 16:43] GilHoggarth commented on #231
Script run completed and new imports seen - closing ticket.

[2015-02-27 16:43] #231 closed

[2015-02-28 17:07] kinmanli commented on #266
Tested using:

curl -v -H "Content-Type: application/json" -X POST -d '{"body":[],"field_scope":"root","field_url":[{"url":"http:\/\/www.electionwatch.co.uk\/","attributes":[]}],"field_subject":{"uri":"http:\/\/webarchive.org.uk\/act\/taxonomy_term\/227","id":"227","resource":"taxonomy_term"},"field_depth":"capped","field_via_correspondence":false,"field_uk_postal_address":false,"field_uk_hosting"

[2015-03-01 18:44] kinmanli commented on #257
@nicolabingham please can you test to see if the "closed" role is showing up in the user admin section?

[2015-03-02 08:15] kinmanli commented on #266
@GilHoggarth checked in.

[2015-03-02 08:51] nicolabingham commented on #257
Yes, I can see the Closed role and can assign it to users.

[2015-03-02 10:13] GilHoggarth commented on #266
Deployed onto /actdev, Roger testing.

[2015-03-02 10:19] PsypherPunk commented on #266
Any documentation? Which fields are mandatory?

Fields like `field_nominating_organisation`, `field_subject`, etc. reference old-ACT URIs which I presume don't exist in the w3act...?

[2015-03-02 10:22] kinmanli commented on #266
@PsypherPunk I'll tidy it up a bit more. Give a me a couple of minutes.

[2015-03-02 10:37] kinmanli commented on #266
@PsypherPunk is this the complete input?

[code]

[2015-03-02 10:39] PsypherPunk commented on #266
Yep, that was taken from an actual (working) submission.

[2015-03-02 11:13] kinmanli commented on #266
@nicolabingham Do you know if "selector" is a mandatory field?

![2015-03-02 11-12-05_w3act](https://cloud.githubusercontent.com/assets/1652105/6439692/17454c60-c0cd-11e4-884d-b8200556894c.png)

[2015-03-02 11:15] nicolabingham commented on #266
@kinmanli yes, this should be mandatory.

[2015-03-02 11:30] kinmanli commented on #266
@PsypherPunk

Mandatory fields for Target in W3ACT
Title, URL(s), Selector.

[2015-03-02 11:35] kinmanli commented on #266
@GilHoggarth please redeploy to actdev. Working with the json above.

[2015-03-02 11:37] kinmanli commented on #266
@PsypherPunk

I tested it locally and used my actdev email and password:

curl -v -H "Content-Type: application/json" -X POST -d '{"title": "Your Thurrock","field_subject": {"resource": "taxonomy_term","uri": "http://webarchive.org.uk/act/taxonomy_term/192","id": "192"},"field_crawl_frequency": "monthly","field_nominating_organisation": {"resource": "node","uri": "http://www.webarchive.org.uk/act/

[2015-03-02 11:42] GilHoggarth commented on #266
Latest deployed onto /actdev

[2015-03-02 12:04] PsypherPunk commented on #266
Getting a `401` error in /actdev:

    curl -v -H "Content-Type: application/json" -X POST -d '{"title": "Your Thurrock","field_subject": {"resource": "taxonomy_term","uri": "http://webarchive.org.uk/act/taxonomy_term/192","id": "192"},"fiequency": "monthly","field_nominating_organisation": {"resource": "node","uri": "http://www.webarchive.org.uk/act/node/101","id": "101"},"field_url": [{"url": "h

[2015-03-02 12:09] kinmanli commented on #266
@PsypherPunk I think this ticket needs to include all of those

[2015-03-02 12:11] kinmanli commented on #266
@PsypherPunk I get the following as there is already one in there.

[code]

[2015-03-02 12:12] anjackson commented on #266
Yes, I'd more or less expect the JSON API for things like subject, categories, organisations etc. to look quite different to the old one, and just reference the new ID's of subjects etc. directly.

e.g. if field_subject is single-valued:

    "field_subject": "24",

...or if it's multi-valued:

    "field_subject": [ "24" ],

i.e. the REST client should be expected to know the IDs of the reference

[2015-03-02 12:44] PsypherPunk commented on #266
Yep, so to use the above:

    {
      "title": "Your Thurrock",
      "field_subject": ["24"],
      "field_crawl_frequency": "monthly",
      "field_nominating_organisation": "101",
      "field_url": ["http://yourthurrock.com"],
      "field_collection_categories": ["297"],
      "field_crawl_start_date": "1417255200"
    }

So, essentially flatten `field_subject`, `field_url` and `field_collec

[2015-03-02 12:53] kinmanli commented on #266
@PsypherPunk does it have to be those names ("field_subject", etc)?

This is because we were using those when importing from old ACT and already have objects for that.

i.e.
"field_subject": {"resource": "taxonomy_term","uri": "http://webarchive.org.uk/act/taxonomy_term/192","id": "192"}

[2015-03-02 12:56] GilHoggarth commented on #182
We’re down to the last issue on W3ACT milestone 1.0.0 development – and it’s been decided that that last issue will be shifted to milestone 1.0.1! So, we’re about to launch!!

Plan of action:
- Gil to block all Andy’s ACT update actions (so old /act doesn’t accept any new data) - DONE
- Gil to redirect http /act to https /act
- Andy to move last issue to milestone 1.0.1
- Kinman to move the ‘schem

[2015-03-02 12:59] GilHoggarth commented on #182
http > https /act DONE

[2015-03-02 13:02] GilHoggarth commented on #182
Last issue to milestone 1.0.1 DONE

[2015-03-02 13:34] kinmanli commented on #182
@GilHoggarth merged into master and up-to-date https://github.com/ukwa/w3act/commits/master

[2015-03-02 14:01] GilHoggarth commented on #182
w3act-1.0.0 master built and now in service; play dist .zip added to github as release w3act-1.0.0
W3ACT now in production!

[2015-03-02 14:01] #182 closed

[2015-03-02 14:25] PsypherPunk commented on #266
Doesn't have to be those, no: can change them to something else if it's easier...?

[2015-03-02 14:26] kinmanli commented on #266
@PsypherPunk does this look okay to you with the names? Just using it with corrects subjects and collections

[code]

[2015-03-02 14:29] PsypherPunk commented on #266
That looks good to me.

[2015-03-02 14:42] kinmanli commented on #266
@PsypherPunk what error code do you want it to produce when no subject, collection, etc is found based on the incoming ID?

[2015-03-02 14:49] PsypherPunk commented on #266
I think the only one that sounds right is `400`...?

[2015-03-02 15:39] kinmanli commented on #266
@GilHoggarth please can you redeploy to actdev? Thanks

[2015-03-02 15:49] GilHoggarth commented on #266
@kinmanli  Done.

[2015-03-02 16:06] anjackson commented on #268
Seems the proxy handler was munging binary files and was not carrying through query parameters. Should all work fine now, I think.

[2015-03-02 16:14] GilHoggarth opened #279 "Remove unnecessary accounts and details from code and documentation"
In the code there's still some users defined (such as user@bl.uk), database admin defined, and AIT defined. Would be good clear these out of both the code and the documentation.

[2015-03-02 16:23] GilHoggarth opened #280 "Remove ability to import data from Drupal /act"
Just to ensure we never accidently import data from the old Drupal /act service, the code that does this should be commented out.

Consequently, in the future all data imports will have to be done via the database export/import services.

[2015-03-02 16:26] kinmanli commented on #280
@GilHoggarth trash the users in accounts.yml, the import code and the flag?

[2015-03-02 16:27] anjackson commented on #280
I was wondering about just commenting out the Drupal import part. The accounts.yml is useful when setting up a test system for development.

[2015-03-02 16:28] GilHoggarth commented on #280
How about: remove the current users in accounts.yml but keep the code that reads them; comment out the data import code; and keep the flag?

[2015-03-02 16:28] anjackson commented on #279
Related to #280.

Certainly we don't want any DB details or other 'real' credentials in there.

[2015-03-02 16:30] anjackson commented on #280
See also point in #279 about leaving a few accounts there for spinning up a test server.

[2015-03-02 16:31] kinmanli commented on #280
@GilHoggarth
https://github.com/ukwa/w3act/commit/8a06db9bb0714a4286f3a7ead2dd40ae59656902

[2015-03-02 16:34] anjackson commented on #280
Is that code still capable of importing from Drupal? That's what we want to disable. The accounts.yml is actually useful for testing.

[2015-03-02 16:37] PsypherPunk commented on #266
I managed to break it (`500` error; `NullPointerException: null content`) with the following:

    {
      "field_collection_cats": [
        "188"
      ],
      "field_crawl_frequency": "daily",
      "field_urls": [
        "http://www.independent.co.uk/news/uk/politics/"
      ],
      "field_nominating_org": "1",
      "title": "Independent, The: UK Politics"
    }

[2015-03-02 16:41] kinmanli commented on #280
@anjackson this bit does the whole data import and is now commented out.

https://github.com/ukwa/w3act/commit/05695dc6db71cb7c6228fa029dee772118c363e2

[2015-03-02 20:43] kinmanli commented on #280
@GilHoggarth Stop importing from drupal. Removed flag from application/prod.conf.
Separated the accounts.yml import

[2015-03-02 20:59] kinmanli commented on #266
Added additional validation for title, urls etc.

Please redeploy @GilHoggarth, please test @PsypherPunk

[2015-03-02 21:02] kinmanli commented on #279
@GilHoggarth fixed - stopped importing from drupal. Removed flag from application/prod.conf.
Separated the accounts.yml import. Fixed the same time as https://github.com/ukwa/w3act/issues/280

[2015-03-03 09:56] kinmanli commented on #275
The link (mentioned in OP) http://www.webarchive.org.uk/actdev/wayback/*/http://www.active-east.co.uk  seems to be working?

![2015-03-03 09-53-44_internet archive wayback machine](https://cloud.githubusercontent.com/assets/1652105/6459967/40af3e4e-c18b-11e4-82b5-115ed3628458.png)

[2015-03-03 11:04] GilHoggarth commented on #279
Removed account and organisation details from conf/ files.

[2015-03-03 11:40] GilHoggarth commented on #280
With Kinman's import code commented out, and with the configuration settings set to "don't import", re-ran the w3act deployment script on /actdev that should import data - it did not import any data.

[2015-03-03 11:41] GilHoggarth commented on #280
Ran deployment script (that doesn't try to import data) with the "use.accounts" field in application.conf set to true - a new account (testing@bl.uk) was added.

[2015-03-03 11:42] #280 closed

[2015-03-03 12:00] anjackson commented on #275
Yes, I think I've fixed this. There were two outstanding problems:

* Binary files were getting treated as UTF-8. This, oddly, seems to have lead to GIFs that IE could read but others could not!
* URL query parameters were not being proxied through, which cause the query failures that @PsypherPunk saw.

I believe these have been fixed now.

[2015-03-03 12:47] GilHoggarth commented on #279
Removed details from documentation, and added deployment insertion. Tested on /actdev, works.

Now waiting for testing on production w3act when all 1.0.1 milestone tickets verified on /actdev.

[2015-03-03 12:48] PsypherPunk commented on #266
Tested using existing data; entered the `field_collection_cats` as above which correctly adds it to the Collection _News and Commentary_ but not the parent Collection _UK General Election 2015_.

Otherwise looks good. Managed to catch a duplicate URL too.

[2015-03-03 12:57] GilHoggarth commented on #275
Tested on /actdev, works for me. Waiting to be tested on next w3act deployment.

[2015-03-03 13:03] GilHoggarth commented on #268
Works on /actdev - waiting for testing on next w3act deployment.

[2015-03-03 13:05] GilHoggarth opened #281 "Logging into /actdev using Chrome results in blank screen"
Using the chrome web browser, when I log into /actdev I see a blank screen (using the admin account for this test.)

[2015-03-03 13:07] GilHoggarth commented on #277
On /actdev, selecting the IA logo now shows the expected wayback "home page".
Waiting for testing on next w3act deployment.

[2015-03-03 13:19] kinmanli commented on #281
@GilHoggarth Fixed and checked in. When logging in it checks if "url" is blank or null.

[2015-03-03 13:31] GilHoggarth opened #282 "Internal server error - occasionally occuring for w3act target exports"
Spotted the following in the w3act log - Roger confirmed this is a bug that need addressing asap.
[code]

[2015-03-03 13:33] GilHoggarth commented on #281
Tested on /actdev and seen to work correctly. Waiting for next w3act deployment for official test.

[2015-03-03 13:34] kinmanli commented on #282
@PsypherPunk does this also happen on actdev?

[2015-03-03 13:39] GilHoggarth commented on #282
@kinmanli Haven't seen this in the /actdev logs. I think it's triggered by an export request, which I think is only run on w3act - true @PsypherPunk ?

[2015-03-03 13:41] PsypherPunk commented on #282
Yes, I haven't run exports against /actdev. It doesn't happen regularly though; it didn't occur yesterday, it happened several times in the small hours this morning and again a few minutes ago.

[2015-03-03 13:43] kinmanli commented on #282
@PsypherPunk just want to see if it's a config or code issue. So would be good to make it fail on actdev

[2015-03-03 13:50] kinmanli commented on #282
@PsypherPunk what is the criteria for the Targets you want exporting? It seems to be checking the geoip DB and if it's a UK, Scot, london etc

[2015-03-03 13:55] PsypherPunk commented on #282
Yeah, it shouldn't be checking at that point. As long as the "no-LD-criteria-met" value is _false_ (and we can depend on that value being correct) then that should suffice.

[2015-03-03 14:05] kinmanli commented on #282
@GilHoggarth checked in. Hopefully removing all that intense geo ip checking etc and just using the "noLDCriteriaMet" fixes it. Will need to see if the data is correct

[2015-03-03 14:13] anjackson commented on #282
Can I assume that noLDCriteriaMet is always updated when the Scope is checked? e.g. on edit or import?

[2015-03-03 14:24] GilHoggarth commented on #282
@PsypherPunk Code deployed onto /actdev

[2015-03-03 14:28] kinmanli commented on #282
@anjackson, I will need to search for the ticket(s) regarding the noLDCriteriaMet. Last work was done was with validation.

For the caching are you talking about the "LookupEntry" table?

[2015-03-03 14:34] anjackson commented on #282
No idea about how it might be implemented. I'd just assumed (perhaps naively) that the expensive checks would only be done 'on demand', but the results of those tests might be stored somewhere handy in the database so the last-known value could be checked. Maybe I'm wrong about all this?

[2015-03-03 14:41] kinmanli commented on #282
Yes the ukhosting, ukregistration and top level domain checks are done on save.

[2015-03-03 16:51] kinmanli commented on #282
@GilHoggarth fixed with an existing/same (tried & tested) method we used for the 'NPLD scope' tab.
Please redeploy to actdev or wait until the 5pm one.

@PsypherPunk please test when redeployed.

Thanks

[2015-03-03 16:58] PsypherPunk opened #283 "Nominations Failing"
We're testing the nominations hook at `/actdev/nominations/load/json`. We're POSTing data and although we're getting positive responses (see below) the Targets aren't searchable.

    {"status":"OK","message":"Nomination Nomination Test Name 00"}
    {"status":"OK","message":"Nomination Nomination Test Name 01"}
    {"status":"OK","message":"Nomination Nomination Test Name 02"}
    {"status":"OK",

[2015-03-03 17:04] GilHoggarth commented on #282
Automated 5pm now scheduled at midnight (so not to interrupt like it did yesterday). Running redeploy now.

[2015-03-03 17:33] GilHoggarth commented on #282
Upped the ulimit file handles to 409600 and user processes to 204800.

[2015-03-03 17:34] GilHoggarth commented on #282
Roger to test.

[2015-03-04 10:11] anjackson commented on #283
Note that Nominations do not automatically create Targets. There should be a list of Nominations in W3ACT, as candidates for becoming Targets, and your POSTs should be adding to that list.

[2015-03-04 10:13] PsypherPunk commented on #283
Ah, okay; I see that now (/actdev/nominations/list). In which case it's working.

[2015-03-04 10:13] #283 closed

[2015-03-04 10:49] anjackson opened #284 "Add .wales and .cymru to the TLD whitelist"
As well as .uk, .scot and .london, .wales and .cymru should also be whitelisted TLDs. Please make it so.

[2015-03-04 11:55] PsypherPunk commented on #266
Parent Collections being picked up correctly.

I've put through a submission like this:

    {
      "field_urls": [
        "http://www.dailymail.co.uk/news/article-2943512/Labour-s-500k-help-tax-avoidance-firm-Party-urged-stop-taking-advice-company-accused-controversial-schemes.html"
      ],
      "title": "Daily Mail: Labour's 500k help from 'tax avoidance' firm",
      "field_nominating_org":

[2015-03-04 12:12] kinmanli commented on #266
@PsypherPunk can you post the complete json for a Target so I can test which ones are optional?

[2015-03-04 12:40] kinmanli commented on #284
updated and checked in.

[2015-03-04 12:45] PsypherPunk commented on #266
To re-use the above, I think the following contains all the fields we might want to include:

    {
        "field_urls": [
            "http://www.dailymail.co.uk/news/article-2943512/Labour-s-500k-help-tax-avoidance-firm-Party-urged-stop-taking-advice-company-accused-controversial-schemes.html"
        ],
        "title": "Daily Mail: Labour's 500k help from 'tax avoidance' firm",
        "field

[2015-03-04 13:02] kinmanli commented on #266
@PsypherPunk 'selector' is stored as 'author'.

Will you be passing in the 'selector' ID?

[2015-03-04 13:04] PsypherPunk commented on #266
Yes, we'll pass through the ID.

[2015-03-04 13:05] GilHoggarth commented on #284
@kinmanli How can I test this works correctly?

[2015-03-04 13:12] kinmanli commented on #266
Hi @GilHoggarth, please redeploy

[2015-03-04 13:25] GilHoggarth commented on #266
@kinmanli Redeployed.

[2015-03-04 13:29] PsypherPunk commented on #266
If I want to set the Selector, what should the field key be? `selector` or `field_selector`?

[2015-03-04 13:31] kinmanli commented on #266
@PsypherPunk "selector":"99"

[2015-03-04 13:31] GilHoggarth commented on #284
Checked on /actdev and works well. Waiting for w3act deployment for final test.

[2015-03-04 16:42] PsypherPunk commented on #266
Submitted further samples; created successfully with start/end dates passed through.

[2015-03-04 16:57] PsypherPunk commented on #282
Had this running on a loop for an hour without issue:

    #!/usr/bin/env python

    import json
    import requests

    response = requests.post("http://www.webarchive.org.uk/actdev/login", data={"email": "XXX", "password": "XXX"})
    cookie = response.history[0].headers["set-cookie"]
    headers = {
        "Cookie": cookie
    }

    frequencies = ["daily", "weekly", "monthly", "quarterly",

[2015-03-05 09:36] PsypherPunk opened #285 "Exclude 'nevercrawl' from All Exports"
It just occured to me that all Targets marked with a frequency of `nevercrawl` should be excluded from the `/all` export (for both `/ld` and /`by`).

[2015-03-05 11:02] GilHoggarth commented on #285
@kinmanli Was just going to assign this to you but you're already on it! Any suggestion of how long it might take to implement?

[2015-03-05 11:19] kinmanli commented on #285
@GilHoggarth give me a few minutes plus testing

[2015-03-05 11:50] kinmanli commented on #285
@GilHoggarth checked in

[2015-03-05 11:51] GilHoggarth commented on #285
Deploying to /actdev for testing.

[2015-03-05 12:00] PsypherPunk commented on #285
Tested using the below:

    import json
    import requests

    response = requests.post("http://www.webarchive.org.uk/actdev/login", data={"email": "XXX", "password": "XXX"})
    cookie = response.history[0].headers["set-cookie"]
    headers = {
        "Cookie": cookie
    }

    all = requests.get("http://www.webarchive.org.uk/actdev/targets/export/ld/all", headers=headers)
    aj = json.load

[2015-03-05 13:01] GilHoggarth commented on #284
Tested and .wales and .cymru are automatically recognised as whitelisted TLDs - DONE.
However, trying to delete my test record (http://suffix-test.cymru) after the test didn't result in the target being removed - so raising this as a bug.

[2015-03-05 13:01] #284 closed

[2015-03-05 13:03] GilHoggarth opened #286 "Deleting a target doesn't remove it"
In testing #284 I tried to delete my test target after this issue test, but it isn't removed - I can still find the record via the Browse Targets UI.

[2015-03-05 13:07] GilHoggarth commented on #281
Tested on v1.0.1 w3act, now works fine in Chrome.

[2015-03-05 13:07] #281 closed

[2015-03-05 13:12] PsypherPunk commented on #285
Tested on w3act; all `nevercrawl` URLs missing from `all`.

[2015-03-05 13:12] #285 closed

[2015-03-05 13:12] GilHoggarth commented on #279
As a "documentary" issue, not testing this on v1.0.1 release.

[2015-03-05 13:12] #279 closed

[2015-03-05 13:16] GilHoggarth commented on #277
w3act wayback still uses IA logo but at least it now links to the expected wayback query page.

[2015-03-05 13:27] GilHoggarth commented on #275
Now works in Chrome but not in BL IE (9.0.8112.16421 64-bit)

[2015-03-05 13:33] PsypherPunk opened #287 "'Instances' Pane on Mobile"
When viewed on a mobile device, the new Instances pane doesn't shift/resize as it probably should:

![mobie](https://cloud.githubusercontent.com/assets/722120/6505640/0b082bc2-c33c-11e4-8f5d-5fffde6f3f8d.png)

[2015-03-05 13:41] GilHoggarth commented on #275
Having cleared my BL IE browser cookies et al (everything in Tools > Delete Browsing History...), I can now use the site via IE.

Same UI homepage to QA wayback instance display walkthrough performed in Chrome, looks fine.

[2015-03-05 13:41] #275 closed

[2015-03-05 13:46] GilHoggarth commented on #268
Tested with https://www.webarchive.org.uk/act/wayback/*/http://apracticeforeverydaylife.com/ and https://www.webarchive.org.uk/act/wayback/20150101011008/http://apracticeforeverydaylife.com/- can view when logged in, can't view when not logged in.

@kinmanli Can you repeat this test as you're outside of the BL network please.

[2015-03-05 13:47] GilHoggarth commented on #286
Note, added test target is http://suffix-test.cymru

[2015-03-05 13:52] anjackson commented on #287
Should be fine now. Can await 1.1.0.

[2015-03-05 13:56] kinmanli commented on #268
@GilHoggarth works outside of BL network

![screen shot 2015-03-05 at 13 54 42](https://cloud.githubusercontent.com/assets/1652105/6505992/350c222c-c33f-11e4-942b-6f3c19919c98.png)

![screen shot 2015-03-05 at 13 55 22](https://cloud.githubusercontent.com/assets/1652105/6506017/671981d8-c33f-11e4-8a96-8e9113c04174.png)

[2015-03-05 13:59] anjackson commented on #268
@kinmanli can you edit your post to remove the screenshot please? We're not allowed to publish screenshots of this material.

[2015-03-05 14:03] kinmanli commented on #268
@anjackson removed

[2015-03-05 14:09] anjackson commented on #268
@kinmanli thanks.

[2015-03-05 14:09] nicolabingham commented on #286
I also experienced this same issue c.20 mins ago when I tried to delete https://www.webarchive.org.uk/act/targets/14877 from W3ACT. The target is still visible.

[2015-03-05 14:09] #268 closed

[2015-03-05 14:12] GilHoggarth commented on #286
Comment from Nicola to add, this did work in a past test, though I don't think we know exactly when.

[2015-03-05 14:19] anjackson opened #288 "License form does not show the URL"
When going to the license form, the URL is not shown properly. It appears to repeat the website title rather than show the URL.

![license form error](https://cloud.githubusercontent.com/assets/87843/6506374/9627baf0-c342-11e4-9f67-4f64f905bad3.png)

[2015-03-05 15:03] kinmanli commented on #286
@GilHoggarth
Originally it was showing this error.

[code]

So I refactored and moved the delete function. Delete works and also deletes it's related reference objects/entries. Instances, Crawl Permissions etc.

[2015-03-05 15:29] PsypherPunk opened #289 "Implement 'Update' API"
Similar to #266, would it be possible to implement an _update_ API?

That is, a HTTP PUT containing a Target's `id` field plus any field values which are to be updated.

e.g. to update the `Postal Address URL`, we'd PUT:

    {
        "id": "74",
        "field_uk_postal_address_url": "http://www.bbc.co.uk/"
    }

We also need this to update collections.

Other API changes:
* Collections key sho

[2015-03-05 15:32] anjackson commented on #289
By convention, [PUT is usually used for updates to known resources](http://tools.ietf.org/html/rfc2616#section-9.6), not POST. Good idea though, and we'll need this for Instances at some point too.

[2015-03-05 15:33] PsypherPunk commented on #289
Edited :stuck_out_tongue_winking_eye:

[2015-03-05 15:36] anjackson commented on #289
Response edited also 😇

[2015-03-05 15:48] GilHoggarth commented on #289
Is that the Pillsbury Doughboy, now in heaven? http://www.homeschooloasis.com/storehs_obituary_of_pillsbury.htm

[2015-03-05 16:17] GilHoggarth commented on #266
@PsypherPunk As you were submitting data into production w3act via this mechanism, can this issue now be closed as tested and working?

[2015-03-05 16:41] GilHoggarth commented on #282
Ran for a further 30 minutes on w3act - no issues. This really is an instance of a w3act service performance concern and as such should be considered in an on-going basis. So closing.

[2015-03-05 16:41] #282 closed

[2015-03-05 23:29] kinmanli commented on #288
@GilHoggarth fixed and checked in.

[2015-03-06 09:29] kinmanli commented on #287
references #287

[2015-03-06 09:30] kinmanli commented on #287
references #255

[2015-03-06 10:16] kinmanli commented on #248
@peterwebster @GilHoggarth

Crawl Permission initially "Pending" in both crawl permission view and target view's license tab

![screen shot 2015-03-06 at 10 10 50](https://cloud.githubusercontent.com/assets/1652105/6523611/4399d384-c3e9-11e4-93ef-5f581579dc7c.png)

![screen shot 2015-03-06 at 10 11 09](https://cloud.githubusercontent.com/assets/1652105/6523608/43923f0c-c3e9-11e4-8408-b40beb13c942.

[2015-03-06 10:18] GilHoggarth commented on #286
@anjackson Sounds like the delete function removes much information - is this all appropriate?

[2015-03-06 10:19] GilHoggarth commented on #277
@PsypherPunk to amend wayback logo.

[2015-03-06 10:34] GilHoggarth commented on #286
@kinmanli Which account types can perform the delete?

[2015-03-06 10:37] nicolabingham commented on #286
@GilHoggarth @kinmanli should only be archivist and sys admin who can delete targets

[2015-03-06 10:39] kinmanli commented on #286
@GilHoggarth @nicolabingham from what I see it is sys admin, archivist and the owner/selector of the target record

[2015-03-06 10:41] nicolabingham commented on #286
@GilHoggarth @kinmanli Yes, it should be ok to allow the owner/selector of the target record to delete targets as well as sys admin and archivist

[2015-03-06 11:16] GilHoggarth commented on #286
@nicolabingham Does the delete action of removing lots of stuff ("reference objects/entries. Instances, Crawl Permissions etc" as Kinman mentioned above) sound appropriate?

[2015-03-06 11:25] nicolabingham commented on #286
@GilHoggarth @kinmanli the main reason for deleting a target would be that it had been entered in error, e.g. a duplicate, in which case it would be appropriate to delete "lots of stuff" as specified. However deleting instances and crawl permissions sounds a bit risky. We certainly would not want to delete a crawl permission. Perhaps we should restrict this ability to just Sys Admin and Archivist?

[2015-03-06 11:26] GilHoggarth commented on #286
@anjackson Your thoughts on Nicola's comment?

[2015-03-06 11:36] kinmanli commented on #286
@GilHoggarth @nicolabingham a Target has many things related to it, such as licenses, crawl permissions etc. If the target gets deleted and if some dependencies (such as crawl permissions) are left floating around then there is nothing related to it.

[2015-03-06 12:03] nicolabingham commented on #260
@PsypherPunk @kinmanli I made some notes early on about the Heritrix crawl data we would need at instance level for QA. The requirement was basically for the reports to be similar to those we had in WCT. I'm not sure if they got brought in as requirements anywhere - I can't find them by searching on Github. Do you want the details in this ticket?

[2015-03-06 12:10] PsypherPunk commented on #277
Deployed to `/actdev`. As per Trac #2480, I've made it look _"like UKWA"_. Can someone verify that this is what we want?

[2015-03-06 12:18] anjackson commented on #286
One alternative would be to not-really-delete Targets, but put them into a 'Closed' state instead and hide them. But that brings a lot of additional complications.

Perhaps a better solution is to check if there is a license associated with the Target, and refuse to delete a Target that still has a license. Similarly, it should not be possible to delete a Target that is in a Collection.

[2015-03-06 12:21] anjackson commented on #277
Pretty much, but I think we should override the banner with something that says "Web Archive QA Wayback - please do not download or distribute content from here!" or something similar. It looks a bit too much like the real thing.

[2015-03-06 12:39] PsypherPunk commented on #260
@nicolabingham, I think that would be useful, yes. Thanks.

[2015-03-06 12:46] PsypherPunk commented on #277
I sense the need for a `<blink/>` tag...

[2015-03-06 13:07] peterwebster commented on #197
As we've now gone into production, closing this ticket, as anything missed here will now need a new ticket.

[2015-03-06 13:07] #197 closed

[2015-03-06 13:08] peterwebster commented on #186
Now closing this, as now in production. Any wrinkles found from now on will need new tickets.

[2015-03-06 13:08] #186 closed

[2015-03-06 13:13] GilHoggarth commented on #257
Ditto - tested on /actdev: could log into user account; changed my user account to 'closed' (as still 'user'); couldn't log in; re-enabled account (removed 'closed'); could log in again.

[2015-03-06 13:14] GilHoggarth commented on #286
@kinmanli Assigned to you so you're aware Andy suggested a further check for this issue.

[2015-03-06 13:15] peterwebster commented on #225
As the remaining point on this ticket is now covered at #274 , closing this ticket.

[2015-03-06 13:15] #225 closed

[2015-03-06 13:18] peterwebster commented on #274
I just closed #225 which was substantially the same issue as this.

As this now has a milestone, let's confirm that a user should only have one role. @anjackson

Assigning to @kinmanli

[2015-03-06 13:21] peterwebster commented on #270
Pinging to @nicolabingham for comment, and assigning to @anjackson for assignment of milestone.

[2015-03-06 13:43] nicolabingham commented on #270
@peterwebster @anjackson yes, it is necessary to search for Targets without a license. Would it be acceptable to use 'Targets without a license' as the filter? If we use this we can probably keep 'None' (no filter applied).

[2015-03-06 13:45] anjackson opened #290 "Collections page does not show Published status"
The Collection view does not show the 'Published' status, e.g. https://www.webarchive.org.uk/act/collections/22

It should.

[2015-03-06 13:47] peterwebster commented on #240
@kinmanli  Handing over to @nicolabingham to sign off , but I think that whenever another test is already passed, automated or manual, the error message should be:

""One of the checks for NPLD permission has been passed.Please unselect the 'No LD Criteria Met' field and save again."

(at the minute it still refers to the *automated* tests, which isn't quite right.)

[2015-03-06 13:51] kinmanli commented on #290
@anjackson I see a 'yes'. Is this incorrect?

![screen shot 2015-03-06 at 13 49 57](https://cloud.githubusercontent.com/assets/1652105/6526257/c438da76-c407-11e4-89f5-78c0bb273e74.png)

[2015-03-06 13:54] anjackson commented on #290
Ah, I guess this is a privilege thing? I can't see it.

[2015-03-06 13:56] kinmanli commented on #290
@anjackson yes it only shows as sys admin and archivist

[2015-03-06 13:57] kinmanli commented on #240
@peterwebster please post an example Target. Cheers

[2015-03-06 13:59] anjackson commented on #290
Ah, this should only be editable by them, but visible to all.

[2015-03-06 14:07] peterwebster opened #291 "Review documentation relating to creation of instance records"
[As raised by @PsypherPunk at #255 but transplanted to here for clarity, there is a need to review and revise the wiki documentation on this.]

Apropos, do we have any documentation on how to create an Instance? The wiki says that:

"At the end of a successful crawl, the crawl system will attempt to inform w3act that there is a new instance of a given target available.

...but it doesn't say how.

[2015-03-06 14:10] peterwebster commented on #255
This now seems fine to me, although the pane has subsequently to page top right as well, possibly in a ticket I missed. Having transplanted the outstanding matter to #291 , closing this ticket now.  @anjackson FYI

[2015-03-06 14:10] #255 closed

[2015-03-06 14:12] kinmanli commented on #290
@anjackson @GilHoggarth should be viewable to all on next redeploy

[2015-03-06 14:16] peterwebster commented on #250
Assigning to @anjackson for assigning in due course.

[2015-03-06 14:20] peterwebster commented on #213
@anjackson I think that these malformed URLs need fixed directly in the production version of W3ACT. I suppose @GilHoggarth might need to extract this CSV file and pass to @nicolabingham to begin weeding ?

[2015-03-06 14:21] peterwebster commented on #213
Assigning to @anjackson for addition to a milestone - I imagine 1.1.0 ?

[2015-03-06 14:23] PsypherPunk commented on #213
Apologies, I sent @nicolabingham a list of Targets (13521, 16046, 16164, 16754) with malformed URLs earlier (didn't realise there was a ticket).

Acquired using the `/all` export and `django.core.validators.URLValidator`.

[2015-03-06 14:31] nicolabingham commented on #213
The targets listed have all been edited so that the URLs are correct.

[2015-03-06 14:33] peterwebster commented on #213
So, I guess this can be closed :-)

[2015-03-06 14:33] #213 closed

[2015-03-06 14:35] peterwebster commented on #237
Assigning this to @nicolabingham to take forward....

[2015-03-06 14:44] peterwebster commented on #248
@GilHoggarth May I suggest that @nicolabingham tests this one out (next week, once the change has been deployed to /actdev) ?

To summarise:  the value of the Open UKWA Licence Request in the target record should always match the Status field in a crawl permission for that target.

Also, could @kinmanli confirm that the field cannot be edited from the target record, only in the crawl permission ?

[2015-03-06 14:49] anjackson commented on #274
Yes - users should only have one role.

[2015-03-06 14:50] kinmanli commented on #248
@peterwebster if you're talking about the open ukwa license field that has always been editable by sys admins and archivsts

[2015-03-06 14:51] peterwebster opened #292 "Additional link in warning message for duplicate seed URL for new target record"
When a user attempts to save a new target when one or more URLs is already associated with an existing target, it throws this message. It could also provide a link to that other target record.

![image](https://cloud.githubusercontent.com/assets/5520710/6527083/a5495764-c40f-11e4-8a54-020f0e7b476a.png)

cc @anjackson for information. Transplanted from #246

[2015-03-06 14:51] anjackson commented on #250
Proposal is to use URL + Date Range, i.e. you are allowed to have two Targets that refer to the same URL as long as they have non-overlapping date ranges. The link between the two would be implied rather than explicit.

[2015-03-06 14:51] peterwebster commented on #246
Remaining enhancement transferred to new ticket #292 . Closing this ticket now.

[2015-03-06 14:51] #246 closed

[2015-03-06 14:53] anjackson commented on #291
Generally, the use and population of Instances needs to be reviewed and decided.

[2015-03-06 15:00] peterwebster commented on #247
Thanks @kinmanli this looks great to me. Over to @nicolabingham to check and close

[2015-03-06 15:05] peterwebster commented on #212
@anjackson I'm happy that the issue in this ticket is solved, but not sure what the significance is of @kinmanli 's last comment. This was about malformed URLs. What was the problem @kinmanli ?

[2015-03-06 15:12] nicolabingham commented on #247
Tested this issue on target https://www.webarchive.org.uk/act/targets/4031. I am unable to change the license to 'Open UKWA Licence (2014-)' and get the error message above.

[2015-03-06 15:12] #247 closed

[2015-03-06 15:19] nicolabingham commented on #240
Tested on target https://www.webarchive.org.uk/act/targets/17477, which meets the .uk domain name criteria. I changed the NPLD criteria to 'NO LD criteria' met and got the notification message ".....please unselect....". Seems to be working ok.

[2015-03-06 15:43] GilHoggarth commented on #290
Note, ready to test in next deployment.

[2015-03-06 15:43] GilHoggarth commented on #288
Note, ready to test in next deployment.

[2015-03-06 15:45] GilHoggarth commented on #248
@nicolabingham Ready to test in next deployment (which is midnight each night for /actdev)

[2015-03-06 15:47] PsypherPunk commented on #277
Banner now reads _"Legal Deposit QA OpenWayback; please do not download or distribute content from here."_

Calendar display now shows _"Legal Deposit QA OpenWayback"_.

[2015-03-06 15:49] peterwebster commented on #262
Hi @nicolabingham : could we find some time around the training next week to have a look at this? It was to fulfil one of Rav's reporting requirements, but I'm not sure that it does exactly what we want. It's visible on /actdev, but not in the production version.

[2015-03-06 15:50] nicolabingham commented on #260
If it is possible to present summary information at instance level, the key elements would be:
Seed URL
Date and time crawl was scheduled.
Date and time crawl was actually started.
Elapsed time of crawl (in miliseconds)
Content downloaded in bytes
Number of URLs downloaded.
Number of URLs failed.

We also need the heritrix crawl logs as in WCT detailing all the requests made and HTTP response code

[2015-03-06 15:51] nicolabingham commented on #248
@GilHoggarth just to clarify - this is not ready to test now, but will be after midnight?

[2015-03-06 15:52] GilHoggarth commented on #248
Yep :) So a task for Monday!

[2015-03-06 15:53] nicolabingham commented on #262
@peterwebster yes of course. I will look into it beforehand and catch up with you next week.

[2015-03-06 15:54] nicolabingham commented on #248
Ok, reluctantly I'll leave it till then...

[2015-03-06 15:54] kinmanli commented on #212
@peterwebster @GilHoggarth there was another ticket that was similar to this where I changed it to use regex. Going to test it a bit more

[2015-03-06 15:56] peterwebster commented on #201
So, as things have developed, I think this is now no longer a real use case.

If a licence request is refused, Archivist marks the crawl permission as refused. Should the site owner now change their mind, the Archivist no longer needs to do anything to the target record. They simply begin the process again, creating a new crawl permission, leaving the old one set to refused. So, the sequence of ac

[2015-03-06 16:01] peterwebster commented on #173
Hi @nicolabingham  : another very marginal use case that Rav found some time ago. I now think that the validation at the target record doesn't allow two crawl permissions to be active simultaneously - you can't send out a second email while the first is Pending or Queued or Granted.

So, feel free to close this one if you're happy.

[2015-03-06 16:08] peterwebster commented on #248
@nicolabingham @kinmanli Nicola's call, but I'm suggesting that no-one can edit that field directly in the target record, but should have to do so in the crawl permission itself. If there is more than one crawl permission for the target, then it will cause problems of attribution if the change is made in the target record.

[2015-03-06 16:11] peterwebster commented on #260
For info, they made it into the requirements docs on the ACT page wiki (v2 0), but were dependent on Monitrix, and so never made it into development. We didn't use Github for the initial requirements, it was more reactive. @nicolabingham

[2015-03-06 16:12] peterwebster commented on #240
@nicolabingham try when using Postal Address...

[2015-03-06 16:15] nicolabingham commented on #201
@peterwebster Agree that the archivist will send out a new crawl permission negating the sequence above. Closing this ticket.

[2015-03-06 16:15] #201 closed

[2015-03-06 16:16] nicolabingham commented on #260
@peterwebster Great, thanks for the info

[2015-03-06 16:17] nicolabingham commented on #173
@peterwebster Happy to close this

[2015-03-06 16:22] nicolabingham commented on #240
@peterwebster tested on the Guardian.com (postal address) Target https://www.webarchive.org.uk/act/targets/16608#metadata. I get the error message "....please unselect ..." so this appears to be working correctly

[2015-03-08 20:25] kinmanli commented on #274
Now using radio buttons and only allowed to select a single role.

![screen shot 2015-03-06 at 23 36 03](https://cloud.githubusercontent.com/assets/1652105/6538399/96509714-c459-11e4-9856-22c0756574a2.png)

[2015-03-09 09:56] kinmanli commented on #286
@anjackson do we include "higher level" licenses in this check?

[2015-03-09 10:45] PsypherPunk opened #293 "'Archive This Now' Messages Aren't Persistent"
The `Archive This Now` button addressed in #120 doesn't appear to create persistent messages. Both the creation of the queue and each subsequent message need to be marked as `durable` in order to survive a restart.

We're creating the queue correction (the second parameter specifies `durable`):

    //queueDeclare(queue, durable, exclusive, autoDelete, arguments)
    channel.queueDeclare(queueName

[2015-03-09 13:16] kinmanli commented on #292
new message

![2015-03-09 13-00-55_w3act](https://cloud.githubusercontent.com/assets/1652105/6555486/77ce53f6-c65e-11e4-97de-9776d65f3048.png)

[2015-03-09 13:40] anjackson commented on #195
I think we can call this done. We can open new tickets for any future changes. (Obviously feel free to re-open if I've missed something).

[2015-03-09 13:40] #195 closed

[2015-03-09 14:53] anjackson opened #294 "Expose 'Add Organisation' feature on the Organisations page"
The ability to add Organisations (http://www.webarchive.org.uk/actdev/organisations/new) should be added as a link/button on the Organisations page, for those users who can access it.

[2015-03-09 15:01] PsypherPunk commented on #266
In addition to the above, we'll also need to pass `field_uk_postal_address_url` through.

In fact, can we add a validation step? If `field_uk_postal_address` is set to `true`, `field_uk_postal_address_url` _must_ be passed through too?

[2015-03-09 15:07] anjackson commented on #266
Can you add this as a new ticket for 1.1.0 and reference back to this one? It'll help keep the history clear I think?

[2015-03-09 15:08] anjackson commented on #286
Yes.

[2015-03-09 15:09] kinmanli commented on #294
Only sys admin users can add new organisations. Steps are:

Search for an organisation. If one isn't found then the 'Add' button should appear.

[2015-03-09 15:13] anjackson commented on #294
Should this already work? It didn't seem to work for me. Perhaps I'm not a sys-admin, but if not, I should not have been able to get to the form and use it, which I could.

[2015-03-09 15:15] kinmanli commented on #294
Yes, I've changed it so non-sys admins cannot save organisations.

[2015-03-09 15:16] #266 closed

[2015-03-09 15:17] PsypherPunk opened #295 "Bulk Import: field_uk_postal_address_url"
Further to #266, we'll also need to pass field_uk_postal_address_url through.

In fact, can we add a validation step? If field_uk_postal_address is set to true, field_uk_postal_address_url must be passed through too?

[2015-03-09 15:56] nicolabingham commented on #248
@kinmanli @peterwebster I can edit the license in the Target record and it rolls through to the crawl permission, the reverse is also true, editing the crawl permission rolls through to the target record. I think this is fine if it is just restricted to archivist and sys admin roles.

[2015-03-10 09:18] peterwebster commented on #248
@nicolabingham if a record has two crawl permissions associated with it, to which of those does the change in the target record apply? The most recent?

[2015-03-10 09:23] #173 closed

[2015-03-10 10:17] kinmanli commented on #169
This seems to be working okay. But the QA Status column is showing the "Most Recent" Instance's QA Status, or is it meant to be the same as the selected filter "By QA Status"  @peterwebster @nicolabingham?

http://www.webarchive.org.uk/actdev/qa/list?f=afed.org.uk&qaIssueId=191

[2015-03-10 10:20] kinmanli commented on #194
@peterwebster these is "pre-refactor". Is it working now?

[2015-03-10 10:28] kinmanli commented on #198
"None" template removed in next release

![2015-03-10 10-28-02_w3act](https://cloud.githubusercontent.com/assets/1652105/6573160/2911d0f0-c710-11e4-99e0-6ad11c83e569.png)

[2015-03-10 13:25] kinmanli commented on #212
@GilHoggarth should be fixed now.

[2015-03-10 13:35] kinmanli commented on #286
@GilHoggarth will not delete if it has license(s) (inc higher level ones) and/or collection(s).

![2015-03-10 13-33-40_w3act](https://cloud.githubusercontent.com/assets/1652105/6575798/1cde49a2-c72a-11e4-98a9-45ca1cdc1aa0.png)

[2015-03-10 14:49] kinmanli commented on #294
@anjackson now cannot access that page if you don't have the correct role (sys adm).

[2015-03-10 14:59] kinmanli commented on #295
@PsypherPunk can we call it "uk_postal_address_url" as the other one (field_uk_postal_address_url) was used for importing from Andy's Act?

[2015-03-10 16:12] PsypherPunk commented on #295
Yes, that's fine.

[2015-03-11 09:04] nicolabingham commented on #194
@peterwebster @kinmanli I can't see the duplicates in the reports view

[2015-03-11 09:39] peterwebster opened #296 "Duplicate values in Selection Type field"
In the  target record, the drop-down picker for this field has the Selection option in twice, the first of which doesn't work.

Assigning to @anjackson for milestone etc

[2015-03-11 09:56] kinmanli commented on #296
@peterwebster is that in edit Target?

[2015-03-11 10:28] kinmanli commented on #295
@GilHoggarth fixed.

Please use "field_uk_postal_address" and "uk_postal_address_url" @PsypherPunk

[2015-03-11 10:44] peterwebster opened #297 "Exception error when applying date filter in Reports"
When applying the date filter to the Open UKWA Licences at https://webarchive.org.uk/act/reports I get

Execution exception[[RuntimeException: java.lang.StackOverflowError]]

cc @anjackson for info: have added this to the next milestone

[2015-03-11 10:53] peterwebster opened #298 "Reports>Target Creation page: default behaviour of date filter"
At the minute, when the user first loads this page, the start date defaults to today.

https://webarchive.org.uk/act/reportscreation/targets/?s=createdAt&o=desc&curator=-1&organisation=-1&startDate=11-03-2015&tld=either

This is one of the least likely uses of the filter, and so I'd suggest that it defaults to <no date set>. As a result, the user will get the full list of all targets.

If @nicolab

[2015-03-11 10:57] peterwebster opened #299 "Open UKWA Licence requests from 2012?"
Can @anjackson think where the pre-production crawl permissions reported here could have come from ?

https://webarchive.org.uk/act/reports

[2015-03-11 11:12] peterwebster commented on #296
@kinmanli it was while editing a record. Assigning to @nicolabingham to test or close as appropriate.

[2015-03-11 11:35] peterwebster opened #300 "Script checking for new instances in QA Wayback running correctly in /act ?"
@anjackson @GilHoggarth

Could we check that this script is running overnight as intended ? I ask because there are later instances at:
https://www.webarchive.org.uk/act/wayback/*/http://www.actionaid.org.uk/

which are not reflected at:
https://webarchive.org.uk/act/instances/listbytarget?t=4137

[2015-03-11 11:52] anjackson commented on #300
That script is currently disabled, as it turned out that W3ACT isn't supposed to know about ALL of the Instances. It makes more sense for the crawlers to tell W3ACT about selected Instances instead.

[2015-03-11 13:02] peterwebster opened #301 "Redirection of nomination form on UKWA to ACT"
@anjackson is probably on the case, I'm sure, but: has the UKWA nomination form been redirected from SPT to ACT?

https://webarchive.org.uk/act/nominations/list

[2015-03-11 13:07] peterwebster opened #302 "Search term should not be required on QA Dashboard"
https://webarchive.org.uk/act/qa/list

It isn't possible just to filter the list here by collection/QA Status without also entering a search term.

Archivists may want just to see all the targets in a collection, or all targets with a particular QA Status, without a search term.

Does @nicolabingham agree?

[2015-03-11 13:09] nicolabingham commented on #298
agree with @peterwebster's suggested change above

[2015-03-11 13:11] peterwebster opened #303 "External links to open in new windows"
https://webarchive.org.uk/act/instances/listbytarget?t=2902

The archival and live links here should open in a new browser window/tab, I think. The mid-crawl one is OK.

Does @nicolabingham agree?

[2015-03-11 13:15] nicolabingham commented on #301
@peterwebster this is on Trac, http://tickets.wa.bl.uk/trac/ticket/2325. I think @PsypherPunk is working on it.
It looks like you have to enter the name/URL of the nomination to return results. Will there also be a list reporting all the nominations that have come in through UKWA?

[2015-03-11 13:16] nicolabingham commented on #302
@peterwebster yes, agree, we would also want to filter on those terms.

[2015-03-11 13:17] nicolabingham commented on #303
@peterwebster yes, opening the links in a new browser window is preffered.

[2015-03-11 13:18] nicolabingham commented on #303
sp *preferred*

[2015-03-11 13:36] PsypherPunk commented on #300
Being handled in #278, FYI.

[2015-03-11 15:22] nicolabingham commented on #248
@peterwebster correct, the change applies to the most recent crawl permission.

[2015-03-11 15:24] nicolabingham commented on #248
@peterwebster yes, agree that editing crawl permissions should only be done in the crawl permission not the target record to avoid confusion.

[2015-03-11 15:33] nicolabingham commented on #296
This has been fixed now, the options are selection or nomination but the default is selection, which is correct.

[2015-03-11 15:33] #296 closed

[2015-03-12 12:52] peterwebster commented on #303
Assigning for @anjackson for milestone

[2015-03-12 12:54] peterwebster commented on #248
Assigning to @anjackson for milestone.

The requirement is that the status of a crawl permission (Granted, Pending etc) should only be editable in the crawl permission itself, and not from the target record view (because there can be a many-to-one relation between targets and crawl permissions

[2015-03-12 14:54] hhockx opened #304 "Non .uk domain checking error"
http://www.ukbiologycompetitions.org/, using a non .uk domain is showing as UK top-level domain in ACT, which is incorrect.
![nonukdomain](https://cloud.githubusercontent.com/assets/6706274/6620255/a630aae4-c8c7-11e4-9f6f-58fdd1efd689.PNG)

[2015-03-12 14:57] kinmanli commented on #304
to change url.contains('.uk') to url.endsWith('.uk')

[2015-03-12 15:01] PsypherPunk commented on #304
Not sure you can use `endsWith()` either as a seed might not necessarily be a slash-page. i.e. `http://www.blah.org/something.uk` would match incorrectly.

[2015-03-12 15:03] kinmanli commented on #304
@PsypherPunk but you can do it on the domain level???

[2015-03-12 15:05] PsypherPunk commented on #304
Yeah, if you can parse out just the host then yes, that'll work (I presume it takes into account all in-scope TLDs; `.london`, `.wales`, etc.?).

[2015-03-12 15:06] kinmanli commented on #304
@PsypherPunk there is a domain field in FieldUrl's table.

[2015-03-12 15:43] kinmanli commented on #304
@GilHoggarth fixed and ready for redeploy

[2015-03-12 15:54] anjackson commented on #304
Well, this is pretty serious. Adding a bug-fix 1.0.2 milestone for this and any other minor fixes.

[2015-03-12 22:59] kinmanli commented on #304
Fixed, also @GilHoggarth to run:
[code]
The same way as he ran the other .sh files for Act. This is because some old data URL's didn't have the domain name extracted and saved to the domain column. This should do it as 'top level domain' uses it now. https://github.com/ukwa/w3act/blob/master/app/uk/bl/export/UpdateFieldUrlDomains.java

[2015-03-13 09:36] kinmanli opened #305 "Export Button on Target Results page not working"
Export Button on Target Results page not working

[2015-03-13 11:32] kinmanli commented on #305
Hi @romankarl checked in the code for the export. But will not work with https://github.com/ukwa/w3act/tree/ddhapt as it has a different model. Also, after clicking on export you need to send it back in the response and there are areas in the app where exporting needs to do that.

[2015-03-13 12:56] nicolabingham opened #306 "Unable to edit schedule in target"
I am unable to edit the schedule in this Target https://www.webarchive.org.uk/act/targets/9449. When selecting a different schedule and then saving I get the error message "It is not possible to attach an Open UKWA Licence directly to a target in this way. Please initiate the licensing process using the green button below"

[2015-03-13 13:07] kinmanli commented on #306
@nicolabingham do you want to try and replicate it on actdev? It should work on there. I don't think act has the latest code.

[2015-03-13 13:10] nicolabingham commented on #306
@kinmanli it works on actdev, thanks. Should I leave this ticket open till the next deployment of code onto /act/ ?

[2015-03-13 13:11] kinmanli commented on #306
@nicolabingham yes, then we can confirm it with @GilHoggarth

[2015-03-13 14:15] kinmanli commented on #305
[exporting_targets.feature](https://github.com/ukwa/w3act/blob/master/test/bdd/exporting_targets.feature)

[2015-03-13 14:17] kinmanli commented on #304
[topleveldomain_check.feature](https://github.com/ukwa/w3act/blob/master/test/bdd/topleveldomain_check.feature)

[2015-03-13 14:18] peterwebster opened #307 "Target URL not showing in license form"
In the web form (within production W3ACT) that a site owner needs to populate to grant a licence, the URL field shows the target title, not the URL.

@kinmanli I'll see whether I can't replicate it again, in order to get a screenshot.

[2015-03-13 14:21] kinmanli commented on #307
Is it this one @peterwebster? https://github.com/ukwa/w3act/issues/288

[2015-03-13 14:24] peterwebster commented on #307
@kinmanli yes ! Perhaps I should just stop....

[2015-03-13 14:24] #307 closed

[2015-03-13 14:26] peterwebster opened #308 "Missing link to privacy statement in licence form"
![image](https://cloud.githubusercontent.com/assets/5520710/6640085/fc3adcf0-c98c-11e4-9013-7c5f39438800.png)

[2015-03-13 14:27] peterwebster commented on #308
I'm not sure where the text for this is @nicolabingham ?

[2015-03-13 14:31] nicolabingham commented on #308
@peterwebster I think it's this one: http://www.webarchive.org.uk/ukwa/info/privacy

[2015-03-16 10:17] kinmanli commented on #308
![2015-03-16 10-05-52_w3act](https://cloud.githubusercontent.com/assets/1652105/6664190/a55cfe78-cbc5-11e4-9067-c80dcc027bcd.png)
![2015-03-16 10-06-05_uk web archive](https://cloud.githubusercontent.com/assets/1652105/6664189/a55cae6e-cbc5-11e4-9fda-dfee18b452dd.png)

[2015-03-16 14:36] kinmanli commented on #305
Fixed @GilHoggarth

[2015-03-16 14:41] kinmanli commented on #297
@GilHoggarth fixed https://github.com/ukwa/w3act/commit/eab89548adda3243a24cc2c403268fab1dad71df

[2015-03-16 15:08] kinmanli commented on #293
@PsypherPunk does this look good to you?
[code]

[2015-03-16 15:10] PsypherPunk commented on #293
Yes, that looks correct.

[2015-03-16 15:15] kinmanli commented on #293
@GilHoggarth checked in. Ready for @PsypherPunk to test

[2015-03-16 16:00] kinmanli commented on #270
@nicolabingham are we leaving this page as it is?

![2015-03-16 15-59-38_w3act](https://cloud.githubusercontent.com/assets/1652105/6670250/7b33ec26-cbf5-11e4-95c8-820620bae974.png)

[2015-03-16 16:08] kinmanli commented on #194
@GilHoggarth seems to be fixed now

[2015-03-16 16:09] kinmanli commented on #240
@GilHoggarth ready to close?

[2015-03-16 16:16] kinmanli commented on #248
@peterwebster @nicolabingham so do you want this drop down to change to just text now ?

![2015-03-16 16-13-29_w3act](https://cloud.githubusercontent.com/assets/1652105/6670611/8d9260bc-cbf7-11e4-923a-6970828c2a0c.png)

[2015-03-16 16:36] kinmanli commented on #298
Fixed, please deploy @GilHoggarth

Now defaults with no start date and a full list of targets @peterwebster @nicolabingham

![2015-03-16 16-35-54_w3act](https://cloud.githubusercontent.com/assets/1652105/6671047/8b30450c-cbfa-11e4-81f1-0e6b103a08b2.png)

[2015-03-16 16:59] kinmanli commented on #302
Fixed. added an apply button for the filters too for convenience. @peterwebster @nicolabingham.

Needs redeploying @GilHoggarth

![2015-03-16 16-53-50_w3act](https://cloud.githubusercontent.com/assets/1652105/6671533/c3e19164-cbfd-11e4-993e-0eaf78f52fe7.png)

[2015-03-17 10:20] peterwebster opened #309 "Remnant of small bug fixes/enhancements"
On the wiki is a page in which bugs and enhancements were recorded before October 2014, from which they were then logged in Github in priority order. This needs some sort of review and assessment, and any significant ones to be brought forward to Github.

(i) those with a green tick are resolved
(ii) Some lines have open Github tickets already, as indicated
(iii) The remainder are still 'live' alt

[2015-03-18 09:47] kinmanli commented on #303
@peterwebster @nicolabingham this has now been fixed with:

[code]

[2015-03-18 10:36] nicolabingham commented on #303
@kinmanli could we make the links to the Targets listed on these pages open in a new tab please?
https://webarchive.org.uk/act/reports - >  Target URL
https://webarchive.org.uk/act/reportscreation/targets/ - > Target URL
https://webarchive.org.uk/act/crawlpermissions/list - > Target URL
and the mementos link from here?
https://webarchive.org.uk/act/instances/list?f=bbc - > Mementos link

[2015-03-18 10:58] nicolabingham commented on #248
@peterwebster @kinmanli yes, changed to text please.

[2015-03-18 11:08] nicolabingham commented on #270
@kinmanli can we remove "None" from the filters for Curator, Organisation, Crawl Frequency, Depth and Flag. Retain "None" as a filter for License. @peterwebster I think "None" equals filter for sites that do not have a licence?

[2015-03-18 11:15] nicolabingham commented on #169
@kinmanli @peterwebster the QA status column is supposed to be the same as the 'By QA Status' filter that has been applied, sorted by the most recent instances at the top of the list.

[2015-03-18 11:18] peterwebster commented on #309
Also on the wiki is a document bringing together all the outstanding requirements (as opposed to the small fixes identified above)

[2015-03-18 11:24] nicolabingham commented on #262
@peterwebster @kinmanli is it possible to present the collection terms in the same way that they appear on this page http://www.webarchive.org.uk/actdev/collections/list?s=title i.e., nest the collection terms so that the main collection headings can be expanded to show sub-categories?

[2015-03-18 11:47] nicolabingham opened #310 "Create new Flag for video content"
Curators commonly request that video content on a website is archived. This is often picked up through a manual process outside the normal workflow/crawling. Could Sys Admin add a new Flag in Taxonomies -> named 'Video Content to add'.
The selectors would then have option to use this on the Target page in the metadata tab under 'Flag(s): To flag record for attention by a web archivist: http://www.

[2015-03-18 12:10] anjackson opened #311 "Add bookmarklet to the lookup page footer"
I'd like us to add a hyperlink that can be used as a bookmarklet, like the one [published here by Delicious](https://delicious.com/tools), but pointing to W3ACT, like this:
[code]

[2015-03-18 13:06] nicolabingham opened #312 "Set English as default language selection in Target tab"
Could we make the language field ('Language (The predominant language in which the page is written):)'  in the Metadata tab of the Target record default to English? The selector can then expand the drop down menu to select a different language if it is not English.

[2015-03-18 13:15] nicolabingham opened #313 "Bilingual website language settings"
@peterwebster @kinmanli There is a requirement, particularly from NLW, to assign more than one language to a website. Could we have a second Language field in the Target record for dual language sites?

[2015-03-18 13:32] nicolabingham opened #314 "Increase window in browse Collections view"
Could the window for displaying the Collections on this page https://webarchive.org.uk/act/collections/list?s=title be made any bigger so that the Collections are displayed more effectively? There is a lot of blank space that could be made use of on this page.

[2015-03-18 13:49] kinmanli commented on #305
@nicolabingham

[2015-03-18 13:52] nicolabingham commented on #305
@kinmanli thanks, this is working in actdev

[2015-03-18 13:53] kinmanli commented on #289
@PsypherPunk

Done the Target update. For "put" updates are via an end point like the following:

https://webarchive.org.uk/act/api/targets/74

[code]

[2015-03-18 13:55] PsypherPunk commented on #289
Excellent; will test.

[2015-03-18 14:09] nicolabingham opened #315 "Remove justification field"
@kinmanli @peterwebster can we remove the Justification field from the Metadata tab in the Target records? The original purpose of this field in pre-LD days was to justify archiving a site in case we were challenged about the legality of web archiving. Now, the Selector Notes and Archivist Notes fields give more than enough space for notes.

[2015-03-18 14:10] kinmanli commented on #289
collections update still to do though

[2015-03-18 15:51] PsypherPunk opened #316 "Duplicate URL Detection & HTTP(S)"
When testing for the existence of a URL (including just in the search box) w3act should ignore the protocol—i.e. it should match both `http://bl.uk/` and `https://bl.uk`.

[2015-03-18 16:03] kinmanli commented on #316
@PsypherPunk you talking about this search box?

![2015-03-18 16-02-34_w3act](https://cloud.githubusercontent.com/assets/1652105/6713105/36a4ce6a-cd88-11e4-90c4-fe5d7f054816.png)

[2015-03-18 16:23] anjackson commented on #316
Note that this also applies to whatever checks are in place when someone tries to create a Target with the same URI as an existing Target. Same URL but different http/https should count as a match there too.

[2015-03-18 16:26] PsypherPunk commented on #316
That's the one I meant (although if there's any other place you can search for a URL the same should apply).

[2015-03-19 09:19] nicolabingham commented on #237
@anjackson Commenting on DDHAPT_User_Interface_Design_V0 9_2014-11-25.docx
3.8 Add Tag Workflow. In Taxonomies > Open Tags, can the term 'Open Tags' be changed to 'Tags'. Similarly in the Search/Add bar can the text be changed from 'Enter Open Tag Name' to 'Enter Tag Name' ?

[2015-03-19 09:28] nicolabingham commented on #237
@anjackson Commenting on 3.14 User Language
Settings > Export LookUps.
Change 'LookUps' to 'Reports', so that the title is 'Export Reports'
Suggested help text for users "

[2015-03-19 09:33] nicolabingham commented on #237
I will discuss the reports with @anjackson before writing the help text.

[2015-03-19 09:36] nicolabingham commented on #237
@anjackson Commenting on 3.21 Wording URL
Targets > Look up a URL
Can the term 'mid-crawl' be replaced with 'QA view' and 'archival' be replaced with 'UKWA' ?

[2015-03-19 09:43] nicolabingham commented on #237
@anjackson Commenting on 3.43
Users & Agencies > Roles > Role archivist
do the the assigned permission names have to have underscores in them? It would be better if they could be removed as they would look more user friendly, but this is only a very minor point and not worth changing if there are other implications

[2015-03-19 13:37] nicolabingham opened #317 "Include date permission sent in crawl permissions list"
Could we include the date at which the permission was sent on this page https://webarchive.org.uk/act/crawlpermissions/list?status=PENDING and allow the list to be sorted in date order?

[2015-03-19 14:02] nicolabingham commented on #262
@peterwebster the Reports QA view seems to cover all the reporting requirements included here https://intranet.bl.uk:8443/confluence/display/WAG/ACT+Requirements apart from
(b) instances newly available in reading rooms
(c) new instances committed from ACT to UKWA
I don't know if ACT would be able to report on these or whether it would be generated from the access tools.

[2015-03-19 14:08] kinmanli commented on #289
@anjackson

Do you mean the first level of the collection tree?

reports Targets that are in exactly that category, not one of its children.
Do you need the recursive one with the children, as I can just ignore the 'children' field?

![2015-03-19 13-38-52_mozilla firefox](https://cloud.githubusercontent.com/assets/1652105/6731524/528201b0-ce3d-11e4-8eb0-7325687dbf05.png)

[2015-03-20 15:31] kinmanli commented on #316
Added Feature here:
https://github.com/ukwa/w3act/blob/master/test/bdd/features/url_check.feature

and test data here: https://github.com/ukwa/w3act/blob/master/conf/targets.yml

[2015-03-21 21:05] kinmanli opened #318 "License links in view goes to the same place"
Clicking on a license link...

![screen shot 2015-03-21 at 21 02 36](https://cloud.githubusercontent.com/assets/1652105/6766820/bae1ccfa-d00d-11e4-82fc-cf0c814e4077.png)

... goes to the same view.

![screen shot 2015-03-21 at 21 04 11](https://cloud.githubusercontent.com/assets/1652105/6766827/ed90ce12-d00d-11e4-9588-0a653bef9bd7.png)

[2015-03-23 09:52] kinmanli commented on #318
@nicolabingham @peterwebster are licenses editable/viewable individually?

[2015-03-23 09:55] kinmanli commented on #316
Needs deploying @GilHoggarth

[2015-03-23 10:29] nicolabingham commented on #318
@kinmanli, yes they are.

[2015-03-23 10:34] kinmanli commented on #248
fixed @GilHoggarth

![2015-03-23 10-29-55_w3act](https://cloud.githubusercontent.com/assets/1652105/6778095/b8b911d2-d147-11e4-8259-54fd46cd8cbe.png)

![2015-03-23 10-30-24_w3act](https://cloud.githubusercontent.com/assets/1652105/6778098/ba2c35e4-d147-11e4-9986-2229028ac911.png)

[2015-03-23 10:56] kinmanli commented on #303
@nicolabingham @GilHoggarth fixed and checked in

[2015-03-23 11:09] kinmanli commented on #311
@anjackson so you want it to add a "lookup/search" to your bookmarks?

[2015-03-23 12:44] GilHoggarth commented on #316
@kinmanli Has this been tested on /actdev?

[2015-03-23 12:46] GilHoggarth commented on #305
Labelled '1 - Ready' as tested and working on /actdev.

[2015-03-23 12:48] kinmanli commented on #316
@GilHoggarth I've only tested it locally

[2015-03-23 12:50] PsypherPunk commented on #293
Can confirm this is working in /actdev.

[2015-03-23 13:05] GilHoggarth commented on #304
@kinmanli Has this been tested on /actdev?

[2015-03-23 13:06] kinmanli commented on #304
@GilHoggarth not tested on actdev

[2015-03-23 13:07] GilHoggarth commented on #303
@kinmanli Has this been tested on /actdev?

[2015-03-23 13:08] kinmanli commented on #303
@GilHoggarth think we need to test all of these on actdev

[2015-03-23 13:08] GilHoggarth commented on #302
@kinmanli Has this been tested on /actdev?

[2015-03-23 13:17] PsypherPunk commented on #289
I've made a PUT to http://www.webarchive.org.uk/actdev/targets/17356 with these data:

    {
        "uk_postal_address_url": true,
        "id": 17356,
        "field_uk_postal_address_url": "http://www.theguardian.com/"
    }

However, I get a 404, `Sorry, that page does not exist.`.

[2015-03-23 14:08] kinmanli commented on #289
@GilHoggarth when was the last deploy to actdev?

[2015-03-23 14:24] GilHoggarth commented on #289
Earlier this morning, ~1am?

[2015-03-23 15:43] GilHoggarth commented on #316
Assigned to @PsypherPunk for testing on /actdev.

[2015-03-23 15:43] GilHoggarth commented on #311
@kinmanli to test on /actdev.

[2015-03-23 15:47] GilHoggarth commented on #304
@kinmanli Please test on /actdev.

[2015-03-23 15:48] GilHoggarth commented on #303
GilHoggarth to test.

[2015-03-23 15:49] GilHoggarth commented on #302
@nicolabingham Please test on /actdev.

[2015-03-23 15:50] GilHoggarth commented on #301
@PsypherPunk I think this work isn't complete yet, but please test on /actdev when it's done.

[2015-03-23 15:52] GilHoggarth commented on #299
@anjackson I'm not seeing this as a question that will be fixed in 1.0.2, but if it is, could more detail/understanding be added to this ticket.

[2015-03-23 15:52] GilHoggarth commented on #298
@nicolabingham Please test on /actdev.

[2015-03-23 15:53] GilHoggarth commented on #295
@PsypherPunk Please test on /actdev.

[2015-03-23 15:54] GilHoggarth commented on #290
GilHoggarth to test on /actdev.

[2015-03-23 15:55] GilHoggarth commented on #289
Think this issue is still being worked on, but can @PsypherPunk test on /actdev when ready.

[2015-03-23 15:55] GilHoggarth commented on #288
GilHoggarth to test on /actdev.

[2015-03-23 15:56] GilHoggarth commented on #287
@anjackson Please test on /actdev.

[2015-03-23 15:57] GilHoggarth commented on #286
GilHoggarth to test on /actdev.

[2015-03-23 15:58] GilHoggarth commented on #277
GilHoggarth to test on /actdev.

[2015-03-23 15:58] kinmanli commented on #311
@GilHoggarth this one is not ready yet. Need @anjackson answer to the above.

[2015-03-23 15:59] nicolabingham commented on #298
@GilHoggarth fixed, the default start date has been removed and the full list of targets is returned.

[2015-03-23 16:03] GilHoggarth commented on #248
Tried reading ticket but lost plot! @nicolabingham can you test this on /actdev please.

[2015-03-23 16:05] GilHoggarth commented on #240
@nicolabingham Can you test this again on /actdev - it's a while since this was commented on and it's best to ensure that this still works correctly.

[2015-03-23 16:08] GilHoggarth commented on #212
@nicolabingham Please test, including a newer domain suffix, on /actdev.

[2015-03-24 08:55] nicolabingham commented on #302
@GilHoggarth Tested on /actdev. The apply button works on the filters, you do not have to enter a search term to return results. Can be closed.

[2015-03-24 08:55] #302 closed

[2015-03-24 09:00] nicolabingham commented on #248
@GilHoggarth I am a bit lost on this ticket too but the latest requirement was to make the licencing uneditable in the Target record even by the Archivist. Licences can only be edited via Crawl permissions.The licence is no longer editable in the target record.

[2015-03-24 09:01] #248 closed

[2015-03-24 09:09] nicolabingham commented on #240
@GilHoggarth This works for all of the NPLD criteria except for Professional Judgement. @peterwebster is this what is intended for this field?

[2015-03-24 09:28] nicolabingham commented on #212
@GilHoggarth I was able to save websites with .scot, .london and .cymru suffixes. They were all saved and passed the UK top level domain test.
I entered a malformed URL (htt://www.nicolaagain.co.uk) into the lookup URL bar. There is no error message at this stage. Could we have one at this point informing the user that the URL is malformed? When I select Add to create a target with this malformed

[2015-03-24 09:30] nicolabingham commented on #212
@GilHoggarth I was able to add this URL, without any TLD: http://www.nicelife
I think that is a malformed URL and should not have been accepted?

[2015-03-24 09:45] PsypherPunk commented on #316
Testing this on /actdev; appears to be a regression. If I enter a existing URL in the search box, no results are shown in the drop-down:

![error](https://cloud.githubusercontent.com/assets/722120/6798994/340e071c-d20a-11e4-92da-482df2fc8e81.png)

However, in the current /act deployment it finds results:

![okay](https://cloud.githubusercontent.com/assets/722120/6799033/71c67760-d20a-11e4-997c-21c

[2015-03-24 09:50] GilHoggarth commented on #212
@kinmanli Can you inviestigate these issues please.

[2015-03-24 10:22] GilHoggarth commented on #303
@nicolabingham The destination of the mid-crawl link, e.g., https://www.webarchive.org.uk/actdev/wayback/*/http://www.38degrees.org.uk/, doesn't work - it instead redirects to the UKWA website. What should this do?

Nicola's list of 4 links to open in a new tab work correctly.

[2015-03-24 10:27] GilHoggarth commented on #290
Tested on /actdev, Publish status seen by 'user'.

[2015-03-24 10:36] GilHoggarth commented on #288
Sorry @nicolabingham , I can't find the licence form that Andy mentions to test if this is resolved. Can you test please.

[2015-03-24 10:41] GilHoggarth commented on #286
Succeeded in deleting http://www.nicelife from /actdev. However, there's a whole bunch of variations above, when to delete, when to not delete etc., so @nicolabingham can you test this to ensure you're happy with the current solution.

[2015-03-24 10:50] GilHoggarth commented on #277
Tested on /actdev and seen as complete.

[2015-03-24 10:51] nicolabingham commented on #303
@GilHoggarth It looks like the mid-crawl and archival links are the wrong way round.
Mid-crawl should link to: http://www.webarchive.org.uk/wayback/archive/*/http://www.conservatives.com/
Archival should link to: http://www.webarchive.org.uk/ukwa/target/101940/source/search

Where the Target is not to be published (we don't have a license) in the case of http://www.38degrees.org.uk/, Archival shou

[2015-03-24 10:52] GilHoggarth commented on #303
Ah, @kinmanli The mid-crawl link is going to https on /actdev again - the URL above works as expected when http is used.

[2015-03-24 10:53] kinmanli commented on #316
@PsypherPunk that target available on actdev? Have you tried the creating a new target and entering that url?

[2015-03-24 10:55] kinmanli commented on #303
@GilHoggarth I'm sure it pulls out the server_name from the .conf file?

[2015-03-24 10:59] PsypherPunk commented on #316
Yes, the URL's the first in the list:

![error](https://cloud.githubusercontent.com/assets/722120/6800203/3d58bd80-d214-11e4-92ad-7b1eb8046fb8.png)

If I search for it, it finds the result and correctly flags that it already exists with `http` or `https` but it's just that initial drop-down that's seemingly failing to match full URLs. It does, however, seem to find partial matches, although any `/

[2015-03-24 11:02] GilHoggarth commented on #303
@kinmanli Aha, yes, the application.conf again says https!

[2015-03-24 11:03] nicolabingham commented on #288
@GilHoggarth the link is the one that the website publisher receives in an email to their online licence form. Tested - the form now shows the URL in the correct field.

[2015-03-24 11:03] #288 closed

[2015-03-24 11:05] kinmanli commented on #316
@PsypherPunk I'm sure that's how an autocomplete is meant to work according to your pictures

[2015-03-24 11:05] GilHoggarth commented on #303
Have amended on github but will wait until after redeploy tonight to test again.

[2015-03-24 11:09] PsypherPunk commented on #316
See earlier picture re. _"current /act deployment"_—the current, live version of w3act will match full URLs, the version deployed to actdev does not.

[2015-03-24 11:11] kinmanli commented on #316
@GilHoggarth When was the last deployment on /act?

[2015-03-24 11:15] nicolabingham commented on #286
@GilHoggarth I want to be able to delete my test sites e.g. 'nicola's test site 1' 	http://www.nicolatest1.co.uk/ and 'Test to be deleted again again' 	http://www.nicolawebsite.cymru but am unable to.

[2015-03-24 11:40] GilHoggarth commented on #316
@kinmanli Last night (cronjob every night at midnight.)

[2015-03-24 11:42] kinmanli commented on #316
@GilHoggarth @PsypherPunk so there shouldn't be a difference between actdev and act?

[2015-03-24 11:44] GilHoggarth commented on #316
@kinmanli @PsypherPunk  Ah, my mistake - nightly cronjob is for /actdev (didn't spot that you were asking about /act.) /act, our production service, was last started March 5.

[2015-03-24 11:51] GilHoggarth commented on #286
@nicolabingham What's the problem that's means you're unable to delete this sites?

(Personally I think this deletion of targets is complicated and maybe a clearer statement of the conditions when a target can and cannot be deleted is needed?)

[2015-03-24 12:03] nicolabingham commented on #286
@GilHoggarth in this instance it's mainly for housekeeping. There may be situations when a user wants to delete a target created in error, although we could handle this with 'never crawl' and adding appropriate notes.

[2015-03-24 13:43] nicolabingham opened #319 "Report on Licences by Date Granted"
In Reports http://www.webarchive.org.uk/actdev/reports -> Open UKWA Licences -> Granted could we report on Date Granted? At the moment the report gives the Date Requested.
Assigning to @GilHoggarth in the first instance.

[2015-03-24 13:47] GilHoggarth commented on #319
@kinmanli Note no milestone defined as yet.

[2015-03-24 15:52] PsypherPunk commented on #295
I'm POSTing the following to: http://www.webarchive.org.uk/actdev/api/targets

    {
      "field_subjects": [
        "189"
      ],
      "field_crawl_frequency": "annual",
      "field_urls": [
        "http://www.nottheguardian.com/commentisfree/2015/feb/10/tories-britain-democracy-auction-party-funds-donors"
      ],
      "field_crawl_end_date": "1425877200",
      "title": "Guardian, The: T

[2015-03-24 18:01] kinmanli commented on #316
@PsypherPunk are you saying that /act is working as expected and /actdev isn't for the lookups?

Creating new and edit Targets - url check on save should be working correctly though.

[2015-03-24 18:51] kinmanli commented on #295
@PsypherPunk I think it's the ' apostrophe in the title.

[2015-03-24 23:28] kinmanli commented on #212
@GilHoggarth

At the moment this reg ex states:

[code]

this is valid url http://nicelife
but this is invalid http://www.nicelife

Need to look at the reg ex

[code]

[2015-03-25 10:34] kinmanli commented on #316
trimmed off http:// and https:// when it's entered.

![2015-03-25 10-32-42_w3act](https://cloud.githubusercontent.com/assets/1652105/6822791/48060d02-d2da-11e4-965c-758a59d4ec32.png)

[2015-03-25 10:44] kinmanli commented on #316
@GilHoggarth may need redeploying on actdev?

/actdev is erroring on lookup

![2015-03-25 10-41-04_w3act](https://cloud.githubusercontent.com/assets/1652105/6822946/7f5692da-d2db-11e4-967c-f3b4f87983d5.png)

/act is working okay.
![2015-03-25 10-42-03_w3act](https://cloud.githubusercontent.com/assets/1652105/6822957/96df6a76-d2db-11e4-8d5e-adeff5030e45.png)

locally

![2015-03-25 10-43-44_w3act](h

[2015-03-25 11:50] GilHoggarth commented on #303
Tested http://www.webarchive.org.uk/actdev/instances/listbytarget?t=2902
* mid-crawl "stays in window" and goes to the Legal Deposit QA Openwayback search results page
* archival opens in a new tab and goes to the UKWA wayback search results page
* live opens in a new tab and goes to the live site

@nicolabingham I think these are correct and as required - can you just confirm please (no need to t

[2015-03-25 11:51] kinmanli commented on #316
@GilHoggarth do you know why this request...

"NetworkError: 404 Not Found - http://www.webarchive.org.uk/actdev/targets/filterbyjson/http%3A%2F"

...is not working on actdev but okay on the others?

[2015-03-25 11:52] GilHoggarth commented on #295
@PsypherPunk I wonder if this was troublesome because /actdev had picked up the wrong https protocol? That's been corrected overnight so please retest.

[2015-03-25 11:58] GilHoggarth commented on #316
Hmm. @kinmanli Can you give me a complete URL that 404s and the equivalent that works please.

[2015-03-25 12:02] kinmanli commented on #316
if you type in '/' it 404s on actdev

[2015-03-25 12:36] GilHoggarth commented on #316
@kinmanli I'm not getting what you mean, complete URLs please

[2015-03-25 12:37] kinmanli commented on #316
@GilHoggarth any url that has a '/' in it gives a 404 on /actdev such as http://bbc.co.uk

[2015-03-25 12:43] GilHoggarth commented on #316
http://www.webarchive.org.uk/actdev/wayback/20131218131116/http://1000schools1000girlscclef.blogspot.co.uk/ works for me...

[2015-03-25 13:08] GilHoggarth opened #320 "Record last logged in time of users"
The ability to know when users have logged in was very useful in the original Drupal version of /act. Could the new w3act version record the last logged in date/time, in perhaps the creator database table?

This needn't be any more complicated than this - it doesn't have to be visible via the UI or reportable via an API etc.

[2015-03-25 13:22] GilHoggarth opened #321 "Implement Collections feature"
From March 24 team meeting, Nicola asked when will the Collections feature be added into w3act. Talking to Kinman I understand that needs further clarification. Previously this has been discussed in #289 but is repeated here again as it's a different piece of development work.

And, questions from Kinman

Do you mean the first level of the collection tree?

Do you need the recursive one with the c

[2015-03-25 13:27] kinmanli commented on #212
@nicolabingham you now cannot save 'http://www.nicelife' as a Target.

If you now enter that url and click 'search' or 'add' it will show an error message.

![2015-03-25 13-27-19_w3act](https://cloud.githubusercontent.com/assets/1652105/6825458/adf42e42-d2f2-11e4-9bb7-033c8aa3ed3a.png)

[2015-03-25 13:36] nicolabingham commented on #303
@GilHoggarth correct except can mid-crawl open in a new window please?

[2015-03-25 13:43] GilHoggarth commented on #303
@kinmanli Think this is an easy one, can you add your `rel="external"` for the mid-crawl Instance List link please.

[2015-03-25 13:45] kinmanli commented on #303
@GilHoggarth done https://github.com/ukwa/w3act/commit/6956268d190ca84a5193074f489c5c3b6cc669e6

[2015-03-25 13:51] GilHoggarth commented on #286
@nicolabingham Given that the duff URLs (www.nicelife etc.) are on /actdev, do you think the deletion solution works as required?
@kinmanli Given that the duff URLs (www.nicelife etc.) are on /actdev, do you think that Nicola can't delete her test sites above because effectively the tables have broken key data in them due to different code versions?

Basically, do we think this is a working soluti

[2015-03-25 13:53] kinmanli commented on #286
@GilHoggarth it cannot be removed if it has a license (or higher license) and/or belongs to a collection

[2015-03-25 13:54] GilHoggarth commented on #303
GilHoggarth to test on March 26 after overnight /actdev redeploy.

[2015-03-25 14:04] GilHoggarth commented on #286
I've just added a new test site (http://gilhtest.wales), saved it, browsed it, then deleted it. However, afterwards I'm still able to see it via Browse Targets.
@kinmanli Are any values set automatically that would not allow a target to be deleted? (I.e., is a default licence set?) I didn't set anything other than the site title and URL but see that it logically matched the LD Criteria being `.wal

[2015-03-25 14:10] romankarl opened #322 "sorting curators by role shows an SQLException"
If you try to sort curators by role you get an SQLException.

http://www.webarchive.org.uk/actdev/curators/list?s=roles

So either the sorting should be fixed or the sorting link should be removed.

[2015-03-25 14:10] kinmanli commented on #289
@PsypherPunk @GilHoggarth I get the following on /actdev. It seems to work locally and probably on /act. It maybe the same issue as this ticket regarding /actdev https://github.com/ukwa/w3act/issues/316
[code]

[2015-03-25 14:11] GilHoggarth commented on #322
Assigning to Andy for inclusion in appropriate milestone.

[2015-03-25 16:15] kinmanli commented on #286
@GilHoggarth just checked in and tested it locally. Should delete now (honest)

[2015-03-26 10:22] GilHoggarth commented on #286
Checked on /actdev and now seems to be working - removed  http://gilhtest.wales and http://www.nicolawebsite.madeup

[2015-03-26 10:26] GilHoggarth commented on #212
Gone through examples above (listed as BDD tests) and all found to work as expected.

[2015-03-26 10:27] GilHoggarth commented on #240
Reassigned to @peterwebster as last question asked.

[2015-03-26 10:32] kinmanli commented on #316
@GilHoggarth I think this is a different thing now as it only happens on /actdev

[2015-03-26 10:35] anjackson commented on #321
Good question. It's meant to mirror the value we can PUT/POST there, which I think means it should report ALL the categories in the collection tree.

I don't quite understand that, but i think so yes. If I look at a top-level collection, I only want the targets that are in that collection, not one of it's sub-collections.

It's a timestamp at millisecond precision. I'd like it at seconds precision

[2015-03-26 10:42] anjackson commented on #287
Works. Now appears at the bottom of the page.
![screen shot 2015-03-26 at 10 42 05](https://cloud.githubusercontent.com/assets/87843/6844643/c50084e8-d3a4-11e4-9843-fa5c0d844444.png)

[2015-03-26 10:43] anjackson commented on #311
For an example, see the  'installing the bookmarklet' section on this page: http://www.webarchive.org.uk/mementos/search

[2015-03-26 11:51] PsypherPunk opened #323 "Facility for Bulk Upload"
Although we do have the Create/Update API, we might want to consider permitting users to upload spreadsheets directly to w3act.

We would have to formalise the format of anything uploaded and discuss with @nicolabingham as to the exact requirements.

[2015-03-26 12:37] GilHoggarth commented on #287
Ready for test after release.

[2015-03-26 15:18] kinmanli commented on #321
A "Target" now shows it's "collections/categories"

http://localhost:9000/actdev/api/targets/1/categories

[code]

A "Collection" now shows it's "Targets"

http://localhost:9000/actdev/api/collections/2/targets

[code]

Timestamp now in seconds

[code]

[2015-03-27 10:21] kinmanli commented on #321
@anjackson to review the above prior to deployment to /actdev

[2015-03-27 11:04] kinmanli commented on #319
this is currently reporting on target createdAt date. Will need to add another column to the link entity license_target for the date.

[2015-03-27 11:11] anjackson commented on #319
Whut? The system is not recording the date the license was granted?!

[2015-03-27 11:11] kinmanli commented on #316
@GilHoggarth there seems to be an issue with /actdev. Seems to be fine locally and on /act

![2015-03-27 11-10-20_w3act](https://cloud.githubusercontent.com/assets/1652105/6866604/f4e444c4-d471-11e4-911d-caf8e7a93013.png)

[2015-03-27 11:13] anjackson commented on #321
Looks good.

[2015-03-27 11:15] anjackson commented on #316
Has /actdev/ got the same Apache proxy config? e.g. that directive that stops it Apache over-sanitising the URLs.

[2015-03-27 12:37] GilHoggarth commented on #316
/actdev is configured on firefox over http, /act is done over https. /act also has several cache control headers set. Beyond this though, both /actdev and /act are configured the same.

[2015-03-27 12:51] PsypherPunk commented on #295
Still getting a `404` PUTting the above (get a `401` if POSTing).

[2015-03-27 12:53] GilHoggarth commented on #321
Waiting to be tested on /actdev.

[2015-03-27 13:00] PsypherPunk commented on #295
Scratch that: no idea what's going on but I'm just getting `401` errors when trying to POST _any_ new data, with or without the new fields.

[2015-03-27 13:04] kinmanli commented on #304
@GilHoggarth fixed and working on actdev

![2015-03-27 13-04-18_w3act](https://cloud.githubusercontent.com/assets/1652105/6868238/ce6bcd70-d481-11e4-91a3-5573aced1fd2.png)

[2015-03-27 13:07] kinmanli commented on #289
@GilHoggarth same issue as this comment onwards https://github.com/ukwa/w3act/issues/316#issuecomment-86903618

[2015-03-27 13:17] PsypherPunk commented on #295
Finally remembered to use Basic authentication; verified that the new fields are passed through.

[2015-03-27 13:30] PsypherPunk commented on #289
Made a successful PUT using the earlier data. It returns a `200` but the data [here](http://www.webarchive.org.uk/actdev/targets/17356) are not updated. The log, however, says `bean is unchanged`.

[2015-03-27 13:51] GilHoggarth commented on #304
Solve update... script

[2015-03-27 13:54] PsypherPunk commented on #289
PUTting these data:

    {
      "uk_postal_address_url": "http://www.theguardian.com/",
      "id": 17516,
      "field_uk_postal_address": true
    }

Seeing this in the log:

    error: com.fasterxml.jackson.databind.JsonMappingException: Can not instantiate value of type [simple type, class models.Target] from String value; no single-String constructor/factory method

[2015-03-27 13:57] anjackson commented on #240
I'll answer instead: A ticked Professional Judgement should also mean you can't select 'No LD Critera met'.

[2015-03-27 14:26] kinmanli commented on #289
@PsypherPunk Did you do it with this endpoint? http://www.webarchive.org.uk/actdev/targets/17516

[2015-03-27 14:33] PsypherPunk commented on #289
Okay, tested in on [17516](http://www.webarchive.org.uk/actdev/api/targets/17516) and [17356](http://www.webarchive.org.uk/actdev/api/targets/17356) and now they both work.

[2015-03-27 15:03] kinmanli commented on #240
@GilHoggarth fixed

![2015-03-27 15-01-46_w3act](https://cloud.githubusercontent.com/assets/1652105/6870204/6aac1b1c-d492-11e4-95e8-8311348c886b.png)

[2015-03-30 11:52] GilHoggarth commented on #240
AFAI understand, this is done - ready to be tested after production deployment.

[2015-03-31 09:14] GilHoggarth commented on #319
For clarity, Andy asks if this situation is correct - does the w3act service record anywhere the date a licence is granted, or not?

[2015-03-31 09:21] kinmanli commented on #319
@GilHoggarth No it doesn't. The view was using the Target's created date. It will probably need a date/timestamp field added to the license_target table.

[2015-03-31 09:32] GilHoggarth commented on #319
Assigned to Andy for further action/change of milestone?

[2015-03-31 09:36] anjackson opened #324 "Expected behaviour when a 'user' is editing a target"
When I, a mere 'user', edits a Target's 'Crawl policy and schedule', I see this:

![editing-crawl-freq](https://cloud.githubusercontent.com/assets/87843/6916138/956e55b6-d791-11e4-9634-3bb96e137b5f.png)

Just wanted to check that that was the expected behaviour. Also, given that I can't select anything other than 'Domain Crawl Only', I'm not sure this should be shown as a drop-down list? Or indeed

[2015-03-31 13:40] PsypherPunk opened #325 "Target's 'created_at' Field in Exports"
A Targets `updatedAt` field is currently exposed in the frequency-based exports:

    {
        id: 74,
        url: "act-106",
        updatedAt: 1423490850064,
        title: "BBC News: Homepage",
        language: null,
        revision: "initial revision",
        ...

Can we also expose the `createdAt` field in the same way?

[2015-03-31 13:51] kinmanli commented on #325
@PsypherPunk @GilHoggarth createdAt field now exposed

![2015-03-31 14-46-58_mozilla firefox](https://cloud.githubusercontent.com/assets/1652105/6920234/34155a98-d7b5-11e4-82d7-1f2193f7893c.png)

[2015-03-31 14:30] GilHoggarth commented on #325
Assigned to Andy for milestone.

[2015-03-31 15:01] kinmanli commented on #324
@anjackson if the user is NOT sys admin, archivist or an expert user it will show this view. There was a ticket about this which @peterwebster raised.

[2015-04-01 16:51] PsypherPunk opened #326 "'End date' Not Editable"
As seen [here](https://www.webarchive.org.uk/act/targets/84), although an _End date_ is present in the Target, it doesn't show when editing and thus can't be changed/removed.

[2015-04-02 11:52] PsypherPunk commented on #326
It looks like the field _is_ editable but the stored value isn't displayed in the _Edit_ view.

However, there's seemingly no way to clear the current value.

[2015-04-02 12:25] romankarl commented on #326
It is fixed in ddhapt-merge. You may want to cherry-pick it in master.

[2015-04-02 13:31] romankarl commented on #326
It was even more complex but now removing the end date is also possible.

[2015-04-07 12:34] nicolabingham commented on #286
@GilHoggarth if a Target has a Granted licence then we should not be able to delete it.

[2015-04-07 13:09] GilHoggarth commented on #286
@nicolabingham This detail (not being able to delete a granted licence) hasn't been mentioned before so I don't know if this is correctly implemented in the code or not. I assume this is difficult to test as we wouldn't want to test and discover we actually have deleted a granted licence.
I'll raise this as a question outside of this milestone.

[2015-04-07 13:12] GilHoggarth opened #327 "Shouldn't be possible to delete a granted licence"
Related to #286, it should not be possible to delete a licence if it hasn't already been granted. However, I'm not sure how simple it might be to clarify what will happen if this is attempted - wouldn't want to actually delete a licence from a live granted site.
Assigning to Andy for milestone specification.

[2015-04-07 13:28] GilHoggarth commented on #321
Have checked https://www.webarchive.org.uk/act/api/targets/1/categories and https://www.webarchive.org.uk/act/api/targets/1/targets but not results, probably not understanding how this is used.
Assigning to Roger to live testing.

[2015-04-07 13:31] GilHoggarth commented on #316
Checked on just live released v1.0.2 with "https://" in the target input box; offered both http and https gov.uk sites.
Considered working correctly.

[2015-04-07 13:31] #316 closed

[2015-04-07 13:32] GilHoggarth commented on #308
@nicolabingham I think this needs to be tested in the process of adding a new licence - can you test please.

[2015-04-07 13:33] GilHoggarth commented on #306
@nicolabingham Another test for live.

[2015-04-07 13:34] GilHoggarth commented on #305
@nicolabingham Another - as you tested on /actdev can you test on live /act please.

[2015-04-07 13:38] PsypherPunk commented on #289
Tested, fixing Trac#2472 in the process.

[2015-04-07 13:38] #289 closed

[2015-04-07 13:40] GilHoggarth commented on #304
Created https://gilsfictiousukurl.org on live - it didn't identify it as a UK top-level domain. Target deleted, ticket closed.

[2015-04-07 13:40] #304 closed

[2015-04-07 13:41] GilHoggarth commented on #303
Tested on live /act - mid-crawl, archive, and live all open in a new window.

[2015-04-07 13:41] #303 closed

[2015-04-07 13:44] nicolabingham commented on #306
@GilHoggarth tested on live act, works as expected.

[2015-04-07 13:45] GilHoggarth commented on #306
Thus ticket closed.

[2015-04-07 13:45] #306 closed

[2015-04-07 13:47] GilHoggarth commented on #298
@nicolabingham Fraid I don't understand this ticket - can you test please.

[2015-04-07 13:48] nicolabingham commented on #305
@GilHoggarth tested on live act, working as expected.

[2015-04-07 13:49] GilHoggarth commented on #305
Closing.

[2015-04-07 13:49] #305 closed

[2015-04-07 13:51] GilHoggarth commented on #290
Tested on live /act; seen working as expected.

[2015-04-07 13:51] #290 closed

[2015-04-07 13:52] GilHoggarth commented on #295
@PsypherPunk Please test on live /act.

[2015-04-07 13:56] GilHoggarth commented on #287
Tested and working on live /act.

[2015-04-07 13:56] #287 closed

[2015-04-07 13:56] nicolabingham commented on #308
@GilHoggarth tested in a new licence form. the link is now correct.

[2015-04-07 13:58] GilHoggarth commented on #308
Closing.

[2015-04-07 13:58] #308 closed

[2015-04-07 14:24] nicolabingham commented on #298
@GilHoggarth this is fixed, the start date for the reports is empty. The use case scenario is that when generating reports on targets created there is never a use case when the report should start from today's date.

[2015-04-07 14:25] GilHoggarth commented on #298
Closing.

[2015-04-07 14:25] #298 closed

[2015-04-07 14:31] GilHoggarth commented on #286
Tested on live /act with http://giltest.wales - created and then deleted target without issue.

[2015-04-07 14:31] #286 closed

[2015-04-07 14:36] PsypherPunk commented on #295
Tested, fixing Trac#2496.

[2015-04-07 14:36] #295 closed

[2015-04-07 14:37] GilHoggarth commented on #277
Guess the necessary changes need to be rolled out onto the live /act wayback server, i.e., not part of the w3act deployment. Assigning to Roger for the necessary changes.

[2015-04-07 14:41] GilHoggarth commented on #257
Tested with my own account. As admin marked account as closed - couldn't log in. Re-enabled account and all back to normal.

[2015-04-07 14:41] #257 closed

[2015-04-07 14:43] GilHoggarth commented on #240
@nicolabingham Given there seems to be many variations to what is the criteria for Legal Deposit, can you test again please.

[2015-04-07 14:49] GilHoggarth commented on #212
Still not working - allows http://www.duffurl.coaaa to be save.

[2015-04-07 14:55] GilHoggarth commented on #212
Ah, Roger raises that with the new, lax domain names, this could be a valid URL. Leaving this ticket as open so it gets considered, but potentially this ticket is thus closed.

[2015-04-07 14:57] nicolabingham opened #328 "Robots.txt checkbox missing from UI"
In the Crawl Policy and schedule tab in a Target record there should be a checkbox against "Ignore Robots txt". The options, we *think* should be "true or "false".
Assigning to @GilHoggarth to assign

[2015-04-07 14:59] GilHoggarth commented on #194
Difficult to see any duplicates in URL example as there's 5000+ targets to consider. But couldn't see any in the first 100.
@nicolabingham Is there an easier way to clarify this as working (or not)?

[2015-04-07 15:00] GilHoggarth commented on #328
Assigning to Andy for milestone inclusion.

[2015-04-07 15:04] PsypherPunk commented on #212
Looks like IANA do actually [publish](https://github.com/ukwa/w3act/issues/212#issuecomment-90591488) a list of registered TLDs. Potentially this could be integrated.

[2015-04-07 15:13] nicolabingham commented on #240
@GilHoggarth this has been fixed including with the 'professional judgement' criteria, which is correct behaviour.

[2015-04-07 15:14] GilHoggarth commented on #240
Closing.

[2015-04-07 15:14] #240 closed

[2015-04-07 15:16] nicolabingham commented on #194
@GilHoggarth what filters did you use to build this report?

[2015-04-07 15:18] PsypherPunk opened #329 "Nominating Organisation Missing in Export"
Although two fields, `field_nominating_organisation` and `field_nominating_org` are present in the export their values are always `null`.

We need this information to correctly generate statistics.

[2015-04-07 15:18] GilHoggarth commented on #326
Checked in live /act - End date is now an editable box (via a calendar), though i didn't actually use it to test it.
Considered fixed.

[2015-04-07 15:18] #326 closed

[2015-04-07 15:20] nicolabingham commented on #194
@GilHoggarth, no sorry, I can't think of an easier way to test this, but I can't see any duplicates either.

[2015-04-07 15:21] GilHoggarth commented on #194
Ah, basically none. Used the /act version of Kinman's example (i.e., https://www.webarchive.org.uk/act/reportscreation/targets/?s=createdAt&o=desc&startDate=31-10-2014&tld=either) and just clicked Apply.

[2015-04-07 15:21] GilHoggarth commented on #194
Fine, think this passes the issue Peter raised.

[2015-04-07 15:21] #194 closed

[2015-04-13 11:12] PsypherPunk opened #330 "'nevercrawl' Should Visible to 'archivist' Only"
The 'nevercrawl' schedule should be available only to `archivist` users. This is specifically for Targets which we *absolutely must not crawl* rather than simply for Targets which we no longer want to crawl *frequently*.

[2015-04-16 07:31] nicolabingham opened #331 "Implement report on crawled instances on 'Look up a URL' screen"
In Andy's ACT the system reported on crawled instances in addition to whether a Target record existed or not from the 'Look up URL' screen. Could this be implemented in W3ACT please?

![act_small](https://cloud.githubusercontent.com/assets/11210500/7176049/c5c3cf1a-e412-11e4-9a68-13b224c1e918.png).
This information is only currently available by searching Wayback separately.

[2015-04-16 15:00] PsypherPunk commented on #321
According to the [routes](https://github.com/ukwa/w3act/blob/master/conf/routes) file, it looks like there's a mechanism for updating Collections:

    PUT /api/collections/:id controllers.CollectionController.collectionUpdate(id:Long)

...but not one for *creating* new ones (i.e. a `POST`).

[2015-04-16 19:44] anjackson commented on #321
This should work now, I think

    curl -v -H "Content-Type: application/json" -X POST -d '{"name": "Test Collection"}' -u wa-sysadm@bl.uk:XXXX http://localhost:9000/act/api/collections

[2015-04-17 15:28] PsypherPunk commented on #321
Confirmed this works on /actdev.

[2015-04-21 12:00] nicolabingham opened #332 "Cannot edit exisiting targets"
When trying to add an additional seed to an existing W3ACT record we get the error message:

“Seed URL already associated with a current Target https://www.webarchive.org.uk/act/targets/5101”

The target is the record we want to edit meaning we are unable to save the record.

Two Targets where this has occurred are:

https://www.webarchive.org.uk/act/targets/22041

https://www.webarchive.org.uk/ac

[2015-04-21 12:02] GilHoggarth commented on #332
Assigned to Andy for milestone consideration.

[2015-04-21 13:03] nicolabingham opened #333 "Licences do not roll through to sub domains"
When entering a URL which is a sub-section of a site for which we already have permission, the UKWA Licencing tab in the W3ACT record does not reflect the fact that we have a Granted licence.

We have a licence for the site http://www.thebureauinvestigates.com/ Target [14804] (https://www.webarchive.org.uk/act/targets/14804)

For the sub-section of the same site (Target record [22093] (https://www

[2015-04-22 10:08] nicolabingham commented on #321
@PsypherPunk @anjackson should we see the updated collection data from WCT in /actdev/ now? The collection taxonomies are still not up to date. There are also quite a few of the collections that are not listed at all in /actdev/. I have a list of the collections and targets we should be seeing in Excel, but can't attach that type of file here.

[2015-04-22 10:26] anjackson commented on #321
Commit 9a4746aec19ea454ed55088323c4632842d4b251 removed the check for uniqueness on collection name.

[2015-04-23 08:22] nicolabingham commented on #332
Cannot add Description to an existing Target in the Description field in the Metadata tab. I tried to add a description to this Target [22226] (https://www.webarchive.org.uk/act/targets/22226) but on saving I get the error message "Seed URL already associated with a current Target https://www.webarchive.org.uk/act/targets/22226"

[2015-04-23 11:54] nicolabingham commented on #332
@anjackson Svenja Kunze, Bodleian Library reports that she can add records but not edit them after saving. An example is [Target 22104] (https://www.webarchive.org.uk/act/targets/22104). After saving the record she cannot edit the crawl frequency or NPLD criteria.
The same is also true for this [Target 22269] (https://www.webarchive.org.uk/act/targets/22269) none of the fields can be edited after

[2015-04-23 13:37] nicolabingham opened #334 "Permissions issue"
The link to the licence form we sent to a website publisher does not work (https://www.webarchive.org.uk/act/ukwa/licenseform/7dec446a-46c7-4930-98c9-825c9597f0c6). We are unable to send the permission request again.
Although the permission status says Queued, the Crawl Permission has disappeared from the Queue.
![pcs](https://cloud.githubusercontent.com/assets/11210500/7298213/02ea3d94-e9c6-11e4-

[2015-05-06 09:43] GilHoggarth opened #335 "Multiple mmdbs open"
Production /act was unresponsive this morning (Wed May 6). Running `lsof -p ....` showed that there were many (~20) handles open for `/opt/w3act-1.0/GeoLite2-City.mmdb`. This suggests to me that these aren't being closed after use; alternatively W3ACT should open once and reuse.

[2015-05-06 11:10] GilHoggarth commented on #335
@romankarl Checking this issue on DDHAPT, at the current moment I checked, there wasn't any usage of this `GeoLite2-City.mmdb` file - has the DDHAPT usage of this file been worked upon?
If yes, might DDHAPT improve the closing of this file thus not leave them left open?
If no, does DDHAPT not typically use this file for document harvesting?

[2015-05-06 11:12] romankarl commented on #335
Yes, I've fixed this issue already in DDHAPT.

[2015-05-06 11:15] GilHoggarth commented on #335
Was it a difficult problem to fix or could we easily add this correction into the older W3ACT service?

[2015-05-06 11:25] romankarl commented on #335
It was not such a complex change. You should be able to fix this by just using the current version of
https://github.com/ukwa/w3act/blob/ddhapt-merge/app/uk/bl/scope/Scope.java also in W3ACT. The specific changes were made in commit https://github.com/ukwa/w3act/commit/e423f0c23bd4b5feab8dd96d0c7a0ec563c30cdd.

[2015-05-06 11:59] GilHoggarth commented on #335
Assigned to Andy for consideration of implementation.

[2015-05-07 13:15] anjackson opened #336 "Add URL sanity-check based on testing whether it works"
Instead of attempting tight validation of URLs (see #212), I recommend we perform only fairly loose validation but combine it with a HTTP check. Any valid Target URL should resolve and respond to a HTTP GET, and so we can report whether this is so and warn the user if not.

Note that this should be a warning rather than a hard validation error, as it's possible the site is just down at the time.

[2015-05-07 13:15] anjackson commented on #212
Moved sanity-checking to a new issue: #336

[2015-05-07 13:15] #212 closed

[2015-05-07 13:43] GilHoggarth commented on #327
It should NOT be possible to delete a granted licence... closed.

[2015-05-07 13:43] #327 closed

[2015-05-07 13:45] GilHoggarth opened #337 "Test to ensure not possible to delete target with granted licence"
Related to #286 and #327, this ticket is to test and verify that it is indeed not possible to delete a target that has a granted licence.

[2015-05-13 10:46] nicolabingham commented on #337
@GilHoggarth tested on live /act.
I was unable to delete this Target: https://www.webarchive.org.uk/act/targets/22082. After selecting the delete button, the error message 'are you sure?' appears. Clicking 'ok' brings up the error message 'Unable to delete Target as it references License(s) and/or Collections(s)'. This is correct behaviour.

[2015-05-13 10:47] GilHoggarth commented on #337
Sounds successful to me - closing.

[2015-05-13 10:47] #337 closed

[2015-05-13 14:49] nicolabingham opened #338 "Unable to add new types of licence to W3ACT"
We have a requirement to attribute granted permissions to sites that are covered by external licences such as the Open Government Licence. Currently there is no option for the Archivist to create these in W3ACT so that they appear in the UKWA Licencing tab of a target record e.g. https://www.webarchive.org.uk/act/targets/2887/edit#licensing for selection.

[2015-05-15 09:54] nicolabingham opened #339 "Execution Error when generating reports"
Attempting to generate a report of web archiving licences granted results in an Execution error "Execution exception[[RuntimeException: java.lang.StackOverflowError]]". This is from the reports page https://www.webarchive.org.uk/act/reports. Adding filters in any combination and selecting 'Apply' or 'Download' returns the error.

[2015-05-15 10:47] PsypherPunk opened #340 ""Back" Behaviour Inconsistent"
When clicking on some search results, going *back* from the resulting page does not take you to the previous page. This suggests we're not implementing simple GETs; given the fun this caused in WCT this is *bad*.

* Go to any Target.
* Go to *Look Up URL*.
* Enter a search term.
* When the list of possible matches appears, click on one of the Target (NB. do *not* click "Search" or press return).
*

[2015-05-15 13:04] anjackson commented on #340
Appears to be because the JavaScript is using ```window.location.replace()``` (http://stackoverflow.com/questions/11844430/back-button-fails-after-window-location-replacehref)

Solution is to replace with ```window.location.href =""```

[2015-05-15 13:07] anjackson commented on #340
Should be testable once actdev has deployed.

[2015-05-18 10:27] PsypherPunk opened #341 "License Information Not Exposed"
For sites exposed via the `/by` exports, the license information does not display in the export. There are two fields, `licenseStatus` and `field_license` which should presumably be affected by the presence of license information but both are empty or `null` in every case.

Where license information is present, that information should be visible in the feed.

Additionally, when building SIPs for c

[2015-05-18 12:02] anjackson commented on #323
Initial sketch added in 85a02bb but putting aside for now.

[2015-05-19 09:36] PsypherPunk commented on #341
This is currently how we store information for Selective crawls:

    <mets:amdSec ID="amdPermission">
      <mets:rightsMD ID="rmPermission">
        <mets:mdWrap MDTYPE="OTHER" OTHERMDTYPE="wctpermissions">
          <mets:xmlData>
            <wct:Permissions>
              <wct:Permission>
                <wct:State>2</wct:State>
                <wct:StartDate>2010-03-10 00:00:00</wct:StartDat

[2015-05-20 10:08] anjackson opened #342 "Consider re-factoring to bring 'notable URLs' directly under Targets"
The current model of Targets and loosely-related child Targets is very clumsy for a very common use case where we want to just pick out a specific URL from an existing target.

That class of 'Target' could be added as a direct child object of the main Target, implicitly inheriting all the Target's properties. It would consist of really just:

* URL
* Timestamp or time range.
* Collection

This is

[2015-05-20 14:21] nicolabingham commented on #334
Changing this to high priority. We have had another two reports today of the licence form links not working. The first example is: https://www.webarchive.org.uk/act/crawlpermissions/1147(we've asked for a screen grab of the error message). I can't view the other crawl permission due to the bug about crawl permissions disappearing from the queue reported above.

[2015-05-20 20:55] anjackson commented on #334
Could you add some links to all the targets for which licence forms have failed? Maybe they have something in common.

[2015-05-21 07:50] nicolabingham commented on #334
@anjackson Thanks. I have asked Dorota to provide this information.

[2015-05-21 08:15] dorotawalker commented on #334
I've got three examples:

https://www.webarchive.org.uk/act/targets/17903 has the licence link https://www.webarchive.org.uk/act/ukwa/licenseform/608134a3-9c47-41af-958a-f7c78ffa5598. I've got the screenshot as well:

![tmpccef](https://cloud.githubusercontent.com/assets/12541602/7744238/798a3646-ff99-11e4-9b14-b2d145cd0036.jpg)

https://www.webarchive.org.uk/act/targets/21326 has the licence link

[2015-05-21 08:20] nicolabingham commented on #244
@anjackson We are getting frequent requests from Expert_Users to edit robots.txt settings, which currently on Archivists can do. I think it would make sense to give Expert_Users the ability to do this. All Expert_Users are trained in the Robots protocol and so understand the consequences. Can we enable this in the Future Production Release or Second Production Deployment?

[2015-05-21 08:25] nicolabingham commented on #334
@dorotawalker Many thanks Dorota. Could you add any further examples to this ticket in the same way please.

[2015-05-21 08:29] dorotawalker commented on #332
It's the same for the https://www.webarchive.org.uk/act/targets/2902. Originally the crawl was set with an end date, but I would like to set a new crawl without an end date. After deleting the end date and saving, the system still shows the end date.

[2015-05-21 10:18] anjackson commented on #334
How odd.

* For Target 17903 there is a crawl permission entry but with a different token.
* For Target 21326 there is no log of any crawl permission at all!
* For Target 2972 (BBFC) the licence URL works fine (AFAICT).

I'll keep digging.

[2015-05-21 10:42] dorotawalker commented on #334
That's the screenshot for the https://www.webarchive.org.uk/act/targets/21326

![screenshot](https://cloud.githubusercontent.com/assets/12541602/7746941/5e19b534-ffae-11e4-8aae-3d22deb2f9af.jpg)

[2015-05-21 10:43] nicolabingham commented on #334
@dorotawalker do we have any granted licences coming back successfully?

[2015-05-21 11:46] dorotawalker commented on #334
There are some. In May we have received licences for:

https://www.webarchive.org.uk/act/targets/23200 (1st May);
https://www.webarchive.org.uk/act/targets/23328 (6th May);
https://www.webarchive.org.uk/act/targets/26248 (18th May);
https://www.webarchive.org.uk/act/targets/26296 (19th May);
https://www.webarchive.org.uk/act/targets/26299 (19th May).

[2015-05-21 11:58] romankarl opened #343 "licenses are not inherited to child targets"
The current behaviour for inherited licenses does not seem to be appropriate:

For a child target where the parent has a license assigned there is an information banner displayed but the child target

1. still shows  “UKWA Licensing (-)” and
2. is not added to the By-Permissions Crawl Feed

[2015-05-21 13:07] nicolabingham commented on #343
@romankarl I think this is the same as the issue raised in #333? https://github.com/ukwa/w3act/issues/333